In [12]:
# Importing the libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random

from datetime import datetime

In [13]:
# Load the dataset
dataset = pd.read_csv(r'../data/input/raw/240624_validation_data.csv')

# Extract the time, forecasted demand and actual demand
time = dataset['time']
time = pd.to_datetime(time, utc=True)
forecast_demand = dataset['predicted heat']
actual_demand = dataset['delivered heat']

# Create a dataframe
df_data = pd.DataFrame({'time' : time, 'actual_demand': actual_demand, 'forecast_demand': forecast_demand})
df_data['hour']=time.dt.hour

In [14]:
# Select the date for which you want to extract the data
selected_date = '2023-04-01'

# Extract the data for the selected date
daily_date = df_data[df_data['time'].dt.date == pd.to_datetime(selected_date).date()].reset_index(drop=True)
daily_date = daily_date[['time', 'hour', 'actual_demand', 'forecast_demand']]
if(len(daily_date)==24):
    print('The selected date has 24 hours')
else:
    print('The selected date does not have 24 hours')

daily_date

The selected date has 24 hours

                        time  hour  actual_demand  forecast_demand
0  2023-04-01 00:00:00+00:00     0      45.141668        79.256436
1  2023-04-01 01:00:00+00:00     1      71.408335        88.850384
2  2023-04-01 02:00:00+00:00     2     234.970838       166.624694
3  2023-04-01 03:00:00+00:00     3     146.212502       113.137177
4  2023-04-01 04:00:00+00:00     4     131.770836       118.939521
5  2023-04-01 05:00:00+00:00     5     129.470836       124.614834
6  2023-04-01 06:00:00+00:00     6     160.633337       125.941581
7  2023-04-01 07:00:00+00:00     7     168.050002       118.988194
8  2023-04-01 08:00:00+00:00     8     162.475003       113.102637
9  2023-04-01 09:00:00+00:00     9      96.350001       103.574392
10 2023-04-01 10:00:00+00:00    10     103.937502        95.201703
11 2023-04-01 11:00:00+00:00    11      92.187502        89.237267
12 2023-04-01 12:00:00+00:00    12      96.108335        89.438997
13 2023-04-01 13:00:00+00:00    13      90.479168        96.071015
14 2023-04-01 14:00:00+00:00    14     105.829168        94.826570
15 2023-04-01 15:00:00+00:00    15     131.520836       108.253638
16 2023-04-01 16:00:00+00:00    16     108.704169       109.835250
17 2023-04-01 17:00:00+00:00    17     146.858337       113.121458
18 2023-04-01 18:00:00+00:00    18      97.695835       102.266295
19 2023-04-01 19:00:00+00:00    19      93.350001        99.652123
20 2023-04-01 20:00:00+00:00    20      53.241668        74.502484
21 2023-04-01 21:00:00+00:00    21      68.445834        71.973057
22 2023-04-01 22:00:00+00:00    22      86.345834        79.704398
23 2023-04-01 23:00:00+00:00    23      77.495834        84.063026

In [15]:
# Create a dataframe for heat_demand
heat_demand = daily_date

# Extract the timestamp
timestamp_str = heat_demand['time'][0]
timestamp_dt = datetime.strptime(str(timestamp_str), '%Y-%m-%d %H:%M:%S%z')

# Extract the date
formatted_date = timestamp_dt.strftime('%Y%m%d')

# add index t
t = [str(i) for i in range(1,25)]
heat_demand = heat_demand.drop(columns=['time','actual_demand', 'hour'])
heat_demand['t'] = t
heat_demand['forecast_demand'] = heat_demand['forecast_demand'].round(2)

# Reorder the columns
heat_demand = heat_demand[['t', 'forecast_demand']]
heat_demand = heat_demand.rename(columns={"forecast_demand": "heat_demand"})

heat_demand.to_csv(path_or_buf='../data/input/demands/heat_demand_' + formatted_date + '.csv', index = False)

In [21]:
# Erstellung eines Dummy-Datensatzes
heat_demand['heat_demand'] = heat_demand['heat_demand'] / 2

# Speichern des bearbeiteten DataFrame in eine CSV-Datei
heat_demand.to_csv(path_or_buf='../data/input/demands/heat_demand_dummy_' + formatted_date + '.csv', index=False)

---