In [117]:
# Importing the libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats
import json
import copy

In [103]:
with open('../models/config.json', 'r') as f:
    config = json.load(f)

preprocess = config['preprocessing']

In [104]:
# Output Path
OUTPUT_PATH =preprocess['output_path']

# Input Path
INPUT_PATH = preprocess['input_path']

In [105]:
# Load the dataset
dataset = pd.read_csv(INPUT_PATH + '240624_validation_data.csv')

In [106]:
# Select the date for which you want to extract the data
date = '2023-04-03'

# Select the periode for which you want to extract the data
selected_period = 0 # 0 for day, 1 for week, 2 for month

# Number of scenarios to generate
num_scenarios = 10
desired_num_scenarios = 10

In [107]:
# Extract the time, forecasted demand and actual demand
time = dataset['time']
time = pd.to_datetime(time, utc=True)
forecast_demand = dataset['predicted heat']
actual_demand = dataset['delivered heat']

# Create a dataframe with the necessary columns
df_data = pd.DataFrame({'time' : time, 'actual_demand': actual_demand, 'forecast_demand': forecast_demand})
df_data['hour']=time.dt.hour

# Calculate the error and absolute error
df_data['error']= df_data['actual_demand'] - df_data['forecast_demand']

# Calculate the mean of the error for whole dataset
mu_all = df_data['error'].mean()
sigma_all = df_data['error'].std()
print('Mean of of the error of each hour:', mu_all)
print('Standard deviation of the mean of the error of each hour:', sigma_all)

df_data

Mean of of the error of each hour: -8.39020298257356
Standard deviation of the mean of the error of each hour: 31.42172005784749

,time,actual_demand,forecast_demand,hour,error
0,2023-03-02 16:00:00+00:00,254.990005,255.590651,16,-0.600646
1,2023-03-02 17:00:00+00:00,187.787503,237.501176,17,-49.713673
2,2023-03-02 18:00:00+00:00,230.629171,264.220971,18,-33.591800
3,2023-03-02 19:00:00+00:00,233.329169,236.491860,19,-3.162691
4,2023-03-02 20:00:00+00:00,222.775003,216.179837,20,6.595167
...,...,...,...,...,...
2996,2023-07-12 19:00:00+00:00,55.804167,51.912949,19,3.891219
2997,2023-07-12 20:00:00+00:00,14.191667,37.334409,20,-23.142742
2998,2023-07-12 21:00:00+00:00,22.533334,37.278034,21,-14.744700
2999,2023-07-12 22:00:00+00:00,15.287500,37.703201,22,-22.415700
3000,2023-07-12 23:00:00+00:00,11.629167,38.500256,23,-26.871089

In [108]:
# Calculate the mean and standard deviation of the error of each hour of a day. 
error = df_data.groupby('hour')['error'].agg(['mean', 'std']).reset_index()
error  = error.rename(columns={'mean': 'mu', 'std': 'sigma'})

# Save the error data to a dictionary
error_dict = error.set_index('hour').to_dict(orient='index')

# Print the error dictionary
error_dict

{0: {'mu': -12.731658021190215, 'sigma': 25.018753157221795},
 1: {'mu': -8.717701939869812, 'sigma': 25.787822594592562},
 2: {'mu': 38.62809145641247, 'sigma': 40.06221098717317},
 3: {'mu': -11.219355528775246, 'sigma': 35.89610812413864},
 4: {'mu': 4.6619634940865975, 'sigma': 29.89150310430875},
 5: {'mu': -3.1503448513536596, 'sigma': 30.62503489088334},
 6: {'mu': -11.665524616604312, 'sigma': 28.687483429676817},
 7: {'mu': -8.965185204385374, 'sigma': 30.89163216771525},
 8: {'mu': -4.254730131452734, 'sigma': 29.0944311173442},
 9: {'mu': -9.849400683302798, 'sigma': 33.982800569041345},
 10: {'mu': -16.93716965553407, 'sigma': 31.972997351520558},
 11: {'mu': -11.808679656691835, 'sigma': 27.301664271959485},
 12: {'mu': -14.417149987864374, 'sigma': 29.132160670687032},
 13: {'mu': -11.036739802937781, 'sigma': 27.055038468354763},
 14: {'mu': -14.235238982654698, 'sigma': 29.627671262886945},
 15: {'mu': -12.303575238253774, 'sigma': 33.18363957415679},
 16: {'mu': -7.271780019446702, 'sigma': 32.76865061641897},
 17: {'mu': -4.348450417306522, 'sigma': 32.46854456679943},
 18: {'mu': 3.123465743890842, 'sigma': 27.443065670582516},
 19: {'mu': -5.755868928895528, 'sigma': 23.891512340250223},
 20: {'mu': -20.181567376741857, 'sigma': 21.35130825332125},
 21: {'mu': -19.313458712024783, 'sigma': 19.89120193034999},
 22: {'mu': -21.101101864608957, 'sigma': 23.532129804893728},
 23: {'mu': -18.638850401429266, 'sigma': 23.582737207035432}}

In [109]:
# Convert selected_date to datetime with UTC timezone
selected_date = date
selected_date = pd.to_datetime(selected_date, utc=True)

# Determine the start and end dates based on the selected period
if selected_period == 0:  # Day
    start_date = selected_date.normalize()
    end_date = start_date + pd.Timedelta(hours=23)
elif selected_period == 1:  # Week
    start_date = selected_date.normalize()
    end_date = start_date + pd.Timedelta(days=6, hours=23)
elif selected_period == 2:  # Month
    start_date = selected_date.normalize()
    end_date = (start_date + pd.DateOffset(months=1)) - pd.Timedelta(hours=1)
else:
    raise ValueError("selected_period must be 0 (day), 1 (week), or 2 (month)")

# Filter data for the selected period
period_data = df_data[(df_data['time'] >= start_date) & (df_data['time'] <= end_date)].reset_index(drop=True)
period_data = period_data[['time', 'hour', 'actual_demand', 'forecast_demand', 'error']]

# Generate expected timestamps
expected_time = pd.date_range(
    start=start_date,
    end=end_date,
    freq='H',
    tz='UTC'
)

# Check for missing timestamps
missing_time = expected_time.difference(period_data['time'])

print('Expected number of data points:', len(expected_time))
print('Actual number of data points:', len(period_data))

if missing_time.empty:
    print('The selected period has all the expected data.')
else:
    print(f'The selected period is missing {len(missing_time)} data points.')
    print('Missing timestamps:')
    print(missing_time)

# Display the filtered data
period_data

Expected number of data points: 24
Actual number of data points: 24
The selected period has all the expected data.

C:\Users\Paul Wilhelm\AppData\Local\Temp\ipykernel_14448\1721325174.py:23: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  expected_time = pd.date_range(

                        time  hour  actual_demand  forecast_demand      error
0  2023-04-03 00:00:00+00:00     0     115.450001       115.098197   0.351804
1  2023-04-03 01:00:00+00:00     1     175.525003       138.890325  36.634678
2  2023-04-03 02:00:00+00:00     2     304.204170       275.272401  28.931769
3  2023-04-03 03:00:00+00:00     3     208.912505       191.269467  17.643038
4  2023-04-03 04:00:00+00:00     4     251.229173       207.094822  44.134351
5  2023-04-03 05:00:00+00:00     5     255.120837       203.753332  51.367504
6  2023-04-03 06:00:00+00:00     6     201.050005       200.258381   0.791624
7  2023-04-03 07:00:00+00:00     7     185.095836       187.718257  -2.622421
8  2023-04-03 08:00:00+00:00     8     138.179170       183.580818 -45.401648
9  2023-04-03 09:00:00+00:00     9     141.700001       165.749762 -24.049761
10 2023-04-03 10:00:00+00:00    10      98.695835       156.175397 -57.479562
11 2023-04-03 11:00:00+00:00    11      88.854169       143.394072 -54.539903
12 2023-04-03 12:00:00+00:00    12     102.208335       152.363284 -50.154948
13 2023-04-03 13:00:00+00:00    13     144.333335       171.437521 -27.104187
14 2023-04-03 14:00:00+00:00    14     121.033335       181.668571 -60.635236
15 2023-04-03 15:00:00+00:00    15     181.279170       192.249306 -10.970136
16 2023-04-03 16:00:00+00:00    16     181.800004       201.555549 -19.755546
17 2023-04-03 17:00:00+00:00    17     207.708337       220.129889 -12.421552
18 2023-04-03 18:00:00+00:00    18     160.400002       204.505700 -44.105698
19 2023-04-03 19:00:00+00:00    19     167.179170       180.921055 -13.741885
20 2023-04-03 20:00:00+00:00    20      79.304168       125.156652 -45.852484
21 2023-04-03 21:00:00+00:00    21     110.379169       135.779481 -25.400312
22 2023-04-03 22:00:00+00:00    22     111.491669       133.412958 -21.921289
23 2023-04-03 23:00:00+00:00    23     133.675002       137.074306  -3.399304

---

In [110]:
# Extract the data for the selected date
daily_date = df_data[df_data['time'].dt.date == pd.to_datetime(selected_date).date()].reset_index(drop=True)
daily_date = daily_date[['time', 'hour', 'actual_demand', 'forecast_demand', 'error']]
if(len(daily_date)==24):
    print('The selected date has 24 hours')
else:
    print('The selected date does not have 24 hours')
daily_date

The selected date has 24 hours

                        time  hour  actual_demand  forecast_demand      error
0  2023-04-03 00:00:00+00:00     0     115.450001       115.098197   0.351804
1  2023-04-03 01:00:00+00:00     1     175.525003       138.890325  36.634678
2  2023-04-03 02:00:00+00:00     2     304.204170       275.272401  28.931769
3  2023-04-03 03:00:00+00:00     3     208.912505       191.269467  17.643038
4  2023-04-03 04:00:00+00:00     4     251.229173       207.094822  44.134351
5  2023-04-03 05:00:00+00:00     5     255.120837       203.753332  51.367504
6  2023-04-03 06:00:00+00:00     6     201.050005       200.258381   0.791624
7  2023-04-03 07:00:00+00:00     7     185.095836       187.718257  -2.622421
8  2023-04-03 08:00:00+00:00     8     138.179170       183.580818 -45.401648
9  2023-04-03 09:00:00+00:00     9     141.700001       165.749762 -24.049761
10 2023-04-03 10:00:00+00:00    10      98.695835       156.175397 -57.479562
11 2023-04-03 11:00:00+00:00    11      88.854169       143.394072 -54.539903
12 2023-04-03 12:00:00+00:00    12     102.208335       152.363284 -50.154948
13 2023-04-03 13:00:00+00:00    13     144.333335       171.437521 -27.104187
14 2023-04-03 14:00:00+00:00    14     121.033335       181.668571 -60.635236
15 2023-04-03 15:00:00+00:00    15     181.279170       192.249306 -10.970136
16 2023-04-03 16:00:00+00:00    16     181.800004       201.555549 -19.755546
17 2023-04-03 17:00:00+00:00    17     207.708337       220.129889 -12.421552
18 2023-04-03 18:00:00+00:00    18     160.400002       204.505700 -44.105698
19 2023-04-03 19:00:00+00:00    19     167.179170       180.921055 -13.741885
20 2023-04-03 20:00:00+00:00    20      79.304168       125.156652 -45.852484
21 2023-04-03 21:00:00+00:00    21     110.379169       135.779481 -25.400312
22 2023-04-03 22:00:00+00:00    22     111.491669       133.412958 -21.921289
23 2023-04-03 23:00:00+00:00    23     133.675002       137.074306  -3.399304

---

## Methode: Monte Carlo Sampling and Roulette Wheel Mechanism

In [111]:
import numpy as np
import random
from scipy import stats

# Number of intervals
num_intervals = 7

# Function to randomly select an interval based on the CDF
def select_interval(cumulative_probabilities):
    rnd = random.random()
    for i, cp in enumerate(cumulative_probabilities):
        if rnd <= cp:
            return i
    return len(cumulative_probabilities) - 1

# Get the list of dates in the selected period
date_range = pd.date_range(start=start_date.normalize(), end=end_date.normalize(), freq='D', tz='UTC')

# Initialize dictionaries to store scenario data
scenario_values = {f"Scenario{idx+1}": [] for idx in range(num_scenarios)}
scenario_probs = {f"Scenario{idx+1}": 1 for idx in range(num_scenarios)}

# Generate scenarios for each day
for single_date in date_range:
    # Extract data for the current day
    day_data = period_data[period_data['time'].dt.normalize() == single_date].reset_index(drop=True)
    
    if len(day_data) != 24:
        print(f"Warning: {single_date.date()} does not have 24 hours of data. Skipping this day.")
        continue  # Skip this day or handle as needed
    
    # Generate scenarios for this day
    daily_scenarios = []
    daily_probabilities = []
    
    for scenario_index in range(num_scenarios):
        scenario_name = f"Scenario{scenario_index + 1}"
        scenario = []
        scenario_probability = 1.0  # Initialize the scenario probability
        
        for t in range(24):  # 24 hours in a day
            # Get the hour for the current time step
            hour = day_data['hour'].iloc[t]
            
            # Fetch mu and sigma for the current hour
            mu = error_dict[hour]['mu']
            sigma = error_dict[hour]['sigma']
            
            # Define the intervals
            intervals = np.linspace(mu - 3 * sigma, mu + 3 * sigma, num_intervals + 1)
            interval_centers = (intervals[:-1] + intervals[1:]) / 2
            
            # Calculate probabilities for each interval
            probabilities = [
                stats.norm.cdf(intervals[i + 1], mu, sigma) - stats.norm.cdf(intervals[i], mu, sigma)
                for i in range(len(intervals) - 1)
            ]
            cum_probabilities = np.cumsum(probabilities)
            
            # Select interval index based on cumulative probabilities
            interval_index = select_interval(cum_probabilities)
            
            # Calculate forecast error and add to forecast demand
            forecast_error = interval_centers[interval_index]
            actual_demand = day_data['forecast_demand'].iloc[t] + forecast_error
            scenario.append(actual_demand)
            
            # Multiply the probability of this interval to the scenario probability
            scenario_probability *= probabilities[interval_index]
        
        # Append the scenario values and probabilities for this day
        daily_scenarios.append(scenario)
        daily_probabilities.append(scenario_probability)
    
    # Normalize the daily probabilities
    total_daily_probability = sum(daily_probabilities)
    daily_probabilities = [p / total_daily_probability for p in daily_probabilities]
    
    # Combine daily scenarios into full-period scenarios
    for scenario_index in range(num_scenarios):
        scenario_name = f"Scenario{scenario_index + 1}"
        scenario_values[scenario_name].extend(daily_scenarios[scenario_index])
        scenario_probs[scenario_name] *= daily_probabilities[scenario_index]

# Normalize the scenario probabilities over the entire period
total_period_probability = sum(scenario_probs.values())
for scenario_name in scenario_probs:
    scenario_probs[scenario_name] /= total_period_probability

# Prepare the final data
heat_demand_data = {}
for scenario_name in scenario_values:
    heat_demand_data[scenario_name] = {
        "Probability": scenario_probs[scenario_name],
        "Values": scenario_values[scenario_name]
    }

# Output the scenarios and their normalized probabilities
for scenario_name, data in heat_demand_data.items():
    print(f"{scenario_name}:")
    print(f"Normalized Probability: {data['Probability']:.6f}")
    print(f"Values: {data['Values']}\n")

Scenario1:
Normalized Probability: 0.000010
Values: [80.92189318175656, 130.17262296315096, 245.22241632467546, 149.2820191231661, 237.37807370733728, 253.10304719899185, 139.41431341191125, 152.27452976566926, 154.38800391011623, 214.1565908054405, 139.2382272721925, 154.98681870605043, 187.88698078907726, 160.40078159533218, 167.4333318645294, 265.27508940423496, 166.19635441152656, 243.6116196971276, 231.15179305468766, 216.12206477223805, 141.57732736758896, 150.56522546417145, 92.14145866228243, 138.64923072447516]

Scenario2:
Normalized Probability: 0.010263
Values: [102.36653874508951, 174.38031883959536, 313.90049230268664, 118.51392644533297, 211.7567853322155, 174.35295747957755, 164.00358492306282, 178.75307162371092, 104.51183628038333, 126.77224648504844, 139.2382272721925, 108.18396566840559, 112.97571049302486, 160.40078159533218, 192.82847866128964, 236.83196976924341, 222.37118403967335, 187.9512575826143, 207.6291653370455, 195.64362562345212, 86.67396328762003, 116.46602215500005, 132.48225261352883, 118.43545597558764]

Scenario3:
Normalized Probability: 0.010263
Values: [80.92189318175656, 130.17262296315096, 313.90049230268664, 180.05011180099922, 237.37807370733728, 226.8530172925204, 213.18212794536595, 258.18869719783584, 154.38800391011623, 185.02847603197645, 139.2382272721925, 108.18396566840559, 137.94613392504232, 160.40078159533218, 142.03818506776918, 236.83196976924341, 194.28376922559994, 271.44180075438425, 231.15179305468766, 175.16518647466623, 141.57732736758896, 99.41642050041435, 112.31185563790562, 98.22168122670013]

Scenario4:
Normalized Probability: 0.000323
Values: [59.47724761842359, 152.27647090137316, 313.90049230268664, 180.05011180099922, 186.1354969570937, 200.602987386049, 139.41431341191125, 205.23161348175256, 129.44992009524978, 126.77224648504844, 166.6436535734958, 131.585392187228, 187.88698078907726, 160.40078159533218, 167.4333318645294, 208.38885013425187, 250.45859885374676, 215.78143863987094, 184.10653761940333, 195.64362562345212, 123.27620600759931, 82.36681884582863, 112.31185563790562, 179.0767802222502]

Scenario5:
Normalized Probability: 0.010294
Values: [59.47724761842359, 152.27647090137316, 313.90049230268664, 210.81820447883234, 211.7567853322155, 253.10304719899185, 188.59285643421435, 178.75307162371092, 154.38800391011623, 126.77224648504844, 139.2382272721925, 154.98681870605043, 112.97571049302486, 114.02071564958116, 192.82847866128964, 179.94573049926032, 194.28376922559994, 215.78143863987094, 254.67442077232982, 216.12206477223805, 104.97508464760966, 133.51562380958575, 71.97106168665923, 118.43545597558764]

Scenario6:
Normalized Probability: 0.231692
Values: [80.92189318175656, 108.06877502492875, 245.22241632467546, 210.81820447883234, 211.7567853322155, 226.8530172925204, 188.59285643421435, 125.79598790762762, 204.26417153984914, 126.77224648504844, 139.2382272721925, 154.98681870605043, 137.94613392504232, 160.40078159533218, 142.03818506776918, 179.94573049926032, 166.19635441152656, 187.9512575826143, 231.15179305468766, 154.6867473258803, 86.67396328762003, 99.41642050041435, 112.31185563790562, 138.64923072447516]

Scenario7:
Normalized Probability: 0.653919
Values: [102.36653874508951, 152.27647090137316, 348.2395302916922, 180.05011180099922, 186.1354969570937, 174.35295747957755, 213.18212794536595, 205.23161348175256, 154.38800391011623, 126.77224648504844, 111.83280097088915, 154.98681870605043, 112.97571049302486, 206.7808475410832, 167.4333318645294, 179.94573049926032, 166.19635441152656, 215.78143863987094, 207.6291653370455, 154.6867473258803, 104.97508464760966, 99.41642050041435, 92.14145866228243, 138.64923072447516]

Scenario8:
Normalized Probability: 0.000322
Values: [166.70047543508844, 152.27647090137316, 313.90049230268664, 180.05011180099922, 211.7567853322155, 279.3530771054633, 188.59285643421435, 178.75307162371092, 154.38800391011623, 185.02847603197645, 111.83280097088915, 108.18396566840559, 137.94613392504232, 160.40078159533218, 167.4333318645294, 236.83196976924341, 166.19635441152656, 243.6116196971276, 254.67442077232982, 134.2083081770944, 141.57732736758896, 116.46602215500005, 112.31185563790562, 98.22168122670013]

Scenario9:
Normalized Probability: 0.082003
Values: [59.47724761842359, 130.17262296315096, 348.2395302916922, 180.05011180099922, 186.1354969570937, 174.35295747957755, 213.18212794536595, 125.79598790762762, 179.3260877249827, 155.90036125851245, 111.83280097088915, 108.18396566840559, 187.88698078907726, 183.5908145682077, 167.4333318645294, 123.05949122927726, 166.19635441152656, 215.78143863987094, 207.6291653370455, 175.16518647466623, 104.97508464760966, 116.46602215500005, 132.48225261352883, 138.64923072447516]

Scenario10:
Normalized Probability: 0.000909
Values: [80.92189318175656, 152.27647090137316, 348.2395302916922, 87.74583376749985, 211.7567853322155, 200.602987386049, 188.59285643421435, 125.79598790762762, 204.26417153984914, 155.90036125851245, 166.6436535734958, 154.98681870605043, 187.88698078907726, 137.21074862245666, 142.03818506776918, 151.5026108642688, 222.37118403967335, 215.78143863987094, 207.6291653370455, 154.6867473258803, 50.07172056764074, 133.51562380958575, 112.31185563790562, 138.64923072447516]

In [112]:
period_data

                        time  hour  actual_demand  forecast_demand      error
0  2023-04-03 00:00:00+00:00     0     115.450001       115.098197   0.351804
1  2023-04-03 01:00:00+00:00     1     175.525003       138.890325  36.634678
2  2023-04-03 02:00:00+00:00     2     304.204170       275.272401  28.931769
3  2023-04-03 03:00:00+00:00     3     208.912505       191.269467  17.643038
4  2023-04-03 04:00:00+00:00     4     251.229173       207.094822  44.134351
5  2023-04-03 05:00:00+00:00     5     255.120837       203.753332  51.367504
6  2023-04-03 06:00:00+00:00     6     201.050005       200.258381   0.791624
7  2023-04-03 07:00:00+00:00     7     185.095836       187.718257  -2.622421
8  2023-04-03 08:00:00+00:00     8     138.179170       183.580818 -45.401648
9  2023-04-03 09:00:00+00:00     9     141.700001       165.749762 -24.049761
10 2023-04-03 10:00:00+00:00    10      98.695835       156.175397 -57.479562
11 2023-04-03 11:00:00+00:00    11      88.854169       143.394072 -54.539903
12 2023-04-03 12:00:00+00:00    12     102.208335       152.363284 -50.154948
13 2023-04-03 13:00:00+00:00    13     144.333335       171.437521 -27.104187
14 2023-04-03 14:00:00+00:00    14     121.033335       181.668571 -60.635236
15 2023-04-03 15:00:00+00:00    15     181.279170       192.249306 -10.970136
16 2023-04-03 16:00:00+00:00    16     181.800004       201.555549 -19.755546
17 2023-04-03 17:00:00+00:00    17     207.708337       220.129889 -12.421552
18 2023-04-03 18:00:00+00:00    18     160.400002       204.505700 -44.105698
19 2023-04-03 19:00:00+00:00    19     167.179170       180.921055 -13.741885
20 2023-04-03 20:00:00+00:00    20      79.304168       125.156652 -45.852484
21 2023-04-03 21:00:00+00:00    21     110.379169       135.779481 -25.400312
22 2023-04-03 22:00:00+00:00    22     111.491669       133.412958 -21.921289
23 2023-04-03 23:00:00+00:00    23     133.675002       137.074306  -3.399304

In [113]:
# Periodenbezeichnung definieren
period_str = {0: 'day', 1: 'week', 2: 'month'}

# Datumsstrings fÃ¼r den Dateinamen vorbereiten
start_date_str = start_date.strftime('%Y%m%d')
end_date_str = end_date.strftime('%Y%m%d')
filename_date = f"{start_date_str}_to_{end_date_str}_{period_str[selected_period]}"

# Erstellen des forecast_demand_dict mit der gewÃ¼nschten Struktur
forecast_demand_dict = {
    "heat_demand": {
        str(t + 1): float(demand)
        for t, demand in enumerate(period_data['forecast_demand'])
    }
}

actual_demand_dict = {
    "heat_demand": {
        str(t + 1): float(demand)
        for t, demand in enumerate(period_data['actual_demand'])
    }
}


# Speichern des Forecast Demand in einer JSON-Datei
with open(f'{OUTPUT_PATH}heat_demand_{filename_date}.json', 'w') as json_file:
    json.dump(forecast_demand_dict, json_file, indent=4)

with open(f'{OUTPUT_PATH}actual_heat_demand_{filename_date}.json', 'w') as json_file:
    json.dump(actual_demand_dict, json_file, indent=4)


# Anpassen von heat_demand_data fÃ¼r die gewÃ¼nschte Struktur
# heat_demand_scenarios = {}
# for scenario_name, data in heat_demand_data.items():
#     scenario_dict = {"Probability": data["Probability"]}
#     scenario_dict.update({
#         str(t + 1): float(value)
#         for t, value in enumerate(data["Values"])
#     })
#     heat_demand_scenarios[scenario_name] = scenario_dict

# Speichern der Szenarien in einer JSON-Datei
# with open(f'{OUTPUT_PATH}heat_demand_scenarios_{filename_date}.json', 'w') as json_file:
#     json.dump(heat_demand_scenarios, json_file, indent=4)

# # Laden der Daten bei Bedarf
# with open(f'{OUTPUT_PATH}heat_demand_{filename_date}.json', 'r') as json_file:
#     loaded_forecast_demand = json.load(json_file)

# with open(f'{OUTPUT_PATH}heat_demand_scenarios_{filename_date}.json', 'r') as json_file:
#     loaded_scenarios = json.load(json_file)

In [114]:
print(start_date)
print(end_date)

2023-04-03 00:00:00+00:00
2023-04-03 23:00:00+00:00

## Szenarien Reduktion

### Backward Scenario Reduction Methode

In [115]:
import numpy as np
import copy

# Copy the scenario data
S = copy.deepcopy(heat_demand_data)  # Current scenarios
DS = {}  # Deleted scenarios

# Extract the scenario names
scenario_names = list(S.keys())
num_scenarios = len(scenario_names)

# Extract the number of time periods from one of the scenarios
time_periods = range(len(S[scenario_names[0]]["Values"]))

# Precompute the distances between all pairs of scenarios
distance_matrix = np.zeros((num_scenarios, num_scenarios))

for i in range(num_scenarios):
    for j in range(i + 1, num_scenarios):
        s1 = S[scenario_names[i]]["Values"]
        s2 = S[scenario_names[j]]["Values"]
        # Compute the Euclidean distance
        distance = np.sqrt(sum((v1 - v2) ** 2 for v1, v2 in zip(s1, s2)))
        distance_matrix[i, j] = distance
        distance_matrix[j, i] = distance  # Symmetric matrix

# Perform the scenario reduction
while len(S) > desired_num_scenarios:
    # Step 2: For each scenario nk, determine nr with minimum distance DTk,r
    nearest_neighbor = {}
    for k_idx in range(num_scenarios):
        k_name = scenario_names[k_idx]
        if k_name not in S:
            continue
        distances = [
            (distance_matrix[k_idx, s_idx], scenario_names[s_idx])
            for s_idx in range(num_scenarios)
            if scenario_names[s_idx] in S and scenario_names[s_idx] != k_name
        ]
        if distances:
            min_distance, r_name = min(distances, key=lambda x: x[0])
            nearest_neighbor[k_name] = (min_distance, r_name)
    
    # Step 3: Calculate PDk,r = Pr(k) * DTk,r
    PD = {}
    for k_name in nearest_neighbor:
        Pr_k = S[k_name]["Probability"]
        DTk_r, r_name = nearest_neighbor[k_name]
        PD_k_r = Pr_k * DTk_r
        PD[k_name] = (PD_k_r, r_name)
    
    # Select d for which PDd = min PDk
    d_name, (min_PDd, r_name) = min(PD.items(), key=lambda x: x[1][0])
    
    # Step 4: Remove nd from S, add nd to DS, adjust probabilities
    Pr_d = S[d_name]["Probability"]
    Pr_r = S[r_name]["Probability"]
    S[r_name]["Probability"] = Pr_r + Pr_d
    DS[d_name] = S.pop(d_name)
    
    # Update the scenario names and number of scenarios
    scenario_names = list(S.keys())
    num_scenarios = len(scenario_names)

# Normalize the probabilities again to ensure they sum to 1
total_probability = sum(scenario["Probability"] for scenario in S.values())
for scenario in S.values():
    scenario["Probability"] /= total_probability

# Output the reduced scenarios and their probabilities
print("\nReduced Scenarios:")
for scenario_name, data in S.items():
    print(f"{scenario_name}:")
    print(f"  Normalized Probability: {data['Probability']:.4f}")
    print(f"  Values: {data['Values']}")

Reduced Scenarios:
Scenario1:
  Normalized Probability: 0.0000
  Values: [80.92189318175656, 130.17262296315096, 245.22241632467546, 149.2820191231661, 237.37807370733728, 253.10304719899185, 139.41431341191125, 152.27452976566926, 154.38800391011623, 214.1565908054405, 139.2382272721925, 154.98681870605043, 187.88698078907726, 160.40078159533218, 167.4333318645294, 265.27508940423496, 166.19635441152656, 243.6116196971276, 231.15179305468766, 216.12206477223805, 141.57732736758896, 150.56522546417145, 92.14145866228243, 138.64923072447516]
Scenario2:
  Normalized Probability: 0.0103
  Values: [102.36653874508951, 174.38031883959536, 313.90049230268664, 118.51392644533297, 211.7567853322155, 174.35295747957755, 164.00358492306282, 178.75307162371092, 104.51183628038333, 126.77224648504844, 139.2382272721925, 108.18396566840559, 112.97571049302486, 160.40078159533218, 192.82847866128964, 236.83196976924341, 222.37118403967335, 187.9512575826143, 207.6291653370455, 195.64362562345212, 86.67396328762003, 116.46602215500005, 132.48225261352883, 118.43545597558764]
Scenario3:
  Normalized Probability: 0.0103
  Values: [80.92189318175656, 130.17262296315096, 313.90049230268664, 180.05011180099922, 237.37807370733728, 226.8530172925204, 213.18212794536595, 258.18869719783584, 154.38800391011623, 185.02847603197645, 139.2382272721925, 108.18396566840559, 137.94613392504232, 160.40078159533218, 142.03818506776918, 236.83196976924341, 194.28376922559994, 271.44180075438425, 231.15179305468766, 175.16518647466623, 141.57732736758896, 99.41642050041435, 112.31185563790562, 98.22168122670013]
Scenario4:
  Normalized Probability: 0.0003
  Values: [59.47724761842359, 152.27647090137316, 313.90049230268664, 180.05011180099922, 186.1354969570937, 200.602987386049, 139.41431341191125, 205.23161348175256, 129.44992009524978, 126.77224648504844, 166.6436535734958, 131.585392187228, 187.88698078907726, 160.40078159533218, 167.4333318645294, 208.38885013425187, 250.45859885374676, 215.78143863987094, 184.10653761940333, 195.64362562345212, 123.27620600759931, 82.36681884582863, 112.31185563790562, 179.0767802222502]
Scenario5:
  Normalized Probability: 0.0103
  Values: [59.47724761842359, 152.27647090137316, 313.90049230268664, 210.81820447883234, 211.7567853322155, 253.10304719899185, 188.59285643421435, 178.75307162371092, 154.38800391011623, 126.77224648504844, 139.2382272721925, 154.98681870605043, 112.97571049302486, 114.02071564958116, 192.82847866128964, 179.94573049926032, 194.28376922559994, 215.78143863987094, 254.67442077232982, 216.12206477223805, 104.97508464760966, 133.51562380958575, 71.97106168665923, 118.43545597558764]
Scenario6:
  Normalized Probability: 0.2317
  Values: [80.92189318175656, 108.06877502492875, 245.22241632467546, 210.81820447883234, 211.7567853322155, 226.8530172925204, 188.59285643421435, 125.79598790762762, 204.26417153984914, 126.77224648504844, 139.2382272721925, 154.98681870605043, 137.94613392504232, 160.40078159533218, 142.03818506776918, 179.94573049926032, 166.19635441152656, 187.9512575826143, 231.15179305468766, 154.6867473258803, 86.67396328762003, 99.41642050041435, 112.31185563790562, 138.64923072447516]
Scenario7:
  Normalized Probability: 0.6539
  Values: [102.36653874508951, 152.27647090137316, 348.2395302916922, 180.05011180099922, 186.1354969570937, 174.35295747957755, 213.18212794536595, 205.23161348175256, 154.38800391011623, 126.77224648504844, 111.83280097088915, 154.98681870605043, 112.97571049302486, 206.7808475410832, 167.4333318645294, 179.94573049926032, 166.19635441152656, 215.78143863987094, 207.6291653370455, 154.6867473258803, 104.97508464760966, 99.41642050041435, 92.14145866228243, 138.64923072447516]
Scenario8:
  Normalized Probability: 0.0003
  Values: [166.70047543508844, 152.27647090137316, 313.90049230268664, 180.05011180099922, 211.7567853322155, 279.3530771054633, 188.59285643421435, 178.75307162371092, 154.38800391011623, 185.02847603197645, 111.83280097088915, 108.18396566840559, 137.94613392504232, 160.40078159533218, 167.4333318645294, 236.83196976924341, 166.19635441152656, 243.6116196971276, 254.67442077232982, 134.2083081770944, 141.57732736758896, 116.46602215500005, 112.31185563790562, 98.22168122670013]
Scenario9:
  Normalized Probability: 0.0820
  Values: [59.47724761842359, 130.17262296315096, 348.2395302916922, 180.05011180099922, 186.1354969570937, 174.35295747957755, 213.18212794536595, 125.79598790762762, 179.3260877249827, 155.90036125851245, 111.83280097088915, 108.18396566840559, 187.88698078907726, 183.5908145682077, 167.4333318645294, 123.05949122927726, 166.19635441152656, 215.78143863987094, 207.6291653370455, 175.16518647466623, 104.97508464760966, 116.46602215500005, 132.48225261352883, 138.64923072447516]
Scenario10:
  Normalized Probability: 0.0009
  Values: [80.92189318175656, 152.27647090137316, 348.2395302916922, 87.74583376749985, 211.7567853322155, 200.602987386049, 188.59285643421435, 125.79598790762762, 204.26417153984914, 155.90036125851245, 166.6436535734958, 154.98681870605043, 187.88698078907726, 137.21074862245666, 142.03818506776918, 151.5026108642688, 222.37118403967335, 215.78143863987094, 207.6291653370455, 154.6867473258803, 50.07172056764074, 133.51562380958575, 112.31185563790562, 138.64923072447516]

In [116]:
# Create a dictionary to store the reduced scenarios
reduced_heat_demand_scenarios = {}
for scenario_name, data in S.items():
    scenario_dict = {"Probability": data["Probability"]}
    scenario_dict.update({
        str(t + 1): float(value)
        for t, value in enumerate(data["Values"])
    })
    reduced_heat_demand_scenarios[scenario_name] = scenario_dict

# Save the reduced scenarios to a JSON file
with open(f'{OUTPUT_PATH}reduced_heat_demand_scenarios_{filename_date}_{num_scenarios}.json', 'w') as json_file:
    json.dump(reduced_heat_demand_scenarios, json_file, indent=4)