In [162]:
import os
import json
import pandas as pd
from datetime import datetime
from typing import List, Dict, Tuple

In [163]:
# Load configuration from config.json
with open('../models/config.json', 'r') as f:
    config = json.load(f)

postprocess = config['postprocessing']

# Output and input paths from configuration
OUTPUT_PATH = postprocess['output_path']
INPUT_PATH_S = postprocess['input_path_s']
INPUT_PATH_D = postprocess['input_path_d']

# New Input paths
INPUT_PATH_WS = postprocess['input_path_ws']
INPUT_PATH_HD = postprocess['input_path_hd']
INPUT_PATH_D_OBJ = postprocess['input_path_d_obj']
INPUT_PATH_S_OBJ = postprocess['input_path_s_obj']


# Display the loaded paths
print("Loaded paths:")
print(f"OUTPUT_PATH: {OUTPUT_PATH}")
print(f"INPUT_PATH_S: {INPUT_PATH_S}")
print(f"INPUT_PATH_D: {INPUT_PATH_D}")
print(f"INPUT_PATH_WS: {INPUT_PATH_WS}")
print(f"INPUT_PATH_HD: {INPUT_PATH_HD}")

Loaded paths:
OUTPUT_PATH: ../data/postprocessing/
INPUT_PATH_S: ../data/output/stochastic/timeseries/
INPUT_PATH_D: ../data/output/deterministic/timeseries/
INPUT_PATH_WS: ../data/output/deterministic/cases/scenarios/
INPUT_PATH_HD: ../data/input/demands/

## Filename Generations Functions

In [164]:
def get_ws_solution_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the Wait and See solution objective values CSV file.
    """
    filename = f"d_scenarios_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_probabilities_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the probabilities JSON file.
    """
    filename = f"reduced_heat_demand_scenarios_{start_date}_to_{end_date}_{period}.json"
    return filename

def get_weighted_deterministic_ts_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted time series CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_ts.csv"
    return filename


def get_stochastic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the stochastic objective values CSV file.
    """
    filename = f"s_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

## Data Loading Functions

In [165]:
def load_ws_solution_data(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the Wait and See solution objective values for a specific date.
    """
    filename = get_ws_solution_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded Wait and See solution data from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_probabilities(date_str: str, period: str, input_path: str) -> Dict[str, float]:
    """
    Load probabilities from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: Probability}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded probabilities from {filepath}")
        # Extract probabilities
        probabilities = {}
        for scenario_name, scenario_data in data.items():
            probabilities[scenario_name] = scenario_data.get('Probability', 0)
        return probabilities
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    
def load_weighted_deterministic_ts(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted time series data for a specific date.
    """
    filename = get_weighted_deterministic_ts_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic weighted time series data from {filepath}")
        # Display the first few rows
        display(data.head())
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_scenario_heat_demands(date_str: str, period: str, input_path: str) -> Dict[str, pd.Series]:
    """
    Load scenario heat demands from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: pd.Series of heat demands}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded scenario heat demands from {filepath}")
        # For each scenario, create a pandas Series with time steps and heat demands
        scenario_heat_demands = {}
        for scenario_name, scenario_data in data.items():
            # Remove 'Probability' key and adjust time steps to zero-based indexing
            heat_demand_data = {int(k) - 1: v for k, v in scenario_data.items() if k != 'Probability'}
            # Convert to Series and sort by time step
            heat_demand_series = pd.Series(heat_demand_data).sort_index()
            scenario_heat_demands[scenario_name] = heat_demand_series
        return scenario_heat_demands
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    

def get_weighted_deterministic_objective_value_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted objective value CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def load_weighted_deterministic_objective_value(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted objective value for a specific date.
    """
    filename = get_weighted_deterministic_objective_value_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic objective value from {filepath}")
        # Display the data
        display(data)
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return None
    
def load_stochastic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the stochastic objective values for a specific date.
    """
    filename = get_stochastic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded stochastic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

# Calculations

In [166]:
# List of dates to process
dates_to_process = [
    datetime(2023, 3, 3),
    datetime(2023, 3, 16),
    datetime(2023, 4, 3),
    datetime(2023, 4, 9),
    datetime(2023, 5, 14),
    datetime(2023, 5, 15),
    datetime(2023, 6, 19),
    datetime(2023, 6, 22),
    datetime(2023, 6, 26),
    # Add mo
]

# Period for the analysis
period = 'day'

## Compute weighted Wait-and-See Solution

In [167]:
# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")
    
    # Load Wait and See solution data
    ws_data = load_ws_solution_data(date_str, period, INPUT_PATH_WS)
    if ws_data.empty:
        print(f"No Wait and See solution data available for date {date_str}.")
        continue
    
    # Display the loaded Wait and See solution data
    print("Wait and See Objective Values:")
    display(ws_data)
    
    # Load probabilities
    probabilities = load_probabilities(date_str, period, INPUT_PATH_HD)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        continue
    
    # Display the probabilities
    print("Probabilities:")
    probabilities_df = pd.DataFrame.from_dict(probabilities, orient='index', columns=['Probability'])
    display(probabilities_df)
    
    # Merge ws_data with probabilities
    ws_data['Probability'] = ws_data['Scenario'].map(probabilities)
    
    # Check for missing probabilities
    if ws_data['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(ws_data[ws_data['Probability'].isnull()])
        continue
    
    # Compute weighted objective value
    ws_data['WeightedObjective'] = ws_data['ObjectiveValue'] * ws_data['Probability']
    
    # Print intermediate calculations
    print("Intermediate Calculations:")
    display(ws_data)
    
    # Sum the weighted objectives
    weighted_objective_value = ws_data['WeightedObjective'].sum()
    
    # Store the result
    results.append({
        'Date': date.strftime('%Y-%m-%d'),
        'Weighted Objective Value': weighted_objective_value
    })

Processing date: 20230303
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230303_to_20230303_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -285.246990
1   Scenario2     -278.041077
2   Scenario3     -283.568071
3   Scenario4     -280.996862
4   Scenario5     -281.218684
5   Scenario6     -281.296879
6   Scenario7     -280.592415
7   Scenario8     -277.409991
8   Scenario9     -285.322021
9  Scenario10     -280.486241

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Probabilities:

            Probability
Scenario1      0.213933
Scenario2      0.085874
Scenario3      0.060216
Scenario4      0.115567
Scenario5      0.098109
Scenario6      0.064584
Scenario7      0.078224
Scenario8      0.061210
Scenario9      0.061475
Scenario10     0.160809

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -285.246990     0.213933         -61.023628
1   Scenario2     -278.041077     0.085874         -23.876390
2   Scenario3     -283.568071     0.060216         -17.075366
3   Scenario4     -280.996862     0.115567         -32.473840
4   Scenario5     -281.218684     0.098109         -27.589944
5   Scenario6     -281.296879     0.064584         -18.167382
6   Scenario7     -280.592415     0.078224         -21.949134
7   Scenario8     -277.409991     0.061210         -16.980171
8   Scenario9     -285.322021     0.061475         -17.540277
9  Scenario10     -280.486241     0.160809         -45.104704

Processing date: 20230316
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230316_to_20230316_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -316.746351
1   Scenario2     -311.968869
2   Scenario3     -311.106364
3   Scenario4     -309.359338
4   Scenario5     -311.072663
5   Scenario6     -310.869275
6   Scenario7     -310.947238
7   Scenario8     -311.697733
8   Scenario9     -319.000059
9  Scenario10     -307.396869

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Probabilities:

            Probability
Scenario1      0.093211
Scenario2      0.041917
Scenario3      0.073168
Scenario4      0.164225
Scenario5      0.096919
Scenario6      0.165247
Scenario7      0.048252
Scenario8      0.114138
Scenario9      0.088206
Scenario10     0.114716

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -316.746351     0.093211         -29.524094
1   Scenario2     -311.968869     0.041917         -13.076682
2   Scenario3     -311.106364     0.073168         -22.762901
3   Scenario4     -309.359338     0.164225         -50.804626
4   Scenario5     -311.072663     0.096919         -30.148920
5   Scenario6     -310.869275     0.165247         -51.370368
6   Scenario7     -310.947238     0.048252         -15.003957
7   Scenario8     -311.697733     0.114138         -35.576636
8   Scenario9     -319.000059     0.088206         -28.137791
9  Scenario10     -307.396869     0.114716         -35.263451

Processing date: 20230403
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230403_to_20230403_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -332.279576
1   Scenario2     -327.336354
2   Scenario3     -334.696259
3   Scenario4     -326.935497
4   Scenario5     -336.074060
5   Scenario6     -327.094279
6   Scenario7     -336.672915
7   Scenario8     -330.361308
8   Scenario9     -332.057000
9  Scenario10     -330.444030

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Probabilities:

            Probability
Scenario1      0.050894
Scenario2      0.110215
Scenario3      0.121587
Scenario4      0.057770
Scenario5      0.067584
Scenario6      0.134609
Scenario7      0.114209
Scenario8      0.059725
Scenario9      0.223599
Scenario10     0.059808

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -332.279576     0.050894         -16.910874
1   Scenario2     -327.336354     0.110215         -36.077301
2   Scenario3     -334.696259     0.121587         -40.694664
3   Scenario4     -326.935497     0.057770         -18.887172
4   Scenario5     -336.074060     0.067584         -22.713120
5   Scenario6     -327.094279     0.134609         -44.029992
6   Scenario7     -336.672915     0.114209         -38.451219
7   Scenario8     -330.361308     0.059725         -19.730734
8   Scenario9     -332.057000     0.223599         -74.247592
9  Scenario10     -330.444030     0.059808         -19.763300

Processing date: 20230409
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230409_to_20230409_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -344.088108
1   Scenario2     -347.066918
2   Scenario3     -350.198561
3   Scenario4     -351.746882
4   Scenario5     -347.451575
5   Scenario6     -344.762031
6   Scenario7     -349.033876
7   Scenario8     -347.170792
8   Scenario9     -347.544728
9  Scenario10     -347.892898

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Probabilities:

            Probability
Scenario1      0.064652
Scenario2      0.190680
Scenario3      0.129189
Scenario4      0.109657
Scenario5      0.067537
Scenario6      0.095297
Scenario7      0.078145
Scenario8      0.084789
Scenario9      0.097324
Scenario10     0.082731

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -344.088108     0.064652         -22.245848
1   Scenario2     -347.066918     0.190680         -66.178581
2   Scenario3     -350.198561     0.129189         -45.241846
3   Scenario4     -351.746882     0.109657         -38.571609
4   Scenario5     -347.451575     0.067537         -23.465939
5   Scenario6     -344.762031     0.095297         -32.854657
6   Scenario7     -349.033876     0.078145         -27.275242
7   Scenario8     -347.170792     0.084789         -29.436144
8   Scenario9     -347.544728     0.097324         -33.824387
9  Scenario10     -347.892898     0.082731         -28.781527

Processing date: 20230514
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230514_to_20230514_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -175.764611
1   Scenario2     -141.739303
2   Scenario3     -147.724671
3   Scenario4     -160.968214
4   Scenario5     -151.599020
5   Scenario6     -150.104874
6   Scenario7     -147.733283
7   Scenario8     -152.555091
8   Scenario9     -164.480165
9  Scenario10     -150.182505

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Probabilities:

            Probability
Scenario1      0.242257
Scenario2      0.085862
Scenario3      0.063438
Scenario4      0.061312
Scenario5      0.066836
Scenario6      0.068384
Scenario7      0.136694
Scenario8      0.065145
Scenario9      0.083452
Scenario10     0.126620

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -175.764611     0.242257         -42.580135
1   Scenario2     -141.739303     0.085862         -12.169951
2   Scenario3     -147.724671     0.063438          -9.371356
3   Scenario4     -160.968214     0.061312          -9.869271
4   Scenario5     -151.599020     0.066836         -10.132284
5   Scenario6     -150.104874     0.068384         -10.264820
6   Scenario7     -147.733283     0.136694         -20.194259
7   Scenario8     -152.555091     0.065145          -9.938240
8   Scenario9     -164.480165     0.083452         -13.726249
9  Scenario10     -150.182505     0.126620         -19.016106

Processing date: 20230515
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230515_to_20230515_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -155.993245
1   Scenario2     -156.998154
2   Scenario3     -148.339651
3   Scenario4     -154.874431
4   Scenario5     -160.607273
5   Scenario6     -145.054640
6   Scenario7     -161.239191
7   Scenario8     -154.865860
8   Scenario9     -163.775863
9  Scenario10     -142.857945

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Probabilities:

            Probability
Scenario1      0.066917
Scenario2      0.093079
Scenario3      0.119735
Scenario4      0.156098
Scenario5      0.060302
Scenario6      0.214441
Scenario7      0.097663
Scenario8      0.087456
Scenario9      0.047847
Scenario10     0.056461

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -155.993245     0.066917         -10.438595
1   Scenario2     -156.998154     0.093079         -14.613247
2   Scenario3     -148.339651     0.119735         -17.761426
3   Scenario4     -154.874431     0.156098         -24.175653
4   Scenario5     -160.607273     0.060302          -9.684974
5   Scenario6     -145.054640     0.214441         -31.105730
6   Scenario7     -161.239191     0.097663         -15.747140
7   Scenario8     -154.865860     0.087456         -13.543946
8   Scenario9     -163.775863     0.047847          -7.836207
9  Scenario10     -142.857945     0.056461          -8.065850

Processing date: 20230619
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230619_to_20230619_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1      -99.746544
1   Scenario2     -113.795413
2   Scenario3     -108.376568
3   Scenario4     -105.806901
4   Scenario5      -92.588480
5   Scenario6     -122.498048
6   Scenario7     -104.843928
7   Scenario8     -113.266671
8   Scenario9     -119.274643
9  Scenario10     -119.559006

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Probabilities:

            Probability
Scenario1      0.147722
Scenario2      0.149388
Scenario3      0.070626
Scenario4      0.051094
Scenario5      0.105200
Scenario6      0.035835
Scenario7      0.099024
Scenario8      0.080709
Scenario9      0.094985
Scenario10     0.165417

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1      -99.746544     0.147722         -14.734741
1   Scenario2     -113.795413     0.149388         -16.999706
2   Scenario3     -108.376568     0.070626          -7.654198
3   Scenario4     -105.806901     0.051094          -5.406096
4   Scenario5      -92.588480     0.105200          -9.740312
5   Scenario6     -122.498048     0.035835          -4.389683
6   Scenario7     -104.843928     0.099024         -10.382025
7   Scenario8     -113.266671     0.080709          -9.141695
8   Scenario9     -119.274643     0.094985         -11.329292
9  Scenario10     -119.559006     0.165417         -19.777110

Processing date: 20230622
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230622_to_20230622_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -103.529255
1   Scenario2      -97.102842
2   Scenario3      -99.326866
3   Scenario4     -119.677179
4   Scenario5     -104.219897
5   Scenario6     -105.009695
6   Scenario7     -111.925719
7   Scenario8     -100.489584
8   Scenario9     -122.394445
9  Scenario10     -116.402681

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Probabilities:

            Probability
Scenario1      0.135874
Scenario2      0.082486
Scenario3      0.127544
Scenario4      0.194525
Scenario5      0.081249
Scenario6      0.108861
Scenario7      0.059450
Scenario8      0.066503
Scenario9      0.081728
Scenario10     0.061779

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -103.529255     0.135874         -14.066927
1   Scenario2      -97.102842     0.082486          -8.009611
2   Scenario3      -99.326866     0.127544         -12.668545
3   Scenario4     -119.677179     0.194525         -23.280239
4   Scenario5     -104.219897     0.081249          -8.467811
5   Scenario6     -105.009695     0.108861         -11.431473
6   Scenario7     -111.925719     0.059450          -6.654030
7   Scenario8     -100.489584     0.066503          -6.682843
8   Scenario9     -122.394445     0.081728         -10.003010
9  Scenario10     -116.402681     0.061779          -7.191293

Processing date: 20230626
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230626_to_20230626_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1      -64.831230
1   Scenario2      -92.425116
2   Scenario3     -141.336986
3   Scenario4     -137.091733
4   Scenario5     -120.619765
5   Scenario6      -96.084127
6   Scenario7     -113.890938
7   Scenario8     -108.261855
8   Scenario9     -118.975175
9  Scenario10     -102.084627

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Probabilities:

            Probability
Scenario1      0.008036
Scenario2      0.001415
Scenario3      0.000252
Scenario4      0.031910
Scenario5      0.359087
Scenario6      0.507279
Scenario7      0.001421
Scenario8      0.000250
Scenario9      0.000016
Scenario10     0.090334

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1      -64.831230     0.008036          -0.520995
1   Scenario2      -92.425116     0.001415          -0.130789
2   Scenario3     -141.336986     0.000252          -0.035616
3   Scenario4     -137.091733     0.031910          -4.374607
4   Scenario5     -120.619765     0.359087         -43.313014
5   Scenario6      -96.084127     0.507279         -48.741453
6   Scenario7     -113.890938     0.001421          -0.161827
7   Scenario8     -108.261855     0.000250          -0.027087
8   Scenario9     -118.975175     0.000016          -0.001873
9  Scenario10     -102.084627     0.090334          -9.221683

#### Final Results Wait-and-See Solution

In [168]:
# Create a DataFrame of results
results_df = pd.DataFrame(results)
results_df['Weighted Objective Value'] = results_df['Weighted Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df)

Final Results:

         Date  Weighted Objective Value
0  2023-03-03               -281.780836
1  2023-03-16               -311.669426
2  2023-04-03               -331.505967
3  2023-04-09               -347.875782
4  2023-05-14               -157.262672
5  2023-05-15               -152.972768
6  2023-06-19               -109.554857
7  2023-06-22               -108.455781
8  2023-06-26               -106.528944

## Compute Heat Demand Difference for the calculation of EEV

In [169]:
def compute_costs_from_differences(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
    """
    Compute the differences and costs between deterministic and scenario heat demands for a specific date.
    Returns:
        - total_costs_df: DataFrame containing total costs per scenario.
        - weighted_total_cost: The total weighted cost for the date.
    """
    # Load deterministic weighted time series data
    det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
    if det_ts_data.empty:
        print(f"No deterministic weighted time series data available for date {date_str}.")
        return None, None

    # Extract the deterministic heat demand
    det_heat_demand = det_ts_data['heat_demand']
    det_heat_demand.name = 'deterministic_heat_demand'

    # Load scenario heat demands
    scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
    if not scenario_heat_demands:
        print(f"No scenario heat demands available for date {date_str}.")
        return None, None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None, None

    # Create a DataFrame to store costs
    costs_df = pd.DataFrame({
        't': det_ts_data['t'],
        'deterministic_heat_demand': det_heat_demand
    })

    total_costs = {}
    weighted_total_cost = 0.0

    # For each scenario, compute differences, costs, and total costs
    for scenario_name, scenario_hd_series in scenario_heat_demands.items():
        # Align scenario_hd_series with det_heat_demand
        scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
        scenario_hd_series.name = f"{scenario_name}_heat_demand"

        # Compute difference
        difference = det_heat_demand - scenario_hd_series
        difference.name = f"{scenario_name}_difference"

        # Compute cost per time step
        cost = difference.abs() * 0.01
        cost.name = f"{scenario_name}_cost"

        # Sum costs over time steps
        total_cost = cost.sum()

        # Get probability for the scenario
        probability = probabilities.get(scenario_name, 0)

        # Compute weighted cost
        weighted_cost = total_cost * probability

        # Add to total weighted cost
        weighted_total_cost += weighted_cost

        # Store total cost per scenario
        total_costs[scenario_name] = total_cost

        # Optionally, add to costs_df for detailed output
        costs_df[f"{scenario_name}_cost"] = cost.values

    # Create DataFrame for total costs per scenario
    total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])

    # Display total costs per scenario
    print(f"Total Costs for date {date_str}:")
    display(total_costs_df)

    print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

    return total_costs_df, weighted_total_cost

In [170]:
# Input paths
input_path_det_ts = INPUT_PATH_D  # Path to deterministic weighted time series
input_path_hd = INPUT_PATH_HD     # Path to heat demand scenarios

# Dictionary to store total costs for each date
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute costs and weighted total cost
    total_costs_df, weighted_total_cost = compute_costs_from_differences(
        date_str=date_str,
        period=period,
        input_path_det_ts=input_path_det_ts,
        input_path_hd=input_path_hd
    )

    if weighted_total_cost is not None:
        # Load deterministic objective value
        det_obj_value = load_weighted_deterministic_objective_value(date_str, period, INPUT_PATH_D_OBJ)
        if det_obj_value is not None:
            # det_obj_value is a DataFrame with one value
            det_obj_value = det_obj_value['ObjectiveValue'].iloc[0]
            print(f"Deterministic Objective Value for date {date_str}: {det_obj_value}")

            # Compute total cost
            total_cost = det_obj_value + weighted_total_cost

            # Store the result
            results.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Total Cost': total_cost
            })

            print(f"Total Cost for date {date_str}: {total_cost:.6f}")
        else:
            print(f"Could not load deterministic objective value for date {date_str}.")
    else:
        print(f"Could not compute weighted total cost for date {date_str}.")

Processing date: 20230303
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230303_to_20230303_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,141.657945,320.0,1.0,37.218589,117.039587,68.0,...,0.0,141.657945,37.218589,37.218589,68.0,68.0,0.000000,0.000000,117.039587,5.657945
1,2,0.1543,0.251,0.105,146.058094,320.0,1.0,37.218589,117.039587,68.0,...,0.0,146.058094,37.218589,37.218589,68.0,68.0,0.000000,0.000000,117.039587,10.058094
2,3,0.1543,0.251,0.105,234.265871,320.0,1.0,37.218589,117.039587,68.0,...,0.0,234.265871,37.218589,37.218589,68.0,68.0,85.200000,78.308824,117.039587,13.065871
3,4,0.1543,0.251,0.105,377.818933,320.0,1.0,37.218589,117.039587,68.0,...,0.0,377.818933,37.218589,37.218589,68.0,68.0,141.400846,131.570620,117.039587,100.418087
4,5,0.1543,0.251,0.105,277.248569,320.0,1.0,37.218589,117.039587,68.0,...,0.0,277.248569,37.218589,37.218589,68.0,68.0,141.248569,131.426306,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Total Costs for date 20230303:

     Scenario  Total Cost
0   Scenario1    3.442595
1   Scenario2    3.784239
2   Scenario3    3.392275
3   Scenario4    4.061540
4   Scenario5    4.209550
5   Scenario6    3.544443
6   Scenario7    3.798941
7   Scenario8    4.023848
8   Scenario9    3.618931
9  Scenario10    2.943745

Weighted Total Cost for date 20230303: 3.616329
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230303_to_20230303_day_obj.csv

   ObjectiveValue
0     -282.065248

Deterministic Objective Value for date 20230303: -282.06524782931217
Total Cost for date 20230303: -278.448919

Processing date: 20230316
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230316_to_20230316_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.338281,320.0,1.0,37.218589,117.039587,68.0,...,13.661719,136.000000,37.218589,37.218589,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,134.504272,320.0,1.0,37.218589,117.039587,68.0,...,1.495728,136.000000,37.218589,37.218589,68.0,68.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,197.239009,320.0,1.0,37.218589,117.039587,68.0,...,23.960991,221.200000,37.218589,37.218589,68.0,68.0,85.200000,78.308824,117.039587,0.000000
3,4,0.1543,0.251,0.105,331.596286,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,331.596286,37.218589,37.218589,68.0,68.0,130.060801,120.823608,117.039587,65.535485
4,5,0.1543,0.251,0.105,231.966560,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,231.966560,37.218589,37.218589,68.0,68.0,95.966560,88.512341,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Total Costs for date 20230316:

     Scenario  Total Cost
0   Scenario1    3.220186
1   Scenario2    3.225086
2   Scenario3    4.317285
3   Scenario4    2.564928
4   Scenario5    3.652522
5   Scenario6    3.123079
6   Scenario7    3.916078
7   Scenario8    3.328031
8   Scenario9    3.130369
9  Scenario10    3.441913

Weighted Total Cost for date 20230316: 3.282309
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230316_to_20230316_day_obj.csv

   ObjectiveValue
0     -311.974531

Deterministic Objective Value for date 20230316: -311.97453051338675
Total Cost for date 20230316: -308.692221

Processing date: 20230403
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230403_to_20230403_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,109.681178,320.0,1.0,37.218589,117.039587,68.0,...,26.318822,136.000000,37.218589,37.218589,68.0,68.0,0.00000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,129.868257,320.0,1.0,37.218589,117.039587,68.0,...,6.131743,136.000000,37.218589,37.218589,68.0,68.0,0.00000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,318.075668,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,318.075668,37.218589,37.218589,68.0,68.0,135.37339,125.858373,117.039587,46.702278
3,4,0.1543,0.251,0.105,174.754284,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,174.754284,37.218589,37.218589,68.0,68.0,0.00000,0.000000,117.039587,38.754284
4,5,0.1543,0.251,0.105,205.485095,320.0,1.0,37.218589,117.039587,68.0,...,15.714905,221.200000,37.218589,37.218589,68.0,68.0,85.20000,78.308824,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Total Costs for date 20230403:

     Scenario  Total Cost
0   Scenario1    3.420299
1   Scenario2    3.556115
2   Scenario3    3.103604
3   Scenario4    4.376863
4   Scenario5    4.490219
5   Scenario6    3.511845
6   Scenario7    3.788047
7   Scenario8    3.602868
8   Scenario9    2.718333
9  Scenario10    3.491377

Weighted Total Cost for date 20230403: 3.436851
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230403_to_20230403_day_obj.csv

   ObjectiveValue
0     -331.280113

Deterministic Objective Value for date 20230403: -331.28011321272606
Total Cost for date 20230403: -327.843262

Processing date: 20230409
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230409_to_20230409_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,114.125280,320.0,1.0,37.218589,117.039587,68.0,...,21.874720,136.000000,37.218589,37.218589,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,131.676456,320.0,1.0,37.218589,117.039587,68.0,...,4.323544,136.000000,37.218589,37.218589,68.0,68.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,321.959866,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,321.959866,37.218589,37.218589,68.0,68.0,117.166426,108.603550,117.039587,68.793440
3,4,0.1543,0.251,0.105,183.594859,320.0,1.0,37.218589,117.039587,68.0,...,37.605141,221.200000,37.218589,37.218589,68.0,68.0,85.200000,78.308824,117.039587,0.000000
4,5,0.1543,0.251,0.105,179.251707,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,179.251707,37.218589,37.218589,68.0,68.0,0.000000,0.000000,117.039587,43.251707

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Total Costs for date 20230409:

     Scenario  Total Cost
0   Scenario1    4.166008
1   Scenario2    3.425088
2   Scenario3    3.477175
3   Scenario4    3.180209
4   Scenario5    3.616938
5   Scenario6    4.024472
6   Scenario7    3.756576
7   Scenario8    3.289749
8   Scenario9    4.177738
9  Scenario10    3.711194

Weighted Total Cost for date 20230409: 3.634292
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230409_to_20230409_day_obj.csv

   ObjectiveValue
0     -347.924058

Deterministic Objective Value for date 20230409: -347.92405780297497
Total Cost for date 20230409: -344.289766

Processing date: 20230514
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230514_to_20230514_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,49.971224,320.0,1.0,37.218589,117.039587,68.0,...,80.000000,129.971224,37.218589,30.679524,68.0,61.971224,0.0,0.0,117.039587,0.000000
1,2,0.1543,0.251,0.105,55.574432,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,55.574432,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,55.574432
2,3,0.1543,0.251,0.105,154.186657,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,154.186657,37.218589,37.218589,68.0,68.000000,0.0,0.0,117.039587,18.186657
3,4,0.1543,0.251,0.105,63.378124,320.0,0.0,0.000000,0.000000,0.0,...,4.621876,68.000000,0.000000,37.218589,0.0,68.000000,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,86.842616,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,86.842616,37.218589,0.000000,68.0,0.000000,0.0,0.0,117.039587,18.842616

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Total Costs for date 20230514:

     Scenario  Total Cost
0   Scenario1    2.482023
1   Scenario2    3.492675
2   Scenario3    4.076806
3   Scenario4    4.280422
4   Scenario5    3.244559
5   Scenario6    3.739010
6   Scenario7    2.878085
7   Scenario8    4.334968
8   Scenario9    3.293882
9  Scenario10    2.821753

Weighted Total Cost for date 20230514: 3.202773
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230514_to_20230514_day_obj.csv

   ObjectiveValue
0     -154.231079

Deterministic Objective Value for date 20230514: -154.23107853205784
Total Cost for date 20230514: -151.028305

Processing date: 20230515
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230515_to_20230515_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,28.841828,320.0,1.0,37.218589,117.039587,68.0,...,39.158172,68.000000,37.218589,0.000000,68.0,0.000000,0.0,0.0,117.039587,0.000000
1,2,0.1543,0.251,0.105,48.280144,320.0,0.0,0.000000,0.000000,0.0,...,19.719856,68.000000,0.000000,37.218589,0.0,68.000000,0.0,0.0,0.000000,0.000000
2,3,0.1543,0.251,0.105,143.475056,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,143.475056,37.218589,37.218589,68.0,68.000000,0.0,0.0,117.039587,7.475056
3,4,0.1543,0.251,0.105,60.227853,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,60.227853,0.000000,28.788591,0.0,60.227853,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,89.954385,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,89.954385,0.000000,37.218589,0.0,68.000000,0.0,0.0,0.000000,21.954385

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Total Costs for date 20230515:

     Scenario  Total Cost
0   Scenario1    3.038888
1   Scenario2    3.872958
2   Scenario3    3.226087
3   Scenario4    2.745381
4   Scenario5    2.877674
5   Scenario6    2.519456
6   Scenario7    3.396390
7   Scenario8    4.675732
8   Scenario9    3.938013
9  Scenario10    3.327792

Weighted Total Cost for date 20230515: 3.209410
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230515_to_20230515_day_obj.csv

   ObjectiveValue
0      -147.95377

Deterministic Objective Value for date 20230515: -147.9537704222108
Total Cost for date 20230515: -144.744360

Processing date: 20230619
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230619_to_20230619_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,26.883966,320.0,0.0,0.000000,0.000000,0.0,...,41.116034,68.000000,0.000000,37.218589,0.0,68.000000,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,35.155913,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,35.155913,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,35.155913
2,3,0.1543,0.251,0.105,140.240550,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,140.240550,37.218589,37.218589,68.0,68.000000,0.0,0.0,117.039587,4.240550
3,4,0.1543,0.251,0.105,47.080850,320.0,0.0,0.000000,0.000000,0.0,...,10.919150,58.000000,0.000000,26.372168,0.0,58.000000,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,79.435948,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,79.435948,0.000000,37.218580,0.0,67.999985,0.0,0.0,0.000000,11.435963

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Total Costs for date 20230619:

     Scenario  Total Cost
0   Scenario1    3.499742
1   Scenario2    3.930799
2   Scenario3    3.474698
3   Scenario4    3.835316
4   Scenario5    4.565780
5   Scenario6    3.495068
6   Scenario7    4.198022
7   Scenario8    4.377046
8   Scenario9    3.354585
9  Scenario10    3.244541

Weighted Total Cost for date 20230619: 3.775444
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230619_to_20230619_day_obj.csv

   ObjectiveValue
0     -120.360046

Deterministic Objective Value for date 20230619: -120.36004638023525
Total Cost for date 20230619: -116.584602

Processing date: 20230622
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230622_to_20230622_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,36.243864,320.0,1.0,26.372168,93.851133,58.0,...,80.000000,116.243864,26.372168,26.636674,58.0,58.243864,0.0,0.0,93.851133,0.000000
1,2,0.1543,0.251,0.105,26.692999,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,26.692999,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,26.692999
2,3,0.1543,0.251,0.105,141.619779,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,141.619779,37.218589,37.218589,68.0,68.000000,0.0,0.0,117.039587,5.619779
3,4,0.1543,0.251,0.105,65.150202,320.0,0.0,0.000000,0.000000,0.0,...,2.849798,68.000000,0.000000,37.218589,0.0,68.000000,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,77.963981,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,77.963981,0.000000,37.218589,0.0,68.000000,0.0,0.0,0.000000,9.963981

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Total Costs for date 20230622:

     Scenario  Total Cost
0   Scenario1    4.337398
1   Scenario2    4.744322
2   Scenario3    5.535946
3   Scenario4    4.378358
4   Scenario5    4.856428
5   Scenario6    4.456292
6   Scenario7    4.590795
7   Scenario8    4.627743
8   Scenario9    4.669658
9  Scenario10    4.549417

Weighted Total Cost for date 20230622: 4.661539
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230622_to_20230622_day_obj.csv

   ObjectiveValue
0     -124.618527

Deterministic Objective Value for date 20230622: -124.61852716770488
Total Cost for date 20230622: -119.956988

Processing date: 20230626
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230626_to_20230626_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,5.559557,320.0,0.0,0.000000,0.000000,0.0,...,62.440443,68.000000,0.000000,37.218589,0.0,68.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,49.347106,320.0,1.0,26.372168,93.851133,58.0,...,8.652894,58.000000,26.372168,0.000000,58.0,0.0,0.0,0.0,93.851133,0.000000
2,3,0.1543,0.251,0.105,95.483014,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,95.483014,37.218589,0.000000,68.0,0.0,0.0,0.0,117.039587,27.483014
3,4,0.1543,0.251,0.105,56.749592,320.0,0.0,0.000000,0.000000,0.0,...,1.250408,58.000000,0.000000,26.372168,0.0,58.0,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,49.503750,320.0,0.0,0.000000,0.000000,0.0,...,8.496250,58.000000,0.000000,26.372168,0.0,58.0,0.0,0.0,0.000000,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Total Costs for date 20230626:

     Scenario  Total Cost
0   Scenario1    6.491448
1   Scenario2    6.373410
2   Scenario3    8.635586
3   Scenario4    5.414318
4   Scenario5    3.314589
5   Scenario6    2.254107
6   Scenario7    6.259954
7   Scenario8    7.313466
8   Scenario9    7.652818
9  Scenario10    6.793851

Weighted Total Cost for date 20230626: 3.194379
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230626_to_20230626_day_obj.csv

   ObjectiveValue
0     -101.891601

Deterministic Objective Value for date 20230626: -101.8916012290719
Total Cost for date 20230626: -98.697222

## EEV

In [171]:

# Create a DataFrame of results
results_df_eev = pd.DataFrame(results)
results_df_eev['Total Cost'] = results_df_eev['Total Cost'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_eev)

Final Results:

         Date  Total Cost
0  2023-03-03 -278.448919
1  2023-03-16 -308.692221
2  2023-04-03 -327.843262
3  2023-04-09 -344.289766
4  2023-05-14 -151.028305
5  2023-05-15 -144.744360
6  2023-06-19 -116.584602
7  2023-06-22 -119.956988
8  2023-06-26  -98.697222

In [172]:
def compute_weighted_stochastic_objective_value(date_str: str, period: str, input_path_s: str, input_path_hd: str) -> float:
    """
    Compute the weighted stochastic objective value for a specific date.
    """
    # Load stochastic objective values
    sto_obj_values_df = load_stochastic_objective_values(date_str, period, input_path_s)
    if sto_obj_values_df.empty:
        print(f"No stochastic objective values data available for date {date_str}.")
        return None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None

    # Clean up column names if necessary
    # Sometimes the first column might have a stray ':' character
    sto_obj_values_df.columns = [col.strip(':') for col in sto_obj_values_df.columns]

    # Merge sto_obj_values_df with probabilities
    sto_obj_values_df['Probability'] = sto_obj_values_df['Scenario'].map(probabilities)

    # Check for missing probabilities
    if sto_obj_values_df['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(sto_obj_values_df[sto_obj_values_df['Probability'].isnull()])
        return None

    # Compute weighted objective value
    sto_obj_values_df['WeightedObjective'] = sto_obj_values_df['ObjectiveValue'] * sto_obj_values_df['Probability']

    # Display intermediate calculations
    print("Intermediate Calculations:")
    display(sto_obj_values_df)

    # Sum the weighted objectives
    weighted_objective_value = sto_obj_values_df['WeightedObjective'].sum()

    return weighted_objective_value

In [173]:
# Input paths
input_path_s_obj = INPUT_PATH_S_OBJ  # Path to stochastic objective values
input_path_hd = INPUT_PATH_HD  # Path to heat demand scenarios (probabilities)

# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute weighted stochastic objective value
    weighted_sto_obj_value = compute_weighted_stochastic_objective_value(
        date_str=date_str,
        period=period,
        input_path_s=input_path_s_obj,
        input_path_hd=input_path_hd
    )

    if weighted_sto_obj_value is not None:
        # Store the result
        results.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Weighted Stochastic Objective Value': weighted_sto_obj_value
        })
        print(f"Weighted Stochastic Objective Value for date {date_str}: {weighted_sto_obj_value:.6f}")
    else:
        print(f"Could not compute weighted stochastic objective value for date {date_str}.")

Processing date: 20230303
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230303_to_20230303_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -268.198006     0.213933         -57.376294
1   Scenario2     -268.123682     0.085874         -23.024748
2   Scenario3     -267.439334     0.060216         -16.104156
3   Scenario4     -267.278828     0.115567         -30.888494
4   Scenario5     -267.576815     0.098109         -26.251561
5   Scenario6     -268.387175     0.064584         -17.333617
6   Scenario7     -266.357883     0.078224         -20.835648
7   Scenario8     -267.630136     0.061210         -16.381549
8   Scenario9     -267.198345     0.061475         -16.426117
9  Scenario10     -267.502840     0.160809         -43.016856

Weighted Stochastic Objective Value for date 20230303: -267.639041

Processing date: 20230316
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230316_to_20230316_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -298.678107     0.093211         -27.839944
1   Scenario2     -298.803038     0.041917         -12.524815
2   Scenario3     -297.714182     0.073168         -21.783027
3   Scenario4     -299.036387     0.164225         -49.109336
4   Scenario5     -298.610576     0.096919         -28.941104
5   Scenario6     -298.743012     0.165247         -49.366534
6   Scenario7     -298.454066     0.048252         -14.401132
7   Scenario8     -298.647855     0.114138         -34.087146
8   Scenario9     -298.677781     0.088206         -26.345239
9  Scenario10     -298.610365     0.114716         -34.255495

Weighted Stochastic Objective Value for date 20230316: -298.653771

Processing date: 20230403
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230403_to_20230403_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -317.607374     0.050894         -16.164154
1   Scenario2     -317.886101     0.110215         -35.035744
2   Scenario3     -317.139399     0.121587         -38.559980
3   Scenario4     -317.645663     0.057770         -18.350495
4   Scenario5     -316.288703     0.067584         -21.375953
5   Scenario6     -318.345736     0.134609         -42.852355
6   Scenario7     -316.769599     0.114209         -36.178073
7   Scenario8     -317.742849     0.059725         -18.977100
8   Scenario9     -318.114098     0.223599         -71.129974
9  Scenario10     -317.657902     0.059808         -18.998583

Weighted Stochastic Objective Value for date 20230403: -317.622410

Processing date: 20230409
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230409_to_20230409_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -335.683244     0.064652         -21.702460
1   Scenario2     -335.516947     0.190680         -63.976238
2   Scenario3     -335.566516     0.129189         -43.351545
3   Scenario4     -336.467076     0.109657         -36.896067
4   Scenario5     -336.086598     0.067537         -22.698380
5   Scenario6     -336.341781     0.095297         -32.052236
6   Scenario7     -335.604183     0.078145         -26.225779
7   Scenario8     -336.497885     0.084789         -28.531203
8   Scenario9     -336.680919     0.097324         -32.767080
9  Scenario10     -336.055906     0.082731         -27.802241

Weighted Stochastic Objective Value for date 20230409: -336.003228

Processing date: 20230514
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230514_to_20230514_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -174.309684     0.242257         -42.227670
1   Scenario2     -173.532350     0.085862         -14.899750
2   Scenario3     -173.082550     0.063438         -10.980009
3   Scenario4     -174.118785     0.061312         -10.675558
4   Scenario5     -173.021536     0.066836         -11.564081
5   Scenario6     -173.273672     0.068384         -11.849203
6   Scenario7     -173.719159     0.136694         -23.746374
7   Scenario8     -172.635585     0.065145         -11.246389
8   Scenario9     -173.307758     0.083452         -14.462932
9  Scenario10     -173.104047     0.126620         -21.918431

Weighted Stochastic Objective Value for date 20230514: -173.570396

Processing date: 20230515
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230515_to_20230515_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -168.494830     0.066917         -11.275163
1   Scenario2     -167.841106     0.093079         -15.622499
2   Scenario3     -167.976328     0.119735         -20.112621
3   Scenario4     -168.558984     0.156098         -26.311790
4   Scenario5     -169.026631     0.060302         -10.192680
5   Scenario6     -169.019971     0.214441         -36.244891
6   Scenario7     -167.918384     0.097663         -16.399452
7   Scenario8     -167.804729     0.087456         -14.675528
8   Scenario9     -167.696620     0.047847          -8.023804
9  Scenario10     -167.905632     0.056461          -9.480058

Weighted Stochastic Objective Value for date 20230515: -168.338485

Processing date: 20230619
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230619_to_20230619_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -126.681361     0.147722         -18.713601
1   Scenario2     -128.186332     0.149388         -19.149541
2   Scenario3     -128.430496     0.070626          -9.070526
3   Scenario4     -126.899635     0.051094          -6.483807
4   Scenario5     -127.452250     0.105200         -13.407982
5   Scenario6     -128.668071     0.035835          -4.610784
6   Scenario7     -126.726122     0.099024         -12.548879
7   Scenario8     -127.521866     0.080709         -10.292225
8   Scenario9     -127.276724     0.094985         -12.089369
9  Scenario10     -129.357746     0.165417         -21.397990

Weighted Stochastic Objective Value for date 20230619: -127.764703

Processing date: 20230622
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230622_to_20230622_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -130.796812     0.135874         -17.771877
1   Scenario2     -132.495667     0.082486         -10.929019
2   Scenario3     -130.818436     0.127544         -16.685105
3   Scenario4     -132.828819     0.194525         -25.838566
4   Scenario5     -130.713407     0.081249         -10.620394
5   Scenario6     -132.284410     0.108861         -14.400629
6   Scenario7     -131.622467     0.059450          -7.825010
7   Scenario8     -131.987819     0.066503          -8.777565
8   Scenario9     -132.017060     0.081728         -10.789444
9  Scenario10     -131.361935     0.061779          -8.115467

Weighted Stochastic Objective Value for date 20230622: -131.753075

Processing date: 20230626
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230626_to_20230626_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -120.956495     0.008036          -0.972028
1   Scenario2     -122.179775     0.001415          -0.172894
2   Scenario3     -121.330432     0.000252          -0.030574
3   Scenario4     -122.315400     0.031910          -3.903094
4   Scenario5     -123.575223     0.359087         -44.374281
5   Scenario6     -122.924965     0.507279         -62.357245
6   Scenario7     -121.638032     0.001421          -0.172835
7   Scenario8     -121.407041     0.000250          -0.030376
8   Scenario9     -120.863951     0.000016          -0.001902
9  Scenario10     -122.097052     0.090334         -11.029479

Weighted Stochastic Objective Value for date 20230626: -123.044709

In [174]:
# Create a DataFrame of results
results_df_rp = pd.DataFrame(results)
results_df_rp['Weighted Stochastic Objective Value'] = results_df_rp['Weighted Stochastic Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_rp)

Final Results:

         Date  Weighted Stochastic Objective Value
0  2023-03-03                          -267.639041
1  2023-03-16                          -298.653771
2  2023-04-03                          -317.622410
3  2023-04-09                          -336.003228
4  2023-05-14                          -173.570396
5  2023-05-15                          -168.338485
6  2023-06-19                          -127.764703
7  2023-06-22                          -131.753075
8  2023-06-26                          -123.044709

In [175]:
# Save the EEV results to a CSV file
filename = "eev.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_eev.to_csv(output_filepath, index=False)


# Save the WS results to a CSV file
filename = "ws.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df.to_csv(output_filepath, index=False)


# Save the RP results to a CSV file
filename = "rp.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_rp.to_csv(output_filepath, index=False)