In [13]:
import os
import json
import pandas as pd
from datetime import datetime
from typing import List, Dict, Tuple

In [14]:
# Load configuration from config.json
with open('../models/config.json', 'r') as f:
    config = json.load(f)

postprocess = config['postprocessing']

# Output and input paths from configuration
OUTPUT_PATH = postprocess['output_path']
INPUT_PATH_S = postprocess['input_path_s']
INPUT_PATH_D = postprocess['input_path_d']

# New Input paths
INPUT_PATH_WS = postprocess['input_path_ws']
INPUT_PATH_HD = postprocess['input_path_hd']
INPUT_PATH_D_OBJ = postprocess['input_path_d_obj']
INPUT_PATH_S_OBJ = postprocess['input_path_s_obj']
INPUT_PATH_D_OBJ_ACT = postprocess['input_path_d_obj_act']


# Display the loaded paths
print("Loaded paths:")
print(f"OUTPUT_PATH: {OUTPUT_PATH}")
print(f"INPUT_PATH_S: {INPUT_PATH_S}")
print(f"INPUT_PATH_D: {INPUT_PATH_D}")
print(f"INPUT_PATH_WS: {INPUT_PATH_WS}")
print(f"INPUT_PATH_HD: {INPUT_PATH_HD}")

special_case = 'USE_EXT_COST_10'

Loaded paths:
OUTPUT_PATH: ../data/postprocessing/
INPUT_PATH_S: ../data/output/stochastic/timeseries/
INPUT_PATH_D: ../data/output/deterministic/timeseries/
INPUT_PATH_WS: ../data/output/deterministic/cases/scenarios/
INPUT_PATH_HD: ../data/input/demands/

## Filename Generations Functions

In [15]:
def get_ws_solution_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the Wait and See solution objective values CSV file.
    """
    filename = f"d_scenarios_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_probabilities_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the probabilities JSON file.
    """
    filename = f"reduced_heat_demand_scenarios_{start_date}_to_{end_date}_{period}.json"
    return filename

def get_weighted_deterministic_ts_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted time series CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_ts.csv"
    return filename


def get_stochastic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the stochastic objective values CSV file.
    """
    filename = f"s_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_stochastic_objective_values_special_filename(start_date: str, end_date: str, period: str, special_case: str) -> str:
    """
    Generate the filename for the stochastic objective values CSV file.
    """
    filename = f"s_{start_date}_to_{end_date}_{period}_{special_case}_obj.csv"
    return filename

def get_actual_deterministic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the actual deterministic objective values CSV file.
    """
    filename = f"d_actual_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_deterministic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the actual deterministic objective values CSV file.
    """
    filename = f"d_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

## Data Loading Functions

In [16]:
def load_ws_solution_data(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the Wait and See solution objective values for a specific date.
    """
    filename = get_ws_solution_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded Wait and See solution data from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_probabilities(date_str: str, period: str, input_path: str) -> Dict[str, float]:
    """
    Load probabilities from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: Probability}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded probabilities from {filepath}")
        # Extract probabilities
        probabilities = {}
        for scenario_name, scenario_data in data.items():
            probabilities[scenario_name] = scenario_data.get('Probability', 0)
        return probabilities
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    
def load_weighted_deterministic_ts(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted time series data for a specific date.
    """
    filename = get_weighted_deterministic_ts_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic weighted time series data from {filepath}")
        # Display the first few rows
        display(data.head())
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_scenario_heat_demands(date_str: str, period: str, input_path: str) -> Dict[str, pd.Series]:
    """
    Load scenario heat demands from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: pd.Series of heat demands}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded scenario heat demands from {filepath}")
        # For each scenario, create a pandas Series with time steps and heat demands
        scenario_heat_demands = {}
        for scenario_name, scenario_data in data.items():
            # Remove 'Probability' key and adjust time steps to zero-based indexing
            heat_demand_data = {int(k) - 1: v for k, v in scenario_data.items() if k != 'Probability'}
            # Convert to Series and sort by time step
            heat_demand_series = pd.Series(heat_demand_data).sort_index()
            scenario_heat_demands[scenario_name] = heat_demand_series
        return scenario_heat_demands
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    

def get_weighted_deterministic_objective_value_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted objective value CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def load_weighted_deterministic_objective_value(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted objective value for a specific date.
    """
    filename = get_weighted_deterministic_objective_value_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic objective value from {filepath}")
        # Display the data
        display(data)
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return None
    
def load_stochastic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the stochastic objective values for a specific date.
    """
    filename = get_stochastic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded stochastic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()
    
def load_stochastic_objective_special_values(date_str: str, period: str, input_path: str, special_case: str) -> pd.DataFrame:
    """
    Load the stochastic objective values for a specific date.
    """
    filename = get_stochastic_objective_values_special_filename(date_str, date_str, period, special_case)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded stochastic objective special case values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_actual_deterministic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the actual deterministic objective values for a specific date.
    """
    filename = get_actual_deterministic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded actual deterministic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()
    
def load_deterministic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the actual deterministic objective values for a specific date.
    """
    filename = get_deterministic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded actual deterministic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

# Calculations

In [17]:
# List of dates to process
dates_to_process = [
    datetime(2023, 3, 3),
    datetime(2023, 3, 16),
    datetime(2023, 4, 3),
    datetime(2023, 4, 9),
    datetime(2023, 5, 14),
    datetime(2023, 5, 15),
    datetime(2023, 6, 19),
    datetime(2023, 6, 22),
    datetime(2023, 6, 26),
    datetime(2023, 7, 9),
    datetime(2023, 7, 10),
    # Add mo
]

# Period for the analysis
period = 'day'

## Compute weighted Wait-and-See Solution

In [18]:
# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")
    
    # Load Wait and See solution data
    ws_data = load_ws_solution_data(date_str, period, INPUT_PATH_WS)
    if ws_data.empty:
        print(f"No Wait and See solution data available for date {date_str}.")
        continue
    
    # Display the loaded Wait and See solution data
    print("Wait and See Objective Values:")
    display(ws_data)
    
    # Load probabilities
    probabilities = load_probabilities(date_str, period, INPUT_PATH_HD)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        continue
    
    # Display the probabilities
    print("Probabilities:")
    probabilities_df = pd.DataFrame.from_dict(probabilities, orient='index', columns=['Probability'])
    display(probabilities_df)
    
    # Merge ws_data with probabilities
    ws_data['Probability'] = ws_data['Scenario'].map(probabilities)
    
    # Check for missing probabilities
    if ws_data['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(ws_data[ws_data['Probability'].isnull()])
        continue
    
    # Compute weighted objective value
    ws_data['WeightedObjective'] = ws_data['ObjectiveValue'] * ws_data['Probability']
    
    # Print intermediate calculations
    print("Intermediate Calculations:")
    display(ws_data)
    
    # Sum the weighted objectives
    weighted_objective_value = ws_data['WeightedObjective'].sum()
    
    # Store the result
    results.append({
        'Date': date.strftime('%Y-%m-%d'),
        'Weighted Objective Value': weighted_objective_value
    })

Processing date: 20230303
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230303_to_20230303_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -313.272646
1   Scenario2     -303.277273
2   Scenario3     -312.223968
3   Scenario4     -307.834008
4   Scenario5     -309.032745
5   Scenario6     -309.827177
6   Scenario7     -309.039271
7   Scenario8     -305.915359
8   Scenario9     -313.295285
9  Scenario10     -307.182671

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Probabilities:

            Probability
Scenario1      0.213933
Scenario2      0.085874
Scenario3      0.060216
Scenario4      0.115567
Scenario5      0.098109
Scenario6      0.064584
Scenario7      0.078224
Scenario8      0.061210
Scenario9      0.061475
Scenario10     0.160809

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -313.272646     0.213933         -67.019229
1   Scenario2     -303.277273     0.085874         -26.043513
2   Scenario3     -312.223968     0.060216         -18.800913
3   Scenario4     -307.834008     0.115567         -35.575316
4   Scenario5     -309.032745     0.098109         -30.318740
5   Scenario6     -309.827177     0.064584         -20.009993
6   Scenario7     -309.039271     0.078224         -24.174368
7   Scenario8     -305.915359     0.061210         -18.724975
8   Scenario9     -313.295285     0.061475         -19.259944
9  Scenario10     -307.182671     0.160809         -49.397729

Processing date: 20230316
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230316_to_20230316_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -344.917233
1   Scenario2     -339.233144
2   Scenario3     -339.150400
3   Scenario4     -337.489298
4   Scenario5     -338.727557
5   Scenario6     -338.056432
6   Scenario7     -339.170661
7   Scenario8     -339.889094
8   Scenario9     -347.786642
9  Scenario10     -335.610647

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Probabilities:

            Probability
Scenario1      0.093211
Scenario2      0.041917
Scenario3      0.073168
Scenario4      0.164225
Scenario5      0.096919
Scenario6      0.165247
Scenario7      0.048252
Scenario8      0.114138
Scenario9      0.088206
Scenario10     0.114716

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -344.917233     0.093211         -32.149917
1   Scenario2     -339.233144     0.041917         -14.219509
2   Scenario3     -339.150400     0.073168         -24.814815
3   Scenario4     -337.489298     0.164225         -55.424277
4   Scenario5     -338.727557     0.096919         -32.829211
5   Scenario6     -338.056432     0.165247         -55.862978
6   Scenario7     -339.170661     0.048252         -16.365806
7   Scenario8     -339.889094     0.114138         -38.794349
8   Scenario9     -347.786642     0.088206         -30.676946
9  Scenario10     -335.610647     0.114716         -38.500033

Processing date: 20230403
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230403_to_20230403_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -359.316856
1   Scenario2     -355.067087
2   Scenario3     -361.775919
3   Scenario4     -354.517395
4   Scenario5     -362.208538
5   Scenario6     -351.820728
6   Scenario7     -363.886096
7   Scenario8     -357.605324
8   Scenario9     -359.850230
9  Scenario10     -357.959896

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Probabilities:

            Probability
Scenario1      0.050894
Scenario2      0.110215
Scenario3      0.121587
Scenario4      0.057770
Scenario5      0.067584
Scenario6      0.134609
Scenario7      0.114209
Scenario8      0.059725
Scenario9      0.223599
Scenario10     0.059808

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -359.316856     0.050894         -18.286896
1   Scenario2     -355.067087     0.110215         -39.133638
2   Scenario3     -361.775919     0.121587         -43.987194
3   Scenario4     -354.517395     0.057770         -20.480587
4   Scenario5     -362.208538     0.067584         -24.479384
5   Scenario6     -351.820728     0.134609         -47.358407
6   Scenario7     -363.886096     0.114209         -41.559221
7   Scenario8     -357.605324     0.059725         -21.357875
8   Scenario9     -359.850230     0.223599         -80.462128
9  Scenario10     -357.959896     0.059808         -21.408977

Processing date: 20230409
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230409_to_20230409_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -371.799261
1   Scenario2     -365.259528
2   Scenario3     -368.448512
3   Scenario4     -369.844827
4   Scenario5     -364.540796
5   Scenario6     -369.284451
6   Scenario7     -376.214313
7   Scenario8     -374.558218
8   Scenario9     -374.881621
9  Scenario10     -374.932154

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Probabilities:

            Probability
Scenario1      0.064652
Scenario2      0.190680
Scenario3      0.129189
Scenario4      0.109657
Scenario5      0.067537
Scenario6      0.095297
Scenario7      0.078145
Scenario8      0.084789
Scenario9      0.097324
Scenario10     0.082731

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -371.799261     0.064652         -24.037419
1   Scenario2     -365.259528     0.190680         -69.647541
2   Scenario3     -368.448512     0.129189         -47.599541
3   Scenario4     -369.844827     0.109657         -40.556181
4   Scenario5     -364.540796     0.067537         -24.620099
5   Scenario6     -369.284451     0.095297         -35.191561
6   Scenario7     -376.214313     0.078145         -29.399256
7   Scenario8     -374.558218     0.084789         -31.758287
8   Scenario9     -374.881621     0.097324         -36.484919
9  Scenario10     -374.932154     0.082731         -31.018512

Processing date: 20230514
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230514_to_20230514_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -179.829501
1   Scenario2     -151.368588
2   Scenario3     -159.368691
3   Scenario4     -163.495980
4   Scenario5     -155.978439
5   Scenario6     -160.868134
6   Scenario7     -154.072043
7   Scenario8     -156.734087
8   Scenario9     -180.960535
9  Scenario10     -154.156367

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Probabilities:

            Probability
Scenario1      0.242257
Scenario2      0.085862
Scenario3      0.063438
Scenario4      0.061312
Scenario5      0.066836
Scenario6      0.068384
Scenario7      0.136694
Scenario8      0.065145
Scenario9      0.083452
Scenario10     0.126620

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -179.829501     0.242257         -43.564882
1   Scenario2     -151.368588     0.085862         -12.996736
2   Scenario3     -159.368691     0.063438         -10.110029
3   Scenario4     -163.495980     0.061312         -10.024254
4   Scenario5     -155.978439     0.066836         -10.424988
5   Scenario6     -160.868134     0.068384         -11.000858
6   Scenario7     -154.072043     0.136694         -21.060730
7   Scenario8     -156.734087     0.065145         -10.210482
8   Scenario9     -180.960535     0.083452         -15.101574
9  Scenario10     -154.156367     0.126620         -19.519276

Processing date: 20230515
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230515_to_20230515_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -169.932861
1   Scenario2     -162.807109
2   Scenario3     -149.078896
3   Scenario4     -162.230251
4   Scenario5     -162.431291
5   Scenario6     -153.265180
6   Scenario7     -170.254573
7   Scenario8     -165.551164
8   Scenario9     -165.174566
9  Scenario10     -152.961272

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Probabilities:

            Probability
Scenario1      0.066917
Scenario2      0.093079
Scenario3      0.119735
Scenario4      0.156098
Scenario5      0.060302
Scenario6      0.214441
Scenario7      0.097663
Scenario8      0.087456
Scenario9      0.047847
Scenario10     0.056461

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -169.932861     0.066917         -11.371391
1   Scenario2     -162.807109     0.093079         -15.153939
2   Scenario3     -149.078896     0.119735         -17.849940
3   Scenario4     -162.230251     0.156098         -25.323885
4   Scenario5     -162.431291     0.060302          -9.794966
5   Scenario6     -153.265180     0.214441         -32.866410
6   Scenario7     -170.254573     0.097663         -16.627611
7   Scenario8     -165.551164     0.087456         -14.478440
8   Scenario9     -165.174566     0.047847          -7.903131
9  Scenario10     -152.961272     0.056461          -8.636290

Processing date: 20230619
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230619_to_20230619_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -102.208813
1   Scenario2     -127.068354
2   Scenario3     -115.250513
3   Scenario4     -114.237603
4   Scenario5      -99.451948
5   Scenario6     -125.415610
6   Scenario7     -110.502543
7   Scenario8     -125.652885
8   Scenario9     -123.022311
9  Scenario10     -128.620428

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Probabilities:

            Probability
Scenario1      0.147722
Scenario2      0.149388
Scenario3      0.070626
Scenario4      0.051094
Scenario5      0.105200
Scenario6      0.035835
Scenario7      0.099024
Scenario8      0.080709
Scenario9      0.094985
Scenario10     0.165417

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -102.208813     0.147722         -15.098471
1   Scenario2     -127.068354     0.149388         -18.982529
2   Scenario3     -115.250513     0.070626          -8.139677
3   Scenario4     -114.237603     0.051094          -5.836854
4   Scenario5      -99.451948     0.105200         -10.462349
5   Scenario6     -125.415610     0.035835          -4.494233
6   Scenario7     -110.502543     0.099024         -10.942361
7   Scenario8     -125.652885     0.080709         -10.141380
8   Scenario9     -123.022311     0.094985         -11.685263
9  Scenario10     -128.620428     0.165417         -21.276025

Processing date: 20230622
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230622_to_20230622_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -108.641195
1   Scenario2     -105.409177
2   Scenario3     -106.163460
3   Scenario4     -123.742568
4   Scenario5     -104.891414
5   Scenario6     -109.200899
6   Scenario7     -116.635720
7   Scenario8     -107.437946
8   Scenario9     -125.656864
9  Scenario10     -123.212768

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Probabilities:

            Probability
Scenario1      0.135874
Scenario2      0.082486
Scenario3      0.127544
Scenario4      0.194525
Scenario5      0.081249
Scenario6      0.108861
Scenario7      0.059450
Scenario8      0.066503
Scenario9      0.081728
Scenario10     0.061779

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -108.641195     0.135874         -14.761506
1   Scenario2     -105.409177     0.082486          -8.694767
2   Scenario3     -106.163460     0.127544         -13.540511
3   Scenario4     -123.742568     0.194525         -24.071060
4   Scenario5     -104.891414     0.081249          -8.522371
5   Scenario6     -109.200899     0.108861         -11.887732
6   Scenario7     -116.635720     0.059450          -6.934042
7   Scenario8     -107.437946     0.066503          -7.144929
8   Scenario9     -125.656864     0.081728         -10.269640
9  Scenario10     -123.212768     0.061779          -7.612016

Processing date: 20230626
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230626_to_20230626_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1      -72.368879
1   Scenario2     -105.186433
2   Scenario3     -152.074592
3   Scenario4     -137.916875
4   Scenario5     -128.868392
5   Scenario6     -100.137817
6   Scenario7     -121.683067
7   Scenario8     -109.856556
8   Scenario9     -124.797490
9  Scenario10     -107.701490

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Probabilities:

            Probability
Scenario1      0.008036
Scenario2      0.001415
Scenario3      0.000252
Scenario4      0.031910
Scenario5      0.359087
Scenario6      0.507279
Scenario7      0.001421
Scenario8      0.000250
Scenario9      0.000016
Scenario10     0.090334

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1      -72.368879     0.008036          -0.581569
1   Scenario2     -105.186433     0.001415          -0.148847
2   Scenario3     -152.074592     0.000252          -0.038321
3   Scenario4     -137.916875     0.031910          -4.400938
4   Scenario5     -128.868392     0.359087         -46.274991
5   Scenario6     -100.137817     0.507279         -50.797804
6   Scenario7     -121.683067     0.001421          -0.172899
7   Scenario8     -109.856556     0.000250          -0.027486
8   Scenario9     -124.797490     0.000016          -0.001964
9  Scenario10     -107.701490     0.090334          -9.729075

Processing date: 20230709
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230709_to_20230709_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -123.056465
1   Scenario2     -133.363468
2   Scenario3     -124.247508
3   Scenario4     -141.849280
4   Scenario5     -125.207105
5   Scenario6     -121.909838
6   Scenario7     -111.995662
7   Scenario8     -128.558433
8   Scenario9     -117.537118
9  Scenario10     -129.888026

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Probabilities:

            Probability
Scenario1      0.063022
Scenario2      0.083171
Scenario3      0.133864
Scenario4      0.077075
Scenario5      0.077908
Scenario6      0.121064
Scenario7      0.078744
Scenario8      0.165071
Scenario9      0.145044
Scenario10     0.055037

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -123.056465     0.063022          -7.755286
1   Scenario2     -133.363468     0.083171         -11.091988
2   Scenario3     -124.247508     0.133864         -16.632224
3   Scenario4     -141.849280     0.077075         -10.933044
4   Scenario5     -125.207105     0.077908          -9.754619
5   Scenario6     -121.909838     0.121064         -14.758906
6   Scenario7     -111.995662     0.078744          -8.819024
7   Scenario8     -128.558433     0.165071         -21.221257
8   Scenario9     -117.537118     0.145044         -17.048073
9  Scenario10     -129.888026     0.055037          -7.148598

Processing date: 20230710
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230710_to_20230710_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -114.493744
1   Scenario2      -96.786299
2   Scenario3     -144.461455
3   Scenario4     -120.222212
4   Scenario5     -123.113194
5   Scenario6     -125.500130
6   Scenario7     -134.425613
7   Scenario8     -138.759346
8   Scenario9     -109.955296
9  Scenario10     -117.287197

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Probabilities:

            Probability
Scenario1      0.157475
Scenario2      0.055415
Scenario3      0.134182
Scenario4      0.115740
Scenario5      0.069091
Scenario6      0.091832
Scenario7      0.110580
Scenario8      0.066341
Scenario9      0.130086
Scenario10     0.069256

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -114.493744     0.157475         -18.029946
1   Scenario2      -96.786299     0.055415          -5.363443
2   Scenario3     -144.461455     0.134182         -19.384154
3   Scenario4     -120.222212     0.115740         -13.914528
4   Scenario5     -123.113194     0.069091          -8.506043
5   Scenario6     -125.500130     0.091832         -11.524930
6   Scenario7     -134.425613     0.110580         -14.864793
7   Scenario8     -138.759346     0.066341          -9.205478
8   Scenario9     -109.955296     0.130086         -14.303639
9  Scenario10     -117.287197     0.069256          -8.122897

#### Final Results Wait-and-See Solution

In [19]:
# Create a DataFrame of results
results_df = pd.DataFrame(results)
results_df['Weighted Objective Value'] = results_df['Weighted Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df)

Final Results:

          Date  Weighted Objective Value
0   2023-03-03               -309.324721
1   2023-03-16               -339.637840
2   2023-04-03               -358.514306
3   2023-04-09               -370.313316
4   2023-05-14               -164.013808
5   2023-05-15               -160.006004
6   2023-06-19               -117.059143
7   2023-06-22               -113.438573
8   2023-06-26               -112.173895
9   2023-07-09               -125.163018
10  2023-07-10               -123.219850

## Compute Heat Demand Difference for the calculation of EEV

In [20]:
def compute_costs_from_differences(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
    """
    Compute the differences and costs between deterministic and scenario heat demands for a specific date.
    Returns:
        - total_costs_df: DataFrame containing total costs per scenario.
        - weighted_total_cost: The total weighted cost for the date.
    """
    # Load deterministic weighted time series data
    det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
    if det_ts_data.empty:
        print(f"No deterministic weighted time series data available for date {date_str}.")
        return None, None

    # Extract the deterministic heat demand
    det_heat_demand = det_ts_data['heat_demand']
    det_heat_demand.name = 'deterministic_heat_demand'

    # Load scenario heat demands
    scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
    if not scenario_heat_demands:
        print(f"No scenario heat demands available for date {date_str}.")
        return None, None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None, None

    # Create a DataFrame to store costs
    costs_df = pd.DataFrame({
        't': det_ts_data['t'],
        'deterministic_heat_demand': det_heat_demand
    })

    total_costs = {}
    weighted_total_cost = 0.0

    # For each scenario, compute differences, costs, and total costs
    for scenario_name, scenario_hd_series in scenario_heat_demands.items():
        # Align scenario_hd_series with det_heat_demand
        scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
        scenario_hd_series.name = f"{scenario_name}_heat_demand"

        # Compute difference
        difference = det_heat_demand - scenario_hd_series
        difference.name = f"{scenario_name}_difference"

        # Compute cost per time step
        cost = difference.abs() * 0.01
        cost.name = f"{scenario_name}_cost"

        # Sum costs over time steps
        total_cost = cost.sum()

        # Get probability for the scenario
        probability = probabilities.get(scenario_name, 0)

        # Compute weighted cost
        weighted_cost = total_cost * probability

        # Add to total weighted cost
        weighted_total_cost += weighted_cost

        # Store total cost per scenario
        total_costs[scenario_name] = total_cost

        # Optionally, add to costs_df for detailed output
        costs_df[f"{scenario_name}_cost"] = cost.values

    # Create DataFrame for total costs per scenario
    total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])

    # Display total costs per scenario
    print(f"Total Costs for date {date_str}:")
    display(total_costs_df)

    print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

    return total_costs_df, weighted_total_cost

In [21]:
def compute_costs_from_differences_special_case(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
    """
    Compute the differences and costs between deterministic and scenario heat demands for a specific date,
    including additional costs when heat storage content exceeds a threshold.
    Returns:
        - total_costs_df: DataFrame containing total costs per scenario.
        - weighted_total_cost: The total weighted cost for the date.
    """
    # Load deterministic weighted time series data
    det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
    if det_ts_data.empty:
        print(f"No deterministic weighted time series data available for date {date_str}.")
        return None, None

    # Extract the deterministic heat demand
    det_heat_demand = det_ts_data['heat_demand']
    det_heat_demand.name = 'deterministic_heat_demand'

    # Extract the deterministic heat storage content
    if 'heat_storage1.heat_capacity' in det_ts_data.columns:
        det_heat_storage_content = det_ts_data['heat_storage1.heat_capacity']
    else:
        print(f"Heat storage content data not available in deterministic time series data for date {date_str}.")
        return None, None
    det_heat_storage_content.name = 'heat_storage1.heat_capacity'

    # Load scenario heat demands
    scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
    if not scenario_heat_demands:
        print(f"No scenario heat demands available for date {date_str}.")
        return None, None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None, None

    # Create a DataFrame to store costs
    costs_df = pd.DataFrame({
        't': det_ts_data['t'],
        'deterministic_heat_demand': det_heat_demand,
        'deterministic_heat_storage_content': det_heat_storage_content,
    })

    total_costs = {}
    weighted_total_cost = 0.0

    # For each scenario, compute differences, costs, and total costs
    for scenario_name, scenario_hd_series in scenario_heat_demands.items():
        # Align scenario_hd_series with det_heat_demand
        scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
        scenario_hd_series.name = f"{scenario_name}_heat_demand"

        # Compute difference
        difference = det_heat_demand - scenario_hd_series
        difference.name = f"{scenario_name}_difference"

        # Compute adjusted storage content
        adjusted_storage_content = det_heat_storage_content + difference
        adjusted_storage_content.name = f"{scenario_name}_adjusted_storage_content"

        # Check if adjusted storage content exceeds 400
        exceeds_capacity = adjusted_storage_content > 400
        additional_cost = exceeds_capacity.astype(float) * 10  # 10 if exceeds, 0 otherwise

        # Compute cost per time step
        cost = difference.abs() * 0.01 + additional_cost
        cost.name = f"{scenario_name}_cost"

        # Sum costs over time steps
        total_cost = cost.sum()

        # Get probability for the scenario
        probability = probabilities.get(scenario_name, 0)

        # Compute weighted cost
        weighted_cost = total_cost * probability

        # Add to total weighted cost
        weighted_total_cost += weighted_cost

        # Store total cost per scenario
        total_costs[scenario_name] = total_cost

        # Optionally, add to costs_df for detailed output
        # costs_df[f"{scenario_name}_cost"] = cost.values

    # Create DataFrame for total costs per scenario
    total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])

    # Display total costs per scenario
    print(f"Total Costs for date {date_str}:")
    display(total_costs_df)

    print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

    return total_costs_df, weighted_total_cost

In [22]:
# Input paths
input_path_det_ts = INPUT_PATH_D  # Path to deterministic weighted time series
input_path_hd = INPUT_PATH_HD     # Path to heat demand scenarios

# Dictionary to store total costs for each date
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute costs and weighted total cost
    total_costs_df, weighted_total_cost = compute_costs_from_differences_special_case(
        date_str=date_str,
        period=period,
        input_path_det_ts=input_path_det_ts,
        input_path_hd=input_path_hd
    )

    if weighted_total_cost is not None:
        # Load deterministic objective value
        det_obj_value = load_weighted_deterministic_objective_value(date_str, period, INPUT_PATH_D_OBJ)
        if det_obj_value is not None:
            # det_obj_value is a DataFrame with one value
            det_obj_value = det_obj_value['ObjectiveValue'].iloc[0]
            print(f"Deterministic Objective Value for date {date_str}: {det_obj_value}")

            # Compute total cost
            total_cost = det_obj_value + weighted_total_cost

            # Store the result
            results.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Total Cost': total_cost
            })

            print(f"Total Cost for date {date_str}: {total_cost:.6f}")
        else:
            print(f"Could not load deterministic objective value for date {date_str}.")
    else:
        print(f"Could not compute weighted total cost for date {date_str}.")

Processing date: 20230303
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230303_to_20230303_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,141.657945,320.0,1.0,37.218589,117.039587,68.0,...,1.342055,143.000000,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,146.058094,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,146.058094,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,3.058094
2,3,0.1543,0.251,0.105,234.265871,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,234.265871,37.218589,38.095238,68.0,75.0,91.265871,84.057477,117.039587,0.000000
3,4,0.1543,0.251,0.105,377.818933,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,377.818933,37.218589,38.095238,68.0,75.0,174.000000,162.464986,117.039587,60.818933
4,5,0.1543,0.251,0.105,277.248569,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,277.248569,37.218589,38.095238,68.0,75.0,134.248569,124.792374,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Total Costs for date 20230303:

     Scenario  Total Cost
0   Scenario1    3.442595
1   Scenario2    3.784239
2   Scenario3    3.392275
3   Scenario4    4.061540
4   Scenario5    4.209550
5   Scenario6    3.544443
6   Scenario7    3.798941
7   Scenario8    4.023848
8   Scenario9    3.618931
9  Scenario10    2.943745

Weighted Total Cost for date 20230303: 3.616329
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230303_to_20230303_day_obj.csv

   ObjectiveValue
0     -310.308423

Deterministic Objective Value for date 20230303: -310.308422967672
Total Cost for date 20230303: -306.692094

Processing date: 20230316
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230316_to_20230316_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.338281,320.0,1.0,37.218589,117.039587,68.0,...,20.661719,143.000000,37.218589,38.095238,68.0,75.0,0.00000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,134.504272,320.0,1.0,37.218589,117.039587,68.0,...,8.495728,143.000000,37.218589,38.095238,68.0,75.0,0.00000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,197.239009,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,197.239009,37.218589,38.095238,68.0,75.0,0.00000,0.000000,117.039587,54.239009
3,4,0.1543,0.251,0.105,331.596286,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,331.596286,37.218589,38.095238,68.0,75.0,174.00000,162.464986,117.039587,14.596286
4,5,0.1543,0.251,0.105,231.966560,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,231.966560,37.218589,38.095238,68.0,75.0,88.96656,81.878409,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Total Costs for date 20230316:

     Scenario  Total Cost
0   Scenario1    3.220186
1   Scenario2    3.225086
2   Scenario3    4.317285
3   Scenario4    2.564928
4   Scenario5    3.652522
5   Scenario6    3.123079
6   Scenario7    3.916078
7   Scenario8    3.328031
8   Scenario9    3.130369
9  Scenario10    3.441913

Weighted Total Cost for date 20230316: 3.282309
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230316_to_20230316_day_obj.csv

   ObjectiveValue
0      -340.10005

Deterministic Objective Value for date 20230316: -340.1000498014763
Total Cost for date 20230316: -336.817740

Processing date: 20230403
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230403_to_20230403_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,109.681178,320.0,1.0,37.218589,117.039587,68.0,...,33.318822,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,129.868257,320.0,1.0,37.218589,117.039587,68.0,...,13.131743,143.000000,37.218589,38.095238,68.0,75.0,0.0,-0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,318.075668,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,318.075668,37.218589,38.095238,68.0,75.0,174.0,162.464986,117.039587,1.075668
3,4,0.1543,0.251,0.105,174.754284,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,174.754284,37.218589,38.095238,68.0,75.0,0.0,0.000000,117.039587,31.754284
4,5,0.1543,0.251,0.105,205.485095,320.0,1.0,37.218589,117.039587,68.0,...,22.714905,228.200000,37.218589,38.095238,68.0,75.0,85.2,78.308824,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Total Costs for date 20230403:

     Scenario  Total Cost
0   Scenario1    3.420299
1   Scenario2    3.556115
2   Scenario3   13.103604
3   Scenario4   14.376863
4   Scenario5   14.490219
5   Scenario6    3.511845
6   Scenario7    3.788047
7   Scenario8   13.602868
8   Scenario9    2.718333
9  Scenario10    3.491377

Weighted Total Cost for date 20230403: 6.503507
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230403_to_20230403_day_obj.csv

   ObjectiveValue
0     -358.797163

Deterministic Objective Value for date 20230403: -358.79716317296135
Total Cost for date 20230403: -352.293656

Processing date: 20230409
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230409_to_20230409_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,114.125280,320.0,1.0,37.218589,117.039587,68.0,...,28.874720,143.000000,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,131.676456,320.0,1.0,37.218589,117.039587,68.0,...,11.323544,143.000000,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,321.959866,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,321.959866,37.218589,38.095238,68.0,75.0,126.566426,117.511973,117.039587,52.393440
3,4,0.1543,0.251,0.105,183.594859,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,183.594859,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,40.594859
4,5,0.1543,0.251,0.105,179.251707,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,179.251707,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,36.251707

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Total Costs for date 20230409:

     Scenario  Total Cost
0   Scenario1    4.166008
1   Scenario2    3.425088
2   Scenario3    3.477175
3   Scenario4    3.180209
4   Scenario5    3.616938
5   Scenario6    4.024472
6   Scenario7    3.756576
7   Scenario8    3.289749
8   Scenario9    4.177738
9  Scenario10    3.711194

Weighted Total Cost for date 20230409: 3.634292
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230409_to_20230409_day_obj.csv

   ObjectiveValue
0     -376.098872

Deterministic Objective Value for date 20230409: -376.09887158052703
Total Cost for date 20230409: -372.464580

Processing date: 20230514
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230514_to_20230514_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,49.971224,320.0,1.0,26.372168,93.851133,58.0,...,80.000000,129.971224,26.372168,34.955191,58.0,71.971224,0.0,0.0,93.851133,0.000000
1,2,0.1543,0.251,0.105,55.574432,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,55.574432,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,55.574432
2,3,0.1543,0.251,0.105,154.186657,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,154.186657,37.218589,38.095238,68.0,75.000000,0.0,0.0,117.039587,11.186657
3,4,0.1543,0.251,0.105,63.378124,320.0,-0.0,0.000000,0.000000,0.0,...,11.621876,75.000000,0.000000,38.095238,0.0,75.000000,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,86.842616,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,86.842616,0.000000,38.095238,0.0,75.000000,0.0,0.0,0.000000,11.842616

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Total Costs for date 20230514:

     Scenario  Total Cost
0   Scenario1    2.482023
1   Scenario2   23.492675
2   Scenario3   14.076806
3   Scenario4   14.280422
4   Scenario5   13.244559
5   Scenario6   13.739010
6   Scenario7   12.878085
7   Scenario8   24.334968
8   Scenario9   13.293882
9  Scenario10   22.821753

Weighted Total Cost for date 20230514: 13.556475
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230514_to_20230514_day_obj.csv

   ObjectiveValue
0     -163.244112

Deterministic Objective Value for date 20230514: -163.24411178004016
Total Cost for date 20230514: -149.687637

Processing date: 20230515
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230515_to_20230515_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,28.841828,320.0,-0.0,0.000000,0.000000,0.00000,...,46.158172,75.000000,0.000000,38.095238,0.00000,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,48.280144,320.0,-0.0,0.000000,0.000000,0.00000,...,26.719856,75.000000,0.000000,38.095238,0.00000,75.0,0.0,0.0,0.000000,0.000000
2,3,0.1543,0.251,0.105,143.475056,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,143.475056,37.218589,38.095238,68.00000,75.0,0.0,0.0,117.039587,0.475056
3,4,0.1543,0.251,0.105,60.227853,320.0,1.0,37.028646,116.633511,67.82488,...,7.597028,67.824880,37.028646,0.000000,67.82488,0.0,0.0,0.0,116.633511,0.000000
4,5,0.1543,0.251,0.105,89.954385,320.0,0.0,0.000000,0.000000,0.00000,...,0.000000,89.954385,0.000000,38.095238,0.00000,75.0,0.0,0.0,0.000000,14.954385

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Total Costs for date 20230515:

     Scenario  Total Cost
0   Scenario1   43.038888
1   Scenario2   63.872958
2   Scenario3   43.226087
3   Scenario4   22.745381
4   Scenario5   32.877674
5   Scenario6   22.519456
6   Scenario7   43.396390
7   Scenario8   54.675732
8   Scenario9   43.938013
9  Scenario10   43.327792

Weighted Total Cost for date 20230515: 37.931732
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230515_to_20230515_day_obj.csv

   ObjectiveValue
0     -159.495938

Deterministic Objective Value for date 20230515: -159.49593776396412
Total Cost for date 20230515: -121.564205

Processing date: 20230619
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230619_to_20230619_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,26.883966,320.0,-0.0,0.000000,0.000000,0.0,...,48.116034,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,35.155913,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,35.155913,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,35.155913
2,3,0.1543,0.251,0.105,140.240550,320.0,1.0,37.218589,117.039587,68.0,...,2.759450,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.0,117.039587,0.000000
3,4,0.1543,0.251,0.105,47.080850,320.0,-0.0,0.000000,0.000000,0.0,...,27.919150,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,79.435948,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,79.435948,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,4.435948

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Total Costs for date 20230619:

     Scenario  Total Cost
0   Scenario1    3.499742
1   Scenario2    3.930799
2   Scenario3   13.474698
3   Scenario4   23.835316
4   Scenario5   14.565780
5   Scenario6    3.495068
6   Scenario7   14.198022
7   Scenario8    4.377046
8   Scenario9   13.354585
9  Scenario10    3.244541

Weighted Total Cost for date 20230619: 8.495669
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230619_to_20230619_day_obj.csv

   ObjectiveValue
0      -124.21868

Deterministic Objective Value for date 20230619: -124.21868012545649
Total Cost for date 20230619: -115.723011

Processing date: 20230622
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230622_to_20230622_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,36.243864,320.0,-0.0,0.000000,0.000000,0.0,...,38.756136,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,26.692999,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,26.692999,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,26.692999
2,3,0.1543,0.251,0.105,141.619779,320.0,1.0,37.218589,117.039587,68.0,...,1.380221,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.0,117.039587,0.000000
3,4,0.1543,0.251,0.105,65.150202,320.0,-0.0,0.000000,0.000000,0.0,...,9.849798,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,77.963981,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,77.963981,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,2.963981

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Total Costs for date 20230622:

     Scenario  Total Cost
0   Scenario1   24.337398
1   Scenario2   14.744322
2   Scenario3   25.535946
3   Scenario4   14.378358
4   Scenario5   24.856428
5   Scenario6   14.456292
6   Scenario7   24.590795
7   Scenario8   14.627743
8   Scenario9   34.669658
9  Scenario10   14.549417

Weighted Total Cost for date 20230622: 20.337270
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230622_to_20230622_day_obj.csv

   ObjectiveValue
0     -125.569722

Deterministic Objective Value for date 20230622: -125.5697219717573
Total Cost for date 20230622: -105.232452

Processing date: 20230626
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230626_to_20230626_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,5.559557,320.0,-0.0,0.0,0.0,0.0,...,69.440443,75.000000,0.0,38.095238,0.0,75.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,49.347106,320.0,0.0,0.0,0.0,0.0,...,0.000000,49.347106,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,49.347106
2,3,0.1543,0.251,0.105,95.483014,320.0,0.0,0.0,0.0,0.0,...,0.000000,95.483014,0.0,38.095238,0.0,75.000000,0.0,0.0,0.0,20.483014
3,4,0.1543,0.251,0.105,56.749592,320.0,0.0,0.0,0.0,0.0,...,18.250408,75.000000,0.0,38.095238,0.0,75.000000,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,49.503750,320.0,0.0,0.0,0.0,0.0,...,23.395241,72.898992,0.0,35.917043,0.0,72.898992,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Total Costs for date 20230626:

     Scenario  Total Cost
0   Scenario1   56.491448
1   Scenario2   26.373410
2   Scenario3   38.635586
3   Scenario4   25.414318
4   Scenario5   13.314589
5   Scenario6    2.254107
6   Scenario7   36.259954
7   Scenario8   27.313466
8   Scenario9    7.652818
9  Scenario10   26.793851

Weighted Total Cost for date 20230626: 9.715428
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230626_to_20230626_day_obj.csv

   ObjectiveValue
0     -112.341847

Deterministic Objective Value for date 20230626: -112.34184676782633
Total Cost for date 20230626: -102.626419

Processing date: 20230709
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230709_to_20230709_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,30.715569,320.0,0.0,0.000000,0.000000,0.0,...,44.284431,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,49.297894,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,49.297894,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,49.297894
2,3,0.1543,0.251,0.105,128.796270,320.0,1.0,37.218589,117.039587,68.0,...,14.203730,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.0,117.039587,0.000000
3,4,0.1543,0.251,0.105,53.728503,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,53.728503,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,53.728503
4,5,0.1543,0.251,0.105,65.872722,320.0,0.0,0.000000,0.000000,0.0,...,9.127278,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Total Costs for date 20230709:

     Scenario  Total Cost
0   Scenario1   13.121064
1   Scenario2    3.762912
2   Scenario3   24.513215
3   Scenario4   23.531560
4   Scenario5    3.401179
5   Scenario6   14.633377
6   Scenario7    3.852795
7   Scenario8    3.185627
8   Scenario9   13.034413
9  Scenario10   13.790671

Weighted Total Cost for date 20230709: 11.750361
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230709_to_20230709_day_obj.csv

   ObjectiveValue
0     -123.058123

Deterministic Objective Value for date 20230709: -123.0581227170028
Total Cost for date 20230709: -111.307761

Processing date: 20230710
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230710_to_20230710_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,25.333756,320.0,-0.0,0.000000,0.000000,0.000000,...,49.666244,75.000000,0.000000,38.095238,0.000000,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,33.171919,320.0,0.0,0.000000,0.000000,0.000000,...,0.000000,33.171919,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,33.171919
2,3,0.1543,0.251,0.105,124.981345,320.0,1.0,34.331279,110.866836,65.338007,...,15.356662,140.338007,34.331279,38.095238,65.338007,75.0,0.0,0.0,110.866836,0.000000
3,4,0.1543,0.251,0.105,46.764980,320.0,-0.0,0.000000,0.000000,0.000000,...,28.235020,75.000000,0.000000,38.095238,0.000000,75.0,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,61.996696,320.0,1.0,37.218589,117.039587,68.000000,...,6.003304,68.000000,37.218589,0.000000,68.000000,0.0,0.0,0.0,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Total Costs for date 20230710:

     Scenario  Total Cost
0   Scenario1    2.852600
1   Scenario2   23.922728
2   Scenario3    3.420707
3   Scenario4   23.605837
4   Scenario5   23.680253
5   Scenario6   13.037037
6   Scenario7   12.914994
7   Scenario8   12.621812
8   Scenario9    3.167353
9  Scenario10   43.460530

Weighted Total Cost for date 20230710: 13.486794
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230710_to_20230710_day_obj.csv

   ObjectiveValue
0      -122.13361

Deterministic Objective Value for date 20230710: -122.13361026377824
Total Cost for date 20230710: -108.646816

In [23]:
# Input paths
input_path_det_ts = INPUT_PATH_D  # Path to deterministic weighted time series
input_path_hd = INPUT_PATH_HD     # Path to heat demand scenarios

# Dictionary to store total costs for each date
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute costs and weighted total cost
    total_costs_df, weighted_total_cost = compute_costs_from_differences(
        date_str=date_str,
        period=period,
        input_path_det_ts=input_path_det_ts,
        input_path_hd=input_path_hd
    )

    if weighted_total_cost is not None:
        # Load deterministic objective value
        det_obj_value = load_weighted_deterministic_objective_value(date_str, period, INPUT_PATH_D_OBJ)
        if det_obj_value is not None:
            # det_obj_value is a DataFrame with one value
            det_obj_value = det_obj_value['ObjectiveValue'].iloc[0]
            print(f"Deterministic Objective Value for date {date_str}: {det_obj_value}")

            # Compute total cost
            total_cost = det_obj_value + weighted_total_cost

            # Store the result
            results.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Total Cost': total_cost
            })

            print(f"Total Cost for date {date_str}: {total_cost:.6f}")
        else:
            print(f"Could not load deterministic objective value for date {date_str}.")
    else:
        print(f"Could not compute weighted total cost for date {date_str}.")

Processing date: 20230303
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230303_to_20230303_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,141.657945,320.0,1.0,37.218589,117.039587,68.0,...,1.342055,143.000000,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,146.058094,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,146.058094,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,3.058094
2,3,0.1543,0.251,0.105,234.265871,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,234.265871,37.218589,38.095238,68.0,75.0,91.265871,84.057477,117.039587,0.000000
3,4,0.1543,0.251,0.105,377.818933,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,377.818933,37.218589,38.095238,68.0,75.0,174.000000,162.464986,117.039587,60.818933
4,5,0.1543,0.251,0.105,277.248569,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,277.248569,37.218589,38.095238,68.0,75.0,134.248569,124.792374,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Total Costs for date 20230303:

     Scenario  Total Cost
0   Scenario1    3.442595
1   Scenario2    3.784239
2   Scenario3    3.392275
3   Scenario4    4.061540
4   Scenario5    4.209550
5   Scenario6    3.544443
6   Scenario7    3.798941
7   Scenario8    4.023848
8   Scenario9    3.618931
9  Scenario10    2.943745

Weighted Total Cost for date 20230303: 3.616329
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230303_to_20230303_day_obj.csv

   ObjectiveValue
0     -310.308423

Deterministic Objective Value for date 20230303: -310.308422967672
Total Cost for date 20230303: -306.692094

Processing date: 20230316
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230316_to_20230316_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.338281,320.0,1.0,37.218589,117.039587,68.0,...,20.661719,143.000000,37.218589,38.095238,68.0,75.0,0.00000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,134.504272,320.0,1.0,37.218589,117.039587,68.0,...,8.495728,143.000000,37.218589,38.095238,68.0,75.0,0.00000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,197.239009,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,197.239009,37.218589,38.095238,68.0,75.0,0.00000,0.000000,117.039587,54.239009
3,4,0.1543,0.251,0.105,331.596286,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,331.596286,37.218589,38.095238,68.0,75.0,174.00000,162.464986,117.039587,14.596286
4,5,0.1543,0.251,0.105,231.966560,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,231.966560,37.218589,38.095238,68.0,75.0,88.96656,81.878409,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Total Costs for date 20230316:

     Scenario  Total Cost
0   Scenario1    3.220186
1   Scenario2    3.225086
2   Scenario3    4.317285
3   Scenario4    2.564928
4   Scenario5    3.652522
5   Scenario6    3.123079
6   Scenario7    3.916078
7   Scenario8    3.328031
8   Scenario9    3.130369
9  Scenario10    3.441913

Weighted Total Cost for date 20230316: 3.282309
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230316_to_20230316_day_obj.csv

   ObjectiveValue
0      -340.10005

Deterministic Objective Value for date 20230316: -340.1000498014763
Total Cost for date 20230316: -336.817740

Processing date: 20230403
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230403_to_20230403_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,109.681178,320.0,1.0,37.218589,117.039587,68.0,...,33.318822,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,129.868257,320.0,1.0,37.218589,117.039587,68.0,...,13.131743,143.000000,37.218589,38.095238,68.0,75.0,0.0,-0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,318.075668,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,318.075668,37.218589,38.095238,68.0,75.0,174.0,162.464986,117.039587,1.075668
3,4,0.1543,0.251,0.105,174.754284,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,174.754284,37.218589,38.095238,68.0,75.0,0.0,0.000000,117.039587,31.754284
4,5,0.1543,0.251,0.105,205.485095,320.0,1.0,37.218589,117.039587,68.0,...,22.714905,228.200000,37.218589,38.095238,68.0,75.0,85.2,78.308824,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Total Costs for date 20230403:

     Scenario  Total Cost
0   Scenario1    3.420299
1   Scenario2    3.556115
2   Scenario3    3.103604
3   Scenario4    4.376863
4   Scenario5    4.490219
5   Scenario6    3.511845
6   Scenario7    3.788047
7   Scenario8    3.602868
8   Scenario9    2.718333
9  Scenario10    3.491377

Weighted Total Cost for date 20230403: 3.436851
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230403_to_20230403_day_obj.csv

   ObjectiveValue
0     -358.797163

Deterministic Objective Value for date 20230403: -358.79716317296135
Total Cost for date 20230403: -355.360312

Processing date: 20230409
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230409_to_20230409_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,114.125280,320.0,1.0,37.218589,117.039587,68.0,...,28.874720,143.000000,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,131.676456,320.0,1.0,37.218589,117.039587,68.0,...,11.323544,143.000000,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,321.959866,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,321.959866,37.218589,38.095238,68.0,75.0,126.566426,117.511973,117.039587,52.393440
3,4,0.1543,0.251,0.105,183.594859,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,183.594859,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,40.594859
4,5,0.1543,0.251,0.105,179.251707,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,179.251707,37.218589,38.095238,68.0,75.0,0.000000,0.000000,117.039587,36.251707

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Total Costs for date 20230409:

     Scenario  Total Cost
0   Scenario1    4.166008
1   Scenario2    3.425088
2   Scenario3    3.477175
3   Scenario4    3.180209
4   Scenario5    3.616938
5   Scenario6    4.024472
6   Scenario7    3.756576
7   Scenario8    3.289749
8   Scenario9    4.177738
9  Scenario10    3.711194

Weighted Total Cost for date 20230409: 3.634292
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230409_to_20230409_day_obj.csv

   ObjectiveValue
0     -376.098872

Deterministic Objective Value for date 20230409: -376.09887158052703
Total Cost for date 20230409: -372.464580

Processing date: 20230514
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230514_to_20230514_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,49.971224,320.0,1.0,26.372168,93.851133,58.0,...,80.000000,129.971224,26.372168,34.955191,58.0,71.971224,0.0,0.0,93.851133,0.000000
1,2,0.1543,0.251,0.105,55.574432,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,55.574432,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,55.574432
2,3,0.1543,0.251,0.105,154.186657,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,154.186657,37.218589,38.095238,68.0,75.000000,0.0,0.0,117.039587,11.186657
3,4,0.1543,0.251,0.105,63.378124,320.0,-0.0,0.000000,0.000000,0.0,...,11.621876,75.000000,0.000000,38.095238,0.0,75.000000,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,86.842616,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,86.842616,0.000000,38.095238,0.0,75.000000,0.0,0.0,0.000000,11.842616

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Total Costs for date 20230514:

     Scenario  Total Cost
0   Scenario1    2.482023
1   Scenario2    3.492675
2   Scenario3    4.076806
3   Scenario4    4.280422
4   Scenario5    3.244559
5   Scenario6    3.739010
6   Scenario7    2.878085
7   Scenario8    4.334968
8   Scenario9    3.293882
9  Scenario10    2.821753

Weighted Total Cost for date 20230514: 3.202773
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230514_to_20230514_day_obj.csv

   ObjectiveValue
0     -163.244112

Deterministic Objective Value for date 20230514: -163.24411178004016
Total Cost for date 20230514: -160.041338

Processing date: 20230515
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230515_to_20230515_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,28.841828,320.0,-0.0,0.000000,0.000000,0.00000,...,46.158172,75.000000,0.000000,38.095238,0.00000,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,48.280144,320.0,-0.0,0.000000,0.000000,0.00000,...,26.719856,75.000000,0.000000,38.095238,0.00000,75.0,0.0,0.0,0.000000,0.000000
2,3,0.1543,0.251,0.105,143.475056,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,143.475056,37.218589,38.095238,68.00000,75.0,0.0,0.0,117.039587,0.475056
3,4,0.1543,0.251,0.105,60.227853,320.0,1.0,37.028646,116.633511,67.82488,...,7.597028,67.824880,37.028646,0.000000,67.82488,0.0,0.0,0.0,116.633511,0.000000
4,5,0.1543,0.251,0.105,89.954385,320.0,0.0,0.000000,0.000000,0.00000,...,0.000000,89.954385,0.000000,38.095238,0.00000,75.0,0.0,0.0,0.000000,14.954385

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Total Costs for date 20230515:

     Scenario  Total Cost
0   Scenario1    3.038888
1   Scenario2    3.872958
2   Scenario3    3.226087
3   Scenario4    2.745381
4   Scenario5    2.877674
5   Scenario6    2.519456
6   Scenario7    3.396390
7   Scenario8    4.675732
8   Scenario9    3.938013
9  Scenario10    3.327792

Weighted Total Cost for date 20230515: 3.209410
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230515_to_20230515_day_obj.csv

   ObjectiveValue
0     -159.495938

Deterministic Objective Value for date 20230515: -159.49593776396412
Total Cost for date 20230515: -156.286528

Processing date: 20230619
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230619_to_20230619_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,26.883966,320.0,-0.0,0.000000,0.000000,0.0,...,48.116034,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,35.155913,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,35.155913,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,35.155913
2,3,0.1543,0.251,0.105,140.240550,320.0,1.0,37.218589,117.039587,68.0,...,2.759450,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.0,117.039587,0.000000
3,4,0.1543,0.251,0.105,47.080850,320.0,-0.0,0.000000,0.000000,0.0,...,27.919150,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,79.435948,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,79.435948,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,4.435948

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Total Costs for date 20230619:

     Scenario  Total Cost
0   Scenario1    3.499742
1   Scenario2    3.930799
2   Scenario3    3.474698
3   Scenario4    3.835316
4   Scenario5    4.565780
5   Scenario6    3.495068
6   Scenario7    4.198022
7   Scenario8    4.377046
8   Scenario9    3.354585
9  Scenario10    3.244541

Weighted Total Cost for date 20230619: 3.775444
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230619_to_20230619_day_obj.csv

   ObjectiveValue
0      -124.21868

Deterministic Objective Value for date 20230619: -124.21868012545649
Total Cost for date 20230619: -120.443236

Processing date: 20230622
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230622_to_20230622_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,36.243864,320.0,-0.0,0.000000,0.000000,0.0,...,38.756136,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,26.692999,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,26.692999,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,26.692999
2,3,0.1543,0.251,0.105,141.619779,320.0,1.0,37.218589,117.039587,68.0,...,1.380221,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.0,117.039587,0.000000
3,4,0.1543,0.251,0.105,65.150202,320.0,-0.0,0.000000,0.000000,0.0,...,9.849798,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,77.963981,320.0,0.0,0.000000,0.000000,0.0,...,0.000000,77.963981,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,2.963981

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Total Costs for date 20230622:

     Scenario  Total Cost
0   Scenario1    4.337398
1   Scenario2    4.744322
2   Scenario3    5.535946
3   Scenario4    4.378358
4   Scenario5    4.856428
5   Scenario6    4.456292
6   Scenario7    4.590795
7   Scenario8    4.627743
8   Scenario9    4.669658
9  Scenario10    4.549417

Weighted Total Cost for date 20230622: 4.661539
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230622_to_20230622_day_obj.csv

   ObjectiveValue
0     -125.569722

Deterministic Objective Value for date 20230622: -125.5697219717573
Total Cost for date 20230622: -120.908183

Processing date: 20230626
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230626_to_20230626_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,5.559557,320.0,-0.0,0.0,0.0,0.0,...,69.440443,75.000000,0.0,38.095238,0.0,75.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,49.347106,320.0,0.0,0.0,0.0,0.0,...,0.000000,49.347106,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,49.347106
2,3,0.1543,0.251,0.105,95.483014,320.0,0.0,0.0,0.0,0.0,...,0.000000,95.483014,0.0,38.095238,0.0,75.000000,0.0,0.0,0.0,20.483014
3,4,0.1543,0.251,0.105,56.749592,320.0,0.0,0.0,0.0,0.0,...,18.250408,75.000000,0.0,38.095238,0.0,75.000000,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,49.503750,320.0,0.0,0.0,0.0,0.0,...,23.395241,72.898992,0.0,35.917043,0.0,72.898992,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Total Costs for date 20230626:

     Scenario  Total Cost
0   Scenario1    6.491448
1   Scenario2    6.373410
2   Scenario3    8.635586
3   Scenario4    5.414318
4   Scenario5    3.314589
5   Scenario6    2.254107
6   Scenario7    6.259954
7   Scenario8    7.313466
8   Scenario9    7.652818
9  Scenario10    6.793851

Weighted Total Cost for date 20230626: 3.194379
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230626_to_20230626_day_obj.csv

   ObjectiveValue
0     -112.341847

Deterministic Objective Value for date 20230626: -112.34184676782633
Total Cost for date 20230626: -109.147468

Processing date: 20230709
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230709_to_20230709_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,30.715569,320.0,0.0,0.000000,0.000000,0.0,...,44.284431,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,49.297894,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,49.297894,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,49.297894
2,3,0.1543,0.251,0.105,128.796270,320.0,1.0,37.218589,117.039587,68.0,...,14.203730,143.000000,37.218589,38.095238,68.0,75.0,0.0,0.0,117.039587,0.000000
3,4,0.1543,0.251,0.105,53.728503,320.0,-0.0,0.000000,0.000000,0.0,...,0.000000,53.728503,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,53.728503
4,5,0.1543,0.251,0.105,65.872722,320.0,0.0,0.000000,0.000000,0.0,...,9.127278,75.000000,0.000000,38.095238,0.0,75.0,0.0,0.0,0.000000,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Total Costs for date 20230709:

     Scenario  Total Cost
0   Scenario1    3.121064
1   Scenario2    3.762912
2   Scenario3    4.513215
3   Scenario4    3.531560
4   Scenario5    3.401179
5   Scenario6    4.633377
6   Scenario7    3.852795
7   Scenario8    3.185627
8   Scenario9    3.034413
9  Scenario10    3.790671

Weighted Total Cost for date 20230709: 3.689916
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230709_to_20230709_day_obj.csv

   ObjectiveValue
0     -123.058123

Deterministic Objective Value for date 20230709: -123.0581227170028
Total Cost for date 20230709: -119.368206

Processing date: 20230710
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230710_to_20230710_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,25.333756,320.0,-0.0,0.000000,0.000000,0.000000,...,49.666244,75.000000,0.000000,38.095238,0.000000,75.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,33.171919,320.0,0.0,0.000000,0.000000,0.000000,...,0.000000,33.171919,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,33.171919
2,3,0.1543,0.251,0.105,124.981345,320.0,1.0,34.331279,110.866836,65.338007,...,15.356662,140.338007,34.331279,38.095238,65.338007,75.0,0.0,0.0,110.866836,0.000000
3,4,0.1543,0.251,0.105,46.764980,320.0,-0.0,0.000000,0.000000,0.000000,...,28.235020,75.000000,0.000000,38.095238,0.000000,75.0,0.0,0.0,0.000000,0.000000
4,5,0.1543,0.251,0.105,61.996696,320.0,1.0,37.218589,117.039587,68.000000,...,6.003304,68.000000,37.218589,0.000000,68.000000,0.0,0.0,0.0,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Total Costs for date 20230710:

     Scenario  Total Cost
0   Scenario1    2.852600
1   Scenario2    3.922728
2   Scenario3    3.420707
3   Scenario4    3.605837
4   Scenario5    3.680253
5   Scenario6    3.037037
6   Scenario7    2.914994
7   Scenario8    2.621812
8   Scenario9    3.167353
9  Scenario10    3.460530

Weighted Total Cost for date 20230710: 3.224069
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230710_to_20230710_day_obj.csv

   ObjectiveValue
0      -122.13361

Deterministic Objective Value for date 20230710: -122.13361026377824
Total Cost for date 20230710: -118.909542

In [24]:

# Create a DataFrame of results
results_df_eev_special = pd.DataFrame(results)
results_df_eev_special['Total Cost'] = results_df_eev_special['Total Cost'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_eev_special)

# Save the EEV results to a CSV file
filename = "eev_speical.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_eev_special.to_csv(output_filepath, index=False)

Final Results:

          Date  Total Cost
0   2023-03-03 -306.692094
1   2023-03-16 -336.817740
2   2023-04-03 -355.360312
3   2023-04-09 -372.464580
4   2023-05-14 -160.041338
5   2023-05-15 -156.286528
6   2023-06-19 -120.443236
7   2023-06-22 -120.908183
8   2023-06-26 -109.147468
9   2023-07-09 -119.368206
10  2023-07-10 -118.909542

## EEV

In [25]:

# Create a DataFrame of results
results_df_eev = pd.DataFrame(results)
results_df_eev['Total Cost'] = results_df_eev['Total Cost'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_eev)

Final Results:

          Date  Total Cost
0   2023-03-03 -306.692094
1   2023-03-16 -336.817740
2   2023-04-03 -355.360312
3   2023-04-09 -372.464580
4   2023-05-14 -160.041338
5   2023-05-15 -156.286528
6   2023-06-19 -120.443236
7   2023-06-22 -120.908183
8   2023-06-26 -109.147468
9   2023-07-09 -119.368206
10  2023-07-10 -118.909542

In [26]:
def compute_weighted_stochastic_objective_value(date_str: str, period: str, input_path_s: str, input_path_hd: str) -> float:
    """
    Compute the weighted stochastic objective value for a specific date.
    """
    # Load stochastic objective values
    sto_obj_values_df = load_stochastic_objective_values(date_str, period, input_path_s)
    if sto_obj_values_df.empty:
        print(f"No stochastic objective values data available for date {date_str}.")
        return None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None

    # Clean up column names if necessary
    # Sometimes the first column might have a stray ':' character
    sto_obj_values_df.columns = [col.strip(':') for col in sto_obj_values_df.columns]

    # Merge sto_obj_values_df with probabilities
    sto_obj_values_df['Probability'] = sto_obj_values_df['Scenario'].map(probabilities)

    # Check for missing probabilities
    if sto_obj_values_df['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(sto_obj_values_df[sto_obj_values_df['Probability'].isnull()])
        return None

    # Compute weighted objective value
    sto_obj_values_df['WeightedObjective'] = sto_obj_values_df['ObjectiveValue'] * sto_obj_values_df['Probability']

    # Display intermediate calculations
    print("Intermediate Calculations:")
    display(sto_obj_values_df)

    # Sum the weighted objectives
    weighted_objective_value = sto_obj_values_df['WeightedObjective'].sum()

    return weighted_objective_value

In [27]:
def compute_weighted_stochastic_objective_special_value(date_str: str, period: str, input_path_s: str, input_path_hd: str, special_case: str) -> float:
    """
    Compute the weighted stochastic objective value for a specific date.
    """
    # Load stochastic objective values
    sto_obj_values_df = load_stochastic_objective_special_values(date_str, period, input_path_s, special_case)
    if sto_obj_values_df.empty:
        print(f"No stochastic objective values data available for date {date_str}.")
        return None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None

    # Clean up column names if necessary
    # Sometimes the first column might have a stray ':' character
    sto_obj_values_df.columns = [col.strip(':') for col in sto_obj_values_df.columns]

    # Merge sto_obj_values_df with probabilities
    sto_obj_values_df['Probability'] = sto_obj_values_df['Scenario'].map(probabilities)

    # Check for missing probabilities
    if sto_obj_values_df['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(sto_obj_values_df[sto_obj_values_df['Probability'].isnull()])
        return None

    # Compute weighted objective value
    sto_obj_values_df['WeightedObjective'] = sto_obj_values_df['ObjectiveValue'] * sto_obj_values_df['Probability']

    # Display intermediate calculations
    print("Intermediate Calculations:")
    display(sto_obj_values_df)

    # Sum the weighted objectives
    weighted_objective_value = sto_obj_values_df['WeightedObjective'].sum()

    return weighted_objective_value

In [28]:
# Input paths
input_path_s_obj = INPUT_PATH_S_OBJ  # Path to stochastic objective values
input_path_hd = INPUT_PATH_HD  # Path to heat demand scenarios (probabilities)

# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute weighted stochastic objective value
    weighted_sto_obj_value = compute_weighted_stochastic_objective_value(
        date_str=date_str,
        period=period,
        input_path_s=input_path_s_obj,
        input_path_hd=input_path_hd
    )

    if weighted_sto_obj_value is not None:
        # Store the result
        results.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Weighted Stochastic Objective Value': weighted_sto_obj_value
        })
        print(f"Weighted Stochastic Objective Value for date {date_str}: {weighted_sto_obj_value:.6f}")
    else:
        print(f"Could not compute weighted stochastic objective value for date {date_str}.")

Processing date: 20230303
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230303_to_20230303_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -297.174455     0.213933         -63.575301
1   Scenario2     -297.100131     0.085874         -25.513060
2   Scenario3     -296.415782     0.060216         -17.849005
3   Scenario4     -296.255276     0.115567         -34.237202
4   Scenario5     -296.553264     0.098109         -29.094397
5   Scenario6     -297.363624     0.064584         -19.205043
6   Scenario7     -295.334331     0.078224         -23.102310
7   Scenario8     -296.606585     0.061210         -18.155188
8   Scenario9     -296.174794     0.061475         -18.207455
9  Scenario10     -296.479289     0.160809         -47.676529

Weighted Stochastic Objective Value for date 20230303: -296.615490

Processing date: 20230316
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230316_to_20230316_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -327.439985     0.093211         -30.520853
1   Scenario2     -327.564917     0.041917         -13.730416
2   Scenario3     -326.476060     0.073168         -23.887464
3   Scenario4     -327.798265     0.164225         -53.832764
4   Scenario5     -327.372454     0.096919         -31.728683
5   Scenario6     -327.504890     0.165247         -54.119362
6   Scenario7     -327.215945     0.048252         -15.788962
7   Scenario8     -327.409733     0.114138         -37.369977
8   Scenario9     -327.439659     0.088206         -28.882216
9  Scenario10     -327.372243     0.114716         -37.554953

Weighted Stochastic Objective Value for date 20230316: -327.415649

Processing date: 20230403
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230403_to_20230403_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -345.576254     0.050894         -17.587589
1   Scenario2     -345.854982     0.110215         -38.118328
2   Scenario3     -345.108279     0.121587         -41.960629
3   Scenario4     -345.614544     0.057770         -19.966266
4   Scenario5     -344.257584     0.067584         -23.266192
5   Scenario6     -346.314617     0.134609         -46.617232
6   Scenario7     -344.738480     0.114209         -39.372383
7   Scenario8     -345.711730     0.059725         -20.647533
8   Scenario9     -346.082979     0.223599         -77.383785
9  Scenario10     -345.626782     0.059808         -20.671354

Weighted Stochastic Objective Value for date 20230403: -345.591291

Processing date: 20230409
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230409_to_20230409_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -363.705858     0.064652         -23.514167
1   Scenario2     -363.539561     0.190680         -69.319578
2   Scenario3     -363.589129     0.129189         -46.971762
3   Scenario4     -364.489689     0.109657         -39.968951
4   Scenario5     -364.109211     0.067537         -24.590951
5   Scenario6     -364.364395     0.095297         -34.722696
6   Scenario7     -363.626797     0.078145         -28.415605
7   Scenario8     -364.520499     0.084789         -30.907202
8   Scenario9     -364.703532     0.097324         -35.494348
9  Scenario10     -364.078519     0.082731         -30.120580

Weighted Stochastic Objective Value for date 20230409: -364.025841

Processing date: 20230514
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230514_to_20230514_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -183.030073     0.242257         -44.340242
1   Scenario2     -182.252740     0.085862         -15.648496
2   Scenario3     -181.802940     0.063438         -11.533213
3   Scenario4     -182.839174     0.061312         -11.210222
4   Scenario5     -181.741926     0.066836         -12.146918
5   Scenario6     -181.994061     0.068384         -12.445541
6   Scenario7     -182.439548     0.136694         -24.938399
7   Scenario8     -181.355974     0.065145         -11.814481
8   Scenario9     -182.028148     0.083452         -15.190668
9  Scenario10     -181.824437     0.126620         -23.022606

Weighted Stochastic Objective Value for date 20230514: -182.290786

Processing date: 20230515
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230515_to_20230515_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -180.227713     0.066917         -12.060292
1   Scenario2     -179.573989     0.093079         -16.714585
2   Scenario3     -179.709211     0.119735         -21.517456
3   Scenario4     -180.291867     0.156098         -28.143275
4   Scenario5     -180.759515     0.060302         -10.900199
5   Scenario6     -180.752854     0.214441         -38.760907
6   Scenario7     -179.651267     0.097663         -17.545323
7   Scenario8     -179.537612     0.087456         -15.701639
8   Scenario9     -179.429503     0.047847          -8.585189
9  Scenario10     -179.638515     0.056461         -10.142504

Weighted Stochastic Objective Value for date 20230515: -180.071368

Processing date: 20230619
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230619_to_20230619_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -137.234176     0.147722         -20.272482
1   Scenario2     -138.739147     0.149388         -20.726009
2   Scenario3     -138.983312     0.070626          -9.815828
3   Scenario4     -137.452451     0.051094          -7.022993
4   Scenario5     -138.005065     0.105200         -14.518138
5   Scenario6     -139.220886     0.035835          -4.988941
6   Scenario7     -137.278937     0.099024         -13.593857
7   Scenario8     -138.074682     0.080709         -11.143937
8   Scenario9     -137.829540     0.094985         -13.091727
9  Scenario10     -139.910561     0.165417         -23.143606

Weighted Stochastic Objective Value for date 20230619: -138.317519

Processing date: 20230622
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230622_to_20230622_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -134.052573     0.135874         -18.214250
1   Scenario2     -135.751428     0.082486         -11.197573
2   Scenario3     -134.074196     0.127544         -17.100358
3   Scenario4     -136.084580     0.194525         -26.471893
4   Scenario5     -133.969168     0.081249         -10.884923
5   Scenario6     -135.540171     0.108861         -14.755055
6   Scenario7     -134.878228     0.059450          -8.018566
7   Scenario8     -135.243580     0.066503          -8.994082
8   Scenario9     -135.272821     0.081728         -11.055529
9  Scenario10     -134.617696     0.061779          -8.316606

Weighted Stochastic Objective Value for date 20230622: -135.008836

Processing date: 20230626
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230626_to_20230626_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -134.427610     0.008036          -1.080284
1   Scenario2     -135.650890     0.001415          -0.191957
2   Scenario3     -134.801548     0.000252          -0.033969
3   Scenario4     -135.786515     0.031910          -4.332958
4   Scenario5     -137.046339     0.359087         -49.211587
5   Scenario6     -136.396081     0.507279         -69.190858
6   Scenario7     -135.109148     0.001421          -0.191976
7   Scenario8     -134.878156     0.000250          -0.033747
8   Scenario9     -134.335066     0.000016          -0.002114
9  Scenario10     -135.568167     0.090334         -12.246375

Weighted Stochastic Objective Value for date 20230626: -136.515824

Processing date: 20230709
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230709_to_20230709_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -139.245134     0.063022          -8.775531
1   Scenario2     -138.214275     0.083171         -11.495435
2   Scenario3     -137.885241     0.133864         -18.457821
3   Scenario4     -137.923714     0.077075         -10.630481
4   Scenario5     -138.863514     0.077908         -10.818560
5   Scenario6     -137.504234     0.121064         -16.646827
6   Scenario7     -137.347280     0.078744         -10.815320
7   Scenario8     -138.968756     0.165071         -22.939698
8   Scenario9     -137.957863     0.145044         -20.009982
9  Scenario10     -138.842718     0.055037          -7.641434

Weighted Stochastic Objective Value for date 20230709: -138.231090

Processing date: 20230710
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230710_to_20230710_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -134.239349     0.157475         -21.139392
1   Scenario2     -133.058427     0.055415          -7.373474
2   Scenario3     -133.931307     0.134182         -17.971196
3   Scenario4     -132.617126     0.115740         -15.349117
4   Scenario5     -132.971352     0.069091          -9.187156
5   Scenario6     -133.356373     0.091832         -12.246385
6   Scenario7     -133.540281     0.110580         -14.766892
7   Scenario8     -133.988860     0.066341          -8.888997
8   Scenario9     -133.551753     0.130086         -17.373206
9  Scenario10     -132.507403     0.069256          -9.176995

Weighted Stochastic Objective Value for date 20230710: -133.472809

In [29]:
# Create a DataFrame of results
results_df_rp = pd.DataFrame(results)
results_df_rp['Weighted Stochastic Objective Value'] = results_df_rp['Weighted Stochastic Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_rp)

Final Results:

          Date  Weighted Stochastic Objective Value
0   2023-03-03                          -296.615490
1   2023-03-16                          -327.415649
2   2023-04-03                          -345.591291
3   2023-04-09                          -364.025841
4   2023-05-14                          -182.290786
5   2023-05-15                          -180.071368
6   2023-06-19                          -138.317519
7   2023-06-22                          -135.008836
8   2023-06-26                          -136.515824
9   2023-07-09                          -138.231090
10  2023-07-10                          -133.472809

## Special Case RP

In [30]:
# Input paths
input_path_s_obj = INPUT_PATH_S_OBJ  # Path to stochastic objective values
input_path_hd = INPUT_PATH_HD  # Path to heat demand scenarios (probabilities)

# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute weighted stochastic objective value
    weighted_sto_obj_special_value = compute_weighted_stochastic_objective_special_value(
        date_str=date_str,
        period=period,
        input_path_s=input_path_s_obj,
        input_path_hd=input_path_hd,
        special_case=special_case
    )

    if weighted_sto_obj_special_value is not None:
        # Store the result
        results.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Weighted Stochastic Objective Value': weighted_sto_obj_special_value
        })
        print(f"Weighted Stochastic Objective Value for date {date_str} and case {special_case}: {weighted_sto_obj_special_value:.6f}")
    else:
        print(f"Could not compute weighted stochastic objective value for date {date_str}.")

Processing date: 20230303
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230303_to_20230303_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230303_to_20230303_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -296.162284     0.213933         -63.358765
1   Scenario2     -296.087960     0.085874         -25.426141
2   Scenario3     -295.403612     0.060216         -17.788056
3   Scenario4     -295.243105     0.115567         -34.120229
4   Scenario5     -295.541093     0.098109         -28.995094
5   Scenario6     -296.351453     0.064584         -19.139672
6   Scenario7     -294.322161     0.078224         -23.023133
7   Scenario8     -295.594414     0.061210         -18.093233
8   Scenario9     -295.162623     0.061475         -18.145232
9  Scenario10     -295.467118     0.160809         -47.513763

Weighted Stochastic Objective Value for date 20230303 and case USE_EXT_COST_10: -295.603319

Processing date: 20230316
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230316_to_20230316_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -327.439985     0.093211         -30.520853
1   Scenario2     -327.564917     0.041917         -13.730416
2   Scenario3     -326.476060     0.073168         -23.887464
3   Scenario4     -327.798265     0.164225         -53.832764
4   Scenario5     -327.372454     0.096919         -31.728683
5   Scenario6     -327.504890     0.165247         -54.119362
6   Scenario7     -327.215945     0.048252         -15.788962
7   Scenario8     -327.409733     0.114138         -37.369977
8   Scenario9     -327.439659     0.088206         -28.882216
9  Scenario10     -327.372243     0.114716         -37.554953

Weighted Stochastic Objective Value for date 20230316 and case USE_EXT_COST_10: -327.415649

Processing date: 20230403
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230403_to_20230403_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -345.578045     0.050894         -17.587680
1   Scenario2     -345.856772     0.110215         -38.118525
2   Scenario3     -345.110070     0.121587         -41.960846
3   Scenario4     -345.616334     0.057770         -19.966370
4   Scenario5     -344.259374     0.067584         -23.266313
5   Scenario6     -346.316407     0.134609         -46.617473
6   Scenario7     -344.740270     0.114209         -39.372587
7   Scenario8     -335.713520     0.059725         -20.050393
8   Scenario9     -346.084769     0.223599         -77.384186
9  Scenario10     -345.628573     0.059808         -20.671461

Weighted Stochastic Objective Value for date 20230403 and case USE_EXT_COST_10: -344.995834

Processing date: 20230409
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230409_to_20230409_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -363.886497     0.064652         -23.525846
1   Scenario2     -363.720200     0.190680         -69.354023
2   Scenario3     -363.769769     0.129189         -46.995098
3   Scenario4     -364.670329     0.109657         -39.988760
4   Scenario5     -364.289851     0.067537         -24.603151
5   Scenario6     -364.545034     0.095297         -34.739911
6   Scenario7     -363.807436     0.078145         -28.429721
7   Scenario8     -364.701138     0.084789         -30.922519
8   Scenario9     -364.884172     0.097324         -35.511929
9  Scenario10     -364.259159     0.082731         -30.135524

Weighted Stochastic Objective Value for date 20230409 and case USE_EXT_COST_10: -364.206481

Processing date: 20230514
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230514_to_20230514_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230514_to_20230514_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -179.961009     0.242257         -43.596741
1   Scenario2     -179.183675     0.085862         -15.384982
2   Scenario3     -178.733876     0.063438         -11.338517
3   Scenario4     -179.770110     0.061312         -11.022052
4   Scenario5     -178.672861     0.066836         -11.941794
5   Scenario6     -178.924997     0.068384         -12.235665
6   Scenario7     -179.370484     0.136694         -24.518876
7   Scenario8     -178.286910     0.065145         -11.614546
8   Scenario9     -178.959083     0.083452         -14.934548
9  Scenario10     -178.755372     0.126620         -22.634002

Weighted Stochastic Objective Value for date 20230514 and case USE_EXT_COST_10: -179.221721

Processing date: 20230515
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230515_to_20230515_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -179.143454     0.066917         -11.987736
1   Scenario2     -178.489730     0.093079         -16.613663
2   Scenario3     -178.624952     0.119735         -21.387632
3   Scenario4     -179.207608     0.156098         -27.974024
4   Scenario5     -179.675256     0.060302         -10.834816
5   Scenario6     -179.668596     0.214441         -38.528397
6   Scenario7     -178.567009     0.097663         -17.439431
7   Scenario8     -178.453353     0.087456         -15.606814
8   Scenario9     -178.345244     0.047847          -8.533310
9  Scenario10     -178.554257     0.056461         -10.081286

Weighted Stochastic Objective Value for date 20230515 and case USE_EXT_COST_10: -178.987109

Processing date: 20230619
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230619_to_20230619_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -137.234176     0.147722         -20.272482
1   Scenario2     -138.739147     0.149388         -20.726009
2   Scenario3     -138.983312     0.070626          -9.815828
3   Scenario4     -137.452451     0.051094          -7.022993
4   Scenario5     -138.005065     0.105200         -14.518138
5   Scenario6     -139.220886     0.035835          -4.988941
6   Scenario7     -137.278937     0.099024         -13.593857
7   Scenario8     -138.074682     0.080709         -11.143937
8   Scenario9     -137.829540     0.094985         -13.091727
9  Scenario10     -139.910561     0.165417         -23.143606

Weighted Stochastic Objective Value for date 20230619 and case USE_EXT_COST_10: -138.317519

Processing date: 20230622
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230622_to_20230622_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -134.410257     0.135874         -18.262850
1   Scenario2     -136.109112     0.082486         -11.227077
2   Scenario3     -134.431880     0.127544         -17.145978
3   Scenario4     -136.442264     0.194525         -26.541472
4   Scenario5     -134.326852     0.081249         -10.913984
5   Scenario6     -135.897855     0.108861         -14.793993
6   Scenario7     -135.235912     0.059450          -8.039831
7   Scenario8     -135.601263     0.066503          -9.017869
8   Scenario9     -135.630505     0.081728         -11.084762
9  Scenario10     -134.975379     0.061779          -8.338704

Weighted Stochastic Objective Value for date 20230622 and case USE_EXT_COST_10: -135.366520

Processing date: 20230626
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230626_to_20230626_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -123.860808     0.008036          -0.995368
1   Scenario2     -125.084088     0.001415          -0.177004
2   Scenario3     -124.234746     0.000252          -0.031306
3   Scenario4     -125.219713     0.031910          -3.995770
4   Scenario5     -136.479537     0.359087         -49.008055
5   Scenario6     -135.829279     0.507279         -68.903331
6   Scenario7     -124.542346     0.001421          -0.176962
7   Scenario8     -124.311355     0.000250          -0.031103
8   Scenario9     -123.768264     0.000016          -0.001948
9  Scenario10     -135.001365     0.090334         -12.195174

Weighted Stochastic Objective Value for date 20230626 and case USE_EXT_COST_10: -135.516021

Processing date: 20230709
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230709_to_20230709_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -138.991712     0.063022          -8.759560
1   Scenario2     -137.960854     0.083171         -11.474358
2   Scenario3     -137.631819     0.133864         -18.423897
3   Scenario4     -137.670293     0.077075         -10.610949
4   Scenario5     -138.610092     0.077908         -10.798817
5   Scenario6     -137.250812     0.121064         -16.616147
6   Scenario7     -137.093859     0.078744         -10.795365
7   Scenario8     -138.715335     0.165071         -22.897866
8   Scenario9     -137.704442     0.145044         -19.973225
9  Scenario10     -138.589296     0.055037          -7.627486

Weighted Stochastic Objective Value for date 20230709 and case USE_EXT_COST_10: -137.977668

Processing date: 20230710
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230710_to_20230710_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -134.162927     0.157475         -21.127358
1   Scenario2     -132.982005     0.055415          -7.369239
2   Scenario3     -133.854886     0.134182         -17.960941
3   Scenario4     -132.540704     0.115740         -15.340272
4   Scenario5     -132.894931     0.069091          -9.181876
5   Scenario6     -123.279952     0.091832         -11.321047
6   Scenario7     -133.463859     0.110580         -14.758442
7   Scenario8     -133.912438     0.066341          -8.883927
8   Scenario9     -133.475331     0.130086         -17.363265
9  Scenario10     -132.430982     0.069256          -9.171702

Weighted Stochastic Objective Value for date 20230710 and case USE_EXT_COST_10: -132.478067

In [31]:
# Create a DataFrame of results
results_df_rp_special = pd.DataFrame(results)
results_df_rp_special['Weighted Stochastic Objective Value'] = results_df_rp_special['Weighted Stochastic Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_rp_special)

Final Results:

          Date  Weighted Stochastic Objective Value
0   2023-03-03                          -295.603319
1   2023-03-16                          -327.415649
2   2023-04-03                          -344.995834
3   2023-04-09                          -364.206481
4   2023-05-14                          -179.221721
5   2023-05-15                          -178.987109
6   2023-06-19                          -138.317519
7   2023-06-22                          -135.366520
8   2023-06-26                          -135.516021
9   2023-07-09                          -137.977668
10  2023-07-10                          -132.478067

In [32]:
# Save the EEV results to a CSV file
filename = "eev.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_eev.to_csv(output_filepath, index=False)


# Save the WS results to a CSV file
filename = "ws.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df.to_csv(output_filepath, index=False)


# Save the RP results to a CSV file
filename = "rp.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_rp.to_csv(output_filepath, index=False)

In [33]:
# Merge the dataframes on 'Date'
merged_df = pd.merge(results_df, results_df_rp, on='Date')
# Calculate EVPI
merged_df['EVPI'] = merged_df['Weighted Stochastic Objective Value'] - merged_df['Weighted Objective Value']

# Rename columns
merged_df.rename(columns={
    'Weighted Objective Value': 'WS',
    'Weighted Stochastic Objective Value': 'RP'
}, inplace=True)
# Create the results DataFrame with 'Date' and 'EVPI'
results_df_evpi = merged_df[['Date', 'EVPI']]

# Round the values in merged_df to two decimal places
merged_df = merged_df.round(2)

# Display the results
print(results_df_evpi)

          Date       EVPI
0   2023-03-03  12.709231
1   2023-03-16  12.222191
2   2023-04-03  12.923015
3   2023-04-09   6.287475
4   2023-05-14 -18.276978
5   2023-05-15 -20.065364
6   2023-06-19 -21.258376
7   2023-06-22 -21.570263
8   2023-06-26 -24.341929
9   2023-07-09 -13.068072
10  2023-07-10 -10.252959

In [34]:
# Save the EVPI results to a CSV file
filename = "evpi.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_evpi.to_csv(output_filepath, index=False)

# Save the all results to a CSV file
filename = "all.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

merged_df.to_csv(output_filepath, index=False)

In [35]:
def collect_actual_objective_values(dates_to_process: List[datetime], period: str, input_path: str) -> pd.DataFrame:
    """
    Collect the actual deterministic objective values for a list of dates.

    Parameters:
    - dates_to_process: List of datetime objects representing the dates to process.
    - period: The period string used in the filenames (e.g., 'day', 'week').
    - input_path: The path where the objective value CSV files are located.

    Returns:
    - A pandas DataFrame with columns 'Date' and 'Actual Value'.
    """
    import os
    import pandas as pd
    from datetime import datetime

    actual_values = []

    for date in dates_to_process:
        date_str = date.strftime('%Y%m%d')
        # Use your existing function to load the data
        data = load_actual_deterministic_objective_values(date_str, period, input_path)
        if not data.empty:
            # Assuming the CSV has columns 'Scenario' and 'ObjectiveValue'
            actual_row = data[data['Scenario'] == 'actual']
            if not actual_row.empty:
                objective_value = actual_row['ObjectiveValue'].iloc[0]
                actual_values.append({
                    'Date': date.strftime('%Y-%m-%d'),
                    'Actual Value': objective_value
                })
            else:
                print(f"No 'actual' scenario found in data for date {date_str}")
        else:
            print(f"Data not available for date {date_str}")

    # Create a DataFrame from the results
    actual_values_df = pd.DataFrame(actual_values)
    # Sort by date
    actual_values_df = actual_values_df.sort_values('Date').reset_index(drop=True)
    return actual_values_df

In [36]:
input_path = INPUT_PATH_D_OBJ_ACT  # Path to actual deterministic objective values

actual_values_df = collect_actual_objective_values(dates_to_process, period, input_path)

# Display the DataFrame
print("\nActual Objective Values:")
print(actual_values_df)

# Optionally, write the DataFrame to a CSV file
filename = "actual_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
actual_values_df.to_csv(output_filepath, index=False)
print(f"\nActual objective values have been written to {output_filepath}")

Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230303_to_20230303_day_obj.csv

Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230316_to_20230316_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230403_to_20230403_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230409_to_20230409_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230514_to_20230514_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230515_to_20230515_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230619_to_20230619_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230622_to_20230622_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230626_to_20230626_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230709_to_20230709_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230710_to_20230710_day_obj.csv

Actual Objective Values:
          Date  Actual Value
0   2023-03-03   -291.044585
1   2023-03-16   -343.485985
2   2023-04-03   -362.745992
3   2023-04-09   -298.538005
4   2023-05-14   -193.837156
5   2023-05-15   -187.420715
6   2023-06-19   -134.831450
7   2023-06-22   -124.881820
8   2023-06-26   -132.985951
9   2023-07-09   -130.265742
10  2023-07-10   -124.212770

Actual objective values have been written to ../data/postprocessing/actual_objective_values.csv

In [37]:
def collect_objective_values(dates_to_process: List[datetime], period: str, input_path: str) -> pd.DataFrame:
    """
    Collect the actual deterministic objective values for a list of dates.

    Parameters:
    - dates_to_process: List of datetime objects representing the dates to process.
    - period: The period string used in the filenames (e.g., 'day', 'week').
    - input_path: The path where the objective value CSV files are located.

    Returns:
    - A pandas DataFrame with columns 'Date' and 'Actual Value'.
    """
    import os
    import pandas as pd
    from datetime import datetime

    values = []

    for date in dates_to_process:
        date_str = date.strftime('%Y%m%d')
        # Use your existing function to load the data
        data = load_deterministic_objective_values(date_str, period, input_path)
        if not data.empty:
            if 'ObjectiveValue' in data.columns:
                objective_value = data['ObjectiveValue'].iloc[0]
                values.append({
                    'Date': date.strftime('%Y-%m-%d'),
                    'Objective Value': objective_value
                })
            else:
                print(f"Die Spalte 'ObjectiveValue' wurde in der Datei {filename} nicht gefunden.")
        else:
            print(f"Datei {filename} existiert nicht im Pfad {input_path}.")
            
            
           
    # Create a DataFrame from the results
    values_df = pd.DataFrame(values)
    # Sort by date
    values_df = values_df.sort_values('Date').reset_index(drop=True)
    return values_df

In [38]:
input_path = INPUT_PATH_D_OBJ  # Ersetzen Sie dies durch den tatsächlichen Pfad

# Aufrufen der Funktion
objective_values_df = collect_objective_values(dates_to_process, period, input_path)

# Anzeigen der Ergebnisse
print(objective_values_df)

# Optionally, write the DataFrame to a CSV file
filename = "deterministic_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
objective_values_df.to_csv(output_filepath, index=False)
print(f"\nObjective values have been written to {output_filepath}")

Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230303_to_20230303_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230316_to_20230316_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230403_to_20230403_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230409_to_20230409_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230514_to_20230514_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230515_to_20230515_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230619_to_20230619_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230622_to_20230622_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230626_to_20230626_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230709_to_20230709_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230710_to_20230710_day_obj.csv
          Date  Objective Value
0   2023-03-03      -301.488562
1   2023-03-16      -331.870140
2   2023-04-03      -350.380859
3   2023-04-09      -369.071085
4   2023-05-14      -188.671192
5   2023-05-15      -187.038862
6   2023-06-19      -143.003136
7   2023-06-22      -139.958853
8   2023-06-26      -141.879681
9   2023-07-09      -144.073677
10  2023-07-10      -138.542445

Objective values have been written to ../data/postprocessing/deterministic_objective_values.csv

In [39]:
# Merge the first two DataFrames on 'Date'
merged_df = pd.merge(objective_values_df, results_df_rp, on='Date', how='outer')
# Merge the result with the third DataFrame
merged_df = pd.merge(merged_df, actual_values_df, on='Date', how='outer')

# Rename columns
merged_df.rename(columns={
    'Objective Value': 'DM Objective Value',
    'Weighted Stochastic Objective Value': 'SM Objective Value',
    'Actual Value': 'Actual Objective Value'
}, inplace=True)

merged_df = merged_df.round(2)

# Display the merged DataFrame
print("Merged DataFrame:")
print(merged_df)

# Optionally, write the DataFrame to a CSV file
filename = "all_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
merged_df.to_csv(output_filepath, index=False)
print(f"\nObjective values have been written to {output_filepath}")

Merged DataFrame:
          Date  DM Objective Value  SM Objective Value  Actual Objective Value
0   2023-03-03             -301.49             -296.62                 -291.04
1   2023-03-16             -331.87             -327.42                 -343.49
2   2023-04-03             -350.38             -345.59                 -362.75
3   2023-04-09             -369.07             -364.03                 -298.54
4   2023-05-14             -188.67             -182.29                 -193.84
5   2023-05-15             -187.04             -180.07                 -187.42
6   2023-06-19             -143.00             -138.32                 -134.83
7   2023-06-22             -139.96             -135.01                 -124.88
8   2023-06-26             -141.88             -136.52                 -132.99
9   2023-07-09             -144.07             -138.23                 -130.27
10  2023-07-10             -138.54             -133.47                 -124.21

Objective values have been written to ../data/postprocessing/all_objective_values.csv