In [1]:
import os
import json
import pandas as pd
from datetime import datetime
from typing import List, Dict, Tuple

In [2]:
# Load configuration from config.json
with open('../models/config.json', 'r') as f:
    config = json.load(f)

postprocess = config['postprocessing']

# Output and input paths from configuration
OUTPUT_PATH = postprocess['output_path']
INPUT_PATH_S = postprocess['input_path_s']
INPUT_PATH_D = postprocess['input_path_d']

# New Input paths
INPUT_PATH_WS = postprocess['input_path_ws']
INPUT_PATH_HD = postprocess['input_path_hd']
INPUT_PATH_D_OBJ = postprocess['input_path_d_obj']
INPUT_PATH_S_OBJ = postprocess['input_path_s_obj']
INPUT_PATH_D_OBJ_ACT = postprocess['input_path_d_obj_act']


# Display the loaded paths
print("Loaded paths:")
print(f"OUTPUT_PATH: {OUTPUT_PATH}")
print(f"INPUT_PATH_S: {INPUT_PATH_S}")
print(f"INPUT_PATH_D: {INPUT_PATH_D}")
print(f"INPUT_PATH_WS: {INPUT_PATH_WS}")
print(f"INPUT_PATH_HD: {INPUT_PATH_HD}")

special_case = 'USE_EXT_COST_10'

Loaded paths:
OUTPUT_PATH: ../data/postprocessing/
INPUT_PATH_S: ../data/output/stochastic/timeseries/
INPUT_PATH_D: ../data/output/deterministic/timeseries/
INPUT_PATH_WS: ../data/output/deterministic/cases/scenarios/
INPUT_PATH_HD: ../data/input/demands/

## Filename Generations Functions

In [3]:
def get_ws_solution_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the Wait and See solution objective values CSV file.
    """
    filename = f"d_scenarios_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_probabilities_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the probabilities JSON file.
    """
    filename = f"reduced_heat_demand_scenarios_{start_date}_to_{end_date}_{period}.json"
    return filename

def get_weighted_deterministic_ts_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted time series CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_ts.csv"
    return filename


def get_stochastic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the stochastic objective values CSV file.
    """
    filename = f"s_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_stochastic_objective_values_special_filename(start_date: str, end_date: str, period: str, special_case: str) -> str:
    """
    Generate the filename for the stochastic objective values CSV file.
    """
    filename = f"s_{start_date}_to_{end_date}_{period}_{special_case}_obj.csv"
    return filename

def get_actual_deterministic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the actual deterministic objective values CSV file.
    """
    filename = f"d_actual_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_deterministic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the actual deterministic objective values CSV file.
    """
    filename = f"d_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

## Data Loading Functions

In [4]:
def load_ws_solution_data(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the Wait and See solution objective values for a specific date.
    """
    filename = get_ws_solution_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded Wait and See solution data from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_probabilities(date_str: str, period: str, input_path: str) -> Dict[str, float]:
    """
    Load probabilities from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: Probability}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded probabilities from {filepath}")
        # Extract probabilities
        probabilities = {}
        for scenario_name, scenario_data in data.items():
            probabilities[scenario_name] = scenario_data.get('Probability', 0)
        return probabilities
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    
def load_weighted_deterministic_ts(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted time series data for a specific date.
    """
    filename = get_weighted_deterministic_ts_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic weighted time series data from {filepath}")
        # Display the first few rows
        display(data.head())
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_scenario_heat_demands(date_str: str, period: str, input_path: str) -> Dict[str, pd.Series]:
    """
    Load scenario heat demands from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: pd.Series of heat demands}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded scenario heat demands from {filepath}")
        # For each scenario, create a pandas Series with time steps and heat demands
        scenario_heat_demands = {}
        for scenario_name, scenario_data in data.items():
            # Remove 'Probability' key and adjust time steps to zero-based indexing
            heat_demand_data = {int(k) - 1: v for k, v in scenario_data.items() if k != 'Probability'}
            # Convert to Series and sort by time step
            heat_demand_series = pd.Series(heat_demand_data).sort_index()
            scenario_heat_demands[scenario_name] = heat_demand_series
        return scenario_heat_demands
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    

def get_weighted_deterministic_objective_value_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted objective value CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def load_weighted_deterministic_objective_value(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted objective value for a specific date.
    """
    filename = get_weighted_deterministic_objective_value_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic objective value from {filepath}")
        # Display the data
        display(data)
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return None
    
def load_stochastic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the stochastic objective values for a specific date.
    """
    filename = get_stochastic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded stochastic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()
    
def load_stochastic_objective_special_values(date_str: str, period: str, input_path: str, special_case: str) -> pd.DataFrame:
    """
    Load the stochastic objective values for a specific date.
    """
    filename = get_stochastic_objective_values_special_filename(date_str, date_str, period, special_case)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded stochastic objective special case values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_actual_deterministic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the actual deterministic objective values for a specific date.
    """
    filename = get_actual_deterministic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded actual deterministic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()
    
def load_deterministic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the actual deterministic objective values for a specific date.
    """
    filename = get_deterministic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded actual deterministic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

# Calculations

In [5]:
# List of dates to process
dates_to_process = [
    datetime(2023, 3, 16),
    datetime(2023, 3, 28),
    datetime(2023, 4, 3),
    datetime(2023, 4, 9),
    datetime(2023, 4, 10),
    datetime(2023, 5, 1),
    datetime(2023, 5, 15),
    datetime(2023, 6, 19),
    datetime(2023, 6, 22),
    datetime(2023, 6, 26),
    datetime(2023, 7, 9),
    datetime(2023, 7, 10),
    # Add mo
]

# Period for the analysis
period = 'day'

## Compute weighted Wait-and-See Solution

In [6]:
# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")
    
    # Load Wait and See solution data
    ws_data = load_ws_solution_data(date_str, period, INPUT_PATH_WS)
    if ws_data.empty:
        print(f"No Wait and See solution data available for date {date_str}.")
        continue
    
    # Display the loaded Wait and See solution data
    print("Wait and See Objective Values:")
    display(ws_data)
    
    # Load probabilities
    probabilities = load_probabilities(date_str, period, INPUT_PATH_HD)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        continue
    
    # Display the probabilities
    print("Probabilities:")
    probabilities_df = pd.DataFrame.from_dict(probabilities, orient='index', columns=['Probability'])
    display(probabilities_df)
    
    # Merge ws_data with probabilities
    ws_data['Probability'] = ws_data['Scenario'].map(probabilities)
    
    # Check for missing probabilities
    if ws_data['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(ws_data[ws_data['Probability'].isnull()])
        continue
    
    # Compute weighted objective value
    ws_data['WeightedObjective'] = ws_data['ObjectiveValue'] * ws_data['Probability']
    
    # Print intermediate calculations
    print("Intermediate Calculations:")
    display(ws_data)
    
    # Sum the weighted objectives
    weighted_objective_value = ws_data['WeightedObjective'].sum()
    
    # Store the result
    results.append({
        'Date': date.strftime('%Y-%m-%d'),
        'Weighted Objective Value': weighted_objective_value
    })

Processing date: 20230316
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230316_to_20230316_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -345.856582
1   Scenario2     -342.362251
2   Scenario3     -340.216595
3   Scenario4     -338.197949
4   Scenario5     -340.925051
5   Scenario6     -339.098053
6   Scenario7     -339.503938
7   Scenario8     -341.714974
8   Scenario9     -345.697733
9  Scenario10     -335.300821

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Probabilities:

            Probability
Scenario1      0.093211
Scenario2      0.041917
Scenario3      0.073168
Scenario4      0.164225
Scenario5      0.096919
Scenario6      0.165247
Scenario7      0.048252
Scenario8      0.114138
Scenario9      0.088206
Scenario10     0.114716

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -345.856582     0.093211         -32.237474
1   Scenario2     -342.362251     0.041917         -14.350670
2   Scenario3     -340.216595     0.073168         -24.892826
3   Scenario4     -338.197949     0.164225         -55.540655
4   Scenario5     -340.925051     0.096919         -33.042190
5   Scenario6     -339.098053     0.165247         -56.035103
6   Scenario7     -339.503938     0.048252         -16.381887
7   Scenario8     -341.714974     0.114138         -39.002752
8   Scenario9     -345.697733     0.088206         -30.492692
9  Scenario10     -335.300821     0.114716         -38.464491

Processing date: 20230328
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230328_to_20230328_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -348.694929
1   Scenario2     -340.262874
2   Scenario3     -345.511861
3   Scenario4     -349.179240
4   Scenario5     -352.590673
5   Scenario6     -352.268370
6   Scenario7     -353.812076
7   Scenario8     -342.230625
8   Scenario9     -347.526691
9  Scenario10     -351.489007

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Probabilities:

            Probability
Scenario1      0.057758
Scenario2      0.126084
Scenario3      0.074060
Scenario4      0.137439
Scenario5      0.181896
Scenario6      0.073522
Scenario7      0.100274
Scenario8      0.057625
Scenario9      0.107217
Scenario10     0.084127

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -348.694929     0.057758         -20.140073
1   Scenario2     -340.262874     0.126084         -42.901662
2   Scenario3     -345.511861     0.074060         -25.588440
3   Scenario4     -349.179240     0.137439         -47.990679
4   Scenario5     -352.590673     0.181896         -64.134684
5   Scenario6     -352.268370     0.073522         -25.899464
6   Scenario7     -353.812076     0.100274         -35.478129
7   Scenario8     -342.230625     0.057625         -19.720992
8   Scenario9     -347.526691     0.107217         -37.260659
9  Scenario10     -351.489007     0.084127         -29.569586

Processing date: 20230403
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230403_to_20230403_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -362.296708
1   Scenario2     -356.159711
2   Scenario3     -364.346078
3   Scenario4     -355.723638
4   Scenario5     -362.765310
5   Scenario6     -356.000761
6   Scenario7     -366.162265
7   Scenario8     -359.149449
8   Scenario9     -360.714874
9  Scenario10     -359.325843

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Probabilities:

            Probability
Scenario1      0.050894
Scenario2      0.110215
Scenario3      0.121587
Scenario4      0.057770
Scenario5      0.067584
Scenario6      0.134609
Scenario7      0.114209
Scenario8      0.059725
Scenario9      0.223599
Scenario10     0.059808

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -362.296708     0.050894         -18.438551
1   Scenario2     -356.159711     0.110215         -39.254061
2   Scenario3     -364.346078     0.121587         -44.299692
3   Scenario4     -355.723638     0.057770         -20.550272
4   Scenario5     -362.765310     0.067584         -24.517013
5   Scenario6     -356.000761     0.134609         -47.921079
6   Scenario7     -366.162265     0.114209         -41.819181
7   Scenario8     -359.149449     0.059725         -21.450097
8   Scenario9     -360.714874     0.223599         -80.655462
9  Scenario10     -359.325843     0.059808         -21.490672

Processing date: 20230409
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230409_to_20230409_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -373.567273
1   Scenario2     -376.065950
2   Scenario3     -378.628125
3   Scenario4     -381.388052
4   Scenario5     -375.906586
5   Scenario6     -372.706676
6   Scenario7     -378.289889
7   Scenario8     -374.752186
8   Scenario9     -376.051869
9  Scenario10     -376.679236

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Probabilities:

            Probability
Scenario1      0.064652
Scenario2      0.190680
Scenario3      0.129189
Scenario4      0.109657
Scenario5      0.067537
Scenario6      0.095297
Scenario7      0.078145
Scenario8      0.084789
Scenario9      0.097324
Scenario10     0.082731

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -373.567273     0.064652         -24.151723
1   Scenario2     -376.065950     0.190680         -71.708105
2   Scenario3     -378.628125     0.129189         -48.914636
3   Scenario4     -381.388052     0.109657         -41.821980
4   Scenario5     -375.906586     0.067537         -25.387714
5   Scenario6     -372.706676     0.095297         -35.517688
6   Scenario7     -378.289889     0.078145         -29.561452
7   Scenario8     -374.752186     0.084789         -31.774733
8   Scenario9     -376.051869     0.097324         -36.598812
9  Scenario10     -376.679236     0.082731         -31.163050

Processing date: 20230410
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230410_to_20230410_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -311.679270
1   Scenario2     -295.246787
2   Scenario3     -317.711626
3   Scenario4     -325.072324
4   Scenario5     -317.762233
5   Scenario6     -308.988523
6   Scenario7     -323.346854
7   Scenario8     -332.518046
8   Scenario9     -311.204846
9  Scenario10     -320.490751

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Probabilities:

            Probability
Scenario1      0.070209
Scenario2      0.207275
Scenario3      0.083898
Scenario4      0.204527
Scenario5      0.071263
Scenario6      0.059850
Scenario7      0.105758
Scenario8      0.054947
Scenario9      0.053011
Scenario10     0.089262

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -311.679270     0.070209         -21.882811
1   Scenario2     -295.246787     0.207275         -61.197201
2   Scenario3     -317.711626     0.083898         -26.655224
3   Scenario4     -325.072324     0.204527         -66.486168
4   Scenario5     -317.762233     0.071263         -22.644573
5   Scenario6     -308.988523     0.059850         -18.493059
6   Scenario7     -323.346854     0.105758         -34.196566
7   Scenario8     -332.518046     0.054947         -18.270813
8   Scenario9     -311.204846     0.053011         -16.497198
9  Scenario10     -320.490751     0.089262         -28.607761

Processing date: 20230501
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230501_to_20230501_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -292.857935
1   Scenario2     -255.989662
2   Scenario3     -283.769744
3   Scenario4     -293.351313
4   Scenario5     -264.232911
5   Scenario6     -299.475638
6   Scenario7     -280.416330
7   Scenario8     -271.890819
8   Scenario9     -277.099330
9  Scenario10     -278.068431

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Probabilities:

            Probability
Scenario1      0.190239
Scenario2      0.057934
Scenario3      0.048213
Scenario4      0.078855
Scenario5      0.121309
Scenario6      0.054560
Scenario7      0.134399
Scenario8      0.057428
Scenario9      0.079893
Scenario10     0.177170

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -292.857935     0.190239         -55.712959
1   Scenario2     -255.989662     0.057934         -14.830507
2   Scenario3     -283.769744     0.048213         -13.681441
3   Scenario4     -293.351313     0.078855         -23.132287
4   Scenario5     -264.232911     0.121309         -32.053706
5   Scenario6     -299.475638     0.054560         -16.339420
6   Scenario7     -280.416330     0.134399         -37.687599
7   Scenario8     -271.890819     0.057428         -15.614155
8   Scenario9     -277.099330     0.079893         -22.138282
9  Scenario10     -278.068431     0.177170         -49.265491

Processing date: 20230515
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230515_to_20230515_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -184.728399
1   Scenario2     -169.770306
2   Scenario3     -152.717881
3   Scenario4     -175.831331
4   Scenario5     -174.117703
5   Scenario6     -172.133404
6   Scenario7     -175.233051
7   Scenario8     -168.647317
8   Scenario9     -176.580884
9  Scenario10     -169.262894

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Probabilities:

            Probability
Scenario1      0.066917
Scenario2      0.093079
Scenario3      0.119735
Scenario4      0.156098
Scenario5      0.060302
Scenario6      0.214441
Scenario7      0.097663
Scenario8      0.087456
Scenario9      0.047847
Scenario10     0.056461

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -184.728399     0.066917         -12.361464
1   Scenario2     -169.770306     0.093079         -15.802067
2   Scenario3     -152.717881     0.119735         -18.285653
3   Scenario4     -175.831331     0.156098         -27.446992
4   Scenario5     -174.117703     0.060302         -10.499683
5   Scenario6     -172.133404     0.214441         -36.912540
6   Scenario7     -175.233051     0.097663         -17.113826
7   Scenario8     -168.647317     0.087456         -14.749217
8   Scenario9     -176.580884     0.047847          -8.448891
9  Scenario10     -169.262894     0.056461          -9.556690

Processing date: 20230619
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230619_to_20230619_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -101.177971
1   Scenario2     -134.513301
2   Scenario3     -127.106335
3   Scenario4     -117.007668
4   Scenario5     -109.018043
5   Scenario6     -131.004288
6   Scenario7     -107.198909
7   Scenario8     -125.279266
8   Scenario9     -123.868066
9  Scenario10     -140.577967

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Probabilities:

            Probability
Scenario1      0.147722
Scenario2      0.149388
Scenario3      0.070626
Scenario4      0.051094
Scenario5      0.105200
Scenario6      0.035835
Scenario7      0.099024
Scenario8      0.080709
Scenario9      0.094985
Scenario10     0.165417

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -101.177971     0.147722         -14.946194
1   Scenario2     -134.513301     0.149388         -20.094717
2   Scenario3     -127.106335     0.070626          -8.977006
3   Scenario4     -117.007668     0.051094          -5.978388
4   Scenario5     -109.018043     0.105200         -11.468703
5   Scenario6     -131.004288     0.035835          -4.694502
6   Scenario7     -107.198909     0.099024         -10.615224
7   Scenario8     -125.279266     0.080709         -10.111226
8   Scenario9     -123.868066     0.094985         -11.765597
9  Scenario10     -140.577967     0.165417         -23.254006

Processing date: 20230622
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230622_to_20230622_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -108.713466
1   Scenario2     -114.392077
2   Scenario3     -109.122815
3   Scenario4     -132.557342
4   Scenario5     -109.351802
5   Scenario6     -108.021788
6   Scenario7     -118.467063
7   Scenario8     -111.380645
8   Scenario9     -130.613764
9  Scenario10     -128.652456

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Probabilities:

            Probability
Scenario1      0.135874
Scenario2      0.082486
Scenario3      0.127544
Scenario4      0.194525
Scenario5      0.081249
Scenario6      0.108861
Scenario7      0.059450
Scenario8      0.066503
Scenario9      0.081728
Scenario10     0.061779

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -108.713466     0.135874         -14.771326
1   Scenario2     -114.392077     0.082486          -9.435729
2   Scenario3     -109.122815     0.127544         -13.917959
3   Scenario4     -132.557342     0.194525         -25.785756
4   Scenario5     -109.351802     0.081249          -8.884775
5   Scenario6     -108.021788     0.108861         -11.759373
6   Scenario7     -118.467063     0.059450          -7.042916
7   Scenario8     -111.380645     0.066503          -7.407129
8   Scenario9     -130.613764     0.081728         -10.674756
9  Scenario10     -128.652456     0.061779          -7.948077

Processing date: 20230626
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230626_to_20230626_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1      -64.883559
1   Scenario2     -109.066606
2   Scenario3     -168.306872
3   Scenario4     -146.590265
4   Scenario5     -134.586843
5   Scenario6     -105.886240
6   Scenario7     -125.466695
7   Scenario8     -113.534719
8   Scenario9     -123.417496
9  Scenario10     -104.575210

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Probabilities:

            Probability
Scenario1      0.008036
Scenario2      0.001415
Scenario3      0.000252
Scenario4      0.031910
Scenario5      0.359087
Scenario6      0.507279
Scenario7      0.001421
Scenario8      0.000250
Scenario9      0.000016
Scenario10     0.090334

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1      -64.883559     0.008036          -0.521416
1   Scenario2     -109.066606     0.001415          -0.154338
2   Scenario3     -168.306872     0.000252          -0.042412
3   Scenario4     -146.590265     0.031910          -4.677706
4   Scenario5     -134.586843     0.359087         -48.328413
5   Scenario6     -105.886240     0.507279         -53.713858
6   Scenario7     -125.466695     0.001421          -0.178275
7   Scenario8     -113.534719     0.000250          -0.028407
8   Scenario9     -123.417496     0.000016          -0.001942
9  Scenario10     -104.575210     0.090334          -9.446666

Processing date: 20230709
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230709_to_20230709_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -133.840928
1   Scenario2     -132.427461
2   Scenario3     -134.534997
3   Scenario4     -144.175167
4   Scenario5     -129.649937
5   Scenario6     -126.985066
6   Scenario7     -118.270973
7   Scenario8     -136.269156
8   Scenario9     -120.484279
9  Scenario10     -142.221298

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Probabilities:

            Probability
Scenario1      0.063022
Scenario2      0.083171
Scenario3      0.133864
Scenario4      0.077075
Scenario5      0.077908
Scenario6      0.121064
Scenario7      0.078744
Scenario8      0.165071
Scenario9      0.145044
Scenario10     0.055037

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -133.840928     0.063022          -8.434946
1   Scenario2     -132.427461     0.083171         -11.014139
2   Scenario3     -134.534997     0.133864         -18.009345
3   Scenario4     -144.175167     0.077075         -11.112312
4   Scenario5     -129.649937     0.077908         -10.100750
5   Scenario6     -126.985066     0.121064         -15.373334
6   Scenario7     -118.270973     0.078744          -9.313169
7   Scenario8     -136.269156     0.165071         -22.494073
8   Scenario9     -120.484279     0.145044         -17.475541
9  Scenario10     -142.221298     0.055037          -7.827379

Processing date: 20230710
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230710_to_20230710_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -124.688058
1   Scenario2      -99.907474
2   Scenario3     -160.540769
3   Scenario4     -118.672061
4   Scenario5     -128.938697
5   Scenario6     -130.331127
6   Scenario7     -141.956495
7   Scenario8     -141.238532
8   Scenario9     -110.454073
9  Scenario10     -118.064947

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Probabilities:

            Probability
Scenario1      0.157475
Scenario2      0.055415
Scenario3      0.134182
Scenario4      0.115740
Scenario5      0.069091
Scenario6      0.091832
Scenario7      0.110580
Scenario8      0.066341
Scenario9      0.130086
Scenario10     0.069256

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -124.688058     0.157475         -19.635299
1   Scenario2      -99.907474     0.055415          -5.536403
2   Scenario3     -160.540769     0.134182         -21.541711
3   Scenario4     -118.672061     0.115740         -13.735114
4   Scenario5     -128.938697     0.069091          -8.908535
5   Scenario6     -130.331127     0.091832         -11.968570
6   Scenario7     -141.956495     0.110580         -15.697558
7   Scenario8     -141.238532     0.066341          -9.369950
8   Scenario9     -110.454073     0.130086         -14.368523
9  Scenario10     -118.064947     0.069256          -8.176761

#### Final Results Wait-and-See Solution

In [7]:
# Create a DataFrame of results
results_df = pd.DataFrame(results)
results_df['Weighted Objective Value'] = results_df['Weighted Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df)

Final Results:

          Date  Weighted Objective Value
0   2023-03-16               -340.440739
1   2023-03-28               -348.684368
2   2023-04-03               -360.396079
3   2023-04-09               -376.599893
4   2023-04-10               -314.931373
5   2023-05-01               -280.455846
6   2023-05-15               -171.177022
7   2023-06-19               -121.905561
8   2023-06-22               -117.627796
9   2023-06-26               -117.093434
10  2023-07-09               -131.154989
11  2023-07-10               -128.938424

## Compute Heat Demand Difference for the calculation of EEV

In [8]:
def compute_costs_from_differences(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
    """
    Compute the differences and costs between deterministic and scenario heat demands for a specific date.
    Returns:
        - total_costs_df: DataFrame containing total costs per scenario.
        - weighted_total_cost: The total weighted cost for the date.
    """
    # Load deterministic weighted time series data
    det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
    if det_ts_data.empty:
        print(f"No deterministic weighted time series data available for date {date_str}.")
        return None, None

    # Extract the deterministic heat demand
    det_heat_demand = det_ts_data['heat_demand']
    det_heat_demand.name = 'deterministic_heat_demand'

    # Load scenario heat demands
    scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
    if not scenario_heat_demands:
        print(f"No scenario heat demands available for date {date_str}.")
        return None, None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None, None

    # Create a DataFrame to store costs
    costs_df = pd.DataFrame({
        't': det_ts_data['t'],
        'deterministic_heat_demand': det_heat_demand
    })

    total_costs = {}
    weighted_total_cost = 0.0

    # For each scenario, compute differences, costs, and total costs
    for scenario_name, scenario_hd_series in scenario_heat_demands.items():
        # Align scenario_hd_series with det_heat_demand
        scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
        scenario_hd_series.name = f"{scenario_name}_heat_demand"

        # Compute difference
        difference = det_heat_demand - scenario_hd_series
        difference.name = f"{scenario_name}_difference"

        # Compute cost per time step
        cost = difference.abs() * 0.01
        cost.name = f"{scenario_name}_cost"

        # Sum costs over time steps
        total_cost = cost.sum()

        # Get probability for the scenario
        probability = probabilities.get(scenario_name, 0)

        # Compute weighted cost
        weighted_cost = total_cost * probability

        # Add to total weighted cost
        weighted_total_cost += weighted_cost

        # Store total cost per scenario
        total_costs[scenario_name] = total_cost

        # Optionally, add to costs_df for detailed output
        costs_df[f"{scenario_name}_cost"] = cost.values

    # Create DataFrame for total costs per scenario
    total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])

    # Display total costs per scenario
    print(f"Total Costs for date {date_str}:")
    display(total_costs_df)

    print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

    return total_costs_df, weighted_total_cost

In [9]:
# def compute_costs_from_differences_special_case(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
#     """
#     Compute the differences and costs between deterministic and scenario heat demands for a specific date,
#     including additional costs when heat storage content exceeds a threshold.
#     Returns:
#         - total_costs_df: DataFrame containing total costs per scenario.
#         - weighted_total_cost: The total weighted cost for the date.
#     """
#     # Load deterministic weighted time series data
#     det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
#     if det_ts_data.empty:
#         print(f"No deterministic weighted time series data available for date {date_str}.")
#         return None, None

#     # Extract the deterministic heat demand
#     det_heat_demand = det_ts_data['heat_demand']
#     det_heat_demand.name = 'deterministic_heat_demand'

#     # Extract the deterministic heat storage content
#     if 'heat_storage1.heat_capacity' in det_ts_data.columns:
#         det_heat_storage_content = det_ts_data['heat_storage1.heat_capacity']
#     else:
#         print(f"Heat storage content data not available in deterministic time series data for date {date_str}.")
#         return None, None
#     det_heat_storage_content.name = 'heat_storage1.heat_capacity'

#     ### Ergänzung ####
#     det_heat_storage_heat_discharge = det_ts_data['heat_storage1.heat_discharge']
#     det_heat_storage_heat_discharge.name = 'heat_storage1.heat_discharge'

#     det_heat_storage_heat_charge = det_ts_data['heat_storage1.heat_charge']
#     det_heat_storage_heat_charge.name = 'heat_storage1.heat_charge'


#     # Load scenario heat demands
#     scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
#     if not scenario_heat_demands:
#         print(f"No scenario heat demands available for date {date_str}.")
#         return None, None

#     # Load probabilities
#     probabilities = load_probabilities(date_str, period, input_path_hd)
#     if not probabilities:
#         print(f"No probabilities data available for date {date_str}.")
#         return None, None

#     # Create a DataFrame to store costs
#     costs_df = pd.DataFrame({
#         't': det_ts_data['t'],
#         'deterministic_heat_demand': det_heat_demand,
#         'deterministic_heat_storage_content': det_heat_storage_content,
#     })

#     total_costs = {}
#     weighted_total_cost = 0.0

#     # For each scenario, compute differences, costs, and total costs
#     for scenario_name, scenario_hd_series in scenario_heat_demands.items():
#         # Align scenario_hd_series with det_heat_demand
#         scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
#         scenario_hd_series.name = f"{scenario_name}_heat_demand"

#         # Compute difference
#         difference = det_heat_demand - scenario_hd_series
#         difference.name = f"{scenario_name}_difference"

#         # Compute adjusted storage content
#         adjusted_storage_content = det_heat_storage_content + difference
#         adjusted_storage_content.name = f"{scenario_name}_adjusted_storage_content"

#         # Check if adjusted storage content exceeds 400
#         exceeds_capacity = adjusted_storage_content > 400
#         additional_cost = exceeds_capacity.astype(float) * 10  # 10 if exceeds, 0 otherwise

#         # Compute cost per time step
#         cost = difference.abs() * 0.01 + additional_cost
#         cost.name = f"{scenario_name}_cost"

#         # Sum costs over time steps
#         total_cost = cost.sum()

#         # Get probability for the scenario
#         probability = probabilities.get(scenario_name, 0)

#         # Compute weighted cost
#         weighted_cost = total_cost * probability

#         # Add to total weighted cost
#         weighted_total_cost += weighted_cost

#         # Store total cost per scenario
#         total_costs[scenario_name] = total_cost

#         # Optionally, add to costs_df for detailed output
#         # costs_df[f"{scenario_name}_cost"] = cost.values

#     # Create DataFrame for total costs per scenario
#     total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])

#     # Display total costs per scenario
#     print(f"Total Costs for date {date_str}:")
#     display(total_costs_df)

#     print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

#     return total_costs_df, weighted_total_cost

In [10]:
def compute_costs_from_differences_special_case(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
    """
    Compute the differences and costs between deterministic and scenario heat demands for a specific date,
    including checks for charge/discharge limits and additional costs if storage content exceeds 400.

    Logik:
    - difference > 0: x = charge + abs(difference), wenn x>110 => nicht lösbar
    - difference < 0: y = discharge + abs(difference), wenn y>110 => nicht lösbar
    - Falls adjusted_storage_content > 400 => zusätzliche Kosten von 10 pro Zeitschritt.
    Zusätzlich wird ausgegeben, wie oft die 400er-Grenze überschritten wurde.
    """
    det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
    if det_ts_data.empty:
        print(f"No deterministic weighted time series data available for date {date_str}.")
        return None, None

    det_heat_demand = det_ts_data['heat_demand']
    det_heat_demand.name = 'deterministic_heat_demand'

    required_cols = ['heat_storage1.heat_discharge', 'heat_storage1.heat_charge', 'heat_storage1.heat_capacity']
    for col in required_cols:
        if col not in det_ts_data.columns:
            print(f"Required column '{col}' not found in deterministic data for {date_str}.")
            return None, None

    det_heat_storage_heat_discharge = det_ts_data['heat_storage1.heat_discharge']
    det_heat_storage_heat_discharge.name = 'heat_storage1.heat_discharge'

    det_heat_storage_heat_charge = det_ts_data['heat_storage1.heat_charge']
    det_heat_storage_heat_charge.name = 'heat_storage1.heat_charge'

    det_heat_storage_content = det_ts_data['heat_storage1.heat_capacity']
    det_heat_storage_content.name = 'heat_storage1.heat_capacity'

    scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
    if not scenario_heat_demands:
        print(f"No scenario heat demands available for date {date_str}.")
        return None, None

    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None, None

    costs_df = pd.DataFrame({
        't': det_ts_data['t'],
        'deterministic_heat_demand': det_heat_demand,
        'deterministic_heat_storage_content': det_heat_storage_content,
    })

    total_costs = {}
    weighted_total_cost = 0.0

    for scenario_name, scenario_hd_series in scenario_heat_demands.items():
        scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
        scenario_hd_series.name = f"{scenario_name}_heat_demand"

        difference = det_heat_demand - scenario_hd_series
        difference.name = f"{scenario_name}_difference"

        pos_mask = (difference > 0)
        neg_mask = (difference < 0)

        det_heat_storage_heat_charge_aligned = det_heat_storage_heat_charge.reindex(difference.index)
        det_heat_storage_heat_discharge_aligned = det_heat_storage_heat_discharge.reindex(difference.index)

        x = det_heat_storage_heat_charge_aligned.copy()
        y = det_heat_storage_heat_discharge_aligned.copy()

        # difference > 0: x = charge + abs(difference)
        x[pos_mask] = det_heat_storage_heat_charge_aligned[pos_mask] + difference[pos_mask].abs()

        # difference < 0: y = discharge + abs(difference)
        y[neg_mask] = det_heat_storage_heat_discharge_aligned[neg_mask] + difference[neg_mask].abs()

        not_solvable = False

        # Prüfen ob x > 110 bei difference > 0
        if pos_mask.any():
            exceeding_x = x[pos_mask] > 110
            if exceeding_x.any():
                print(f"Scenario {scenario_name} not solvable for date {date_str} (charge limit exceeded).")
                not_solvable = True

        # Prüfen ob y > 110 bei difference < 0
        if neg_mask.any():
            exceeding_y = y[neg_mask] > 110
            if exceeding_y.any():
                print(f"Scenario {scenario_name} not solvable for date {date_str} (discharge limit exceeded).")
                not_solvable = True

        if not_solvable:
            # Dieses Szenario überspringen
            continue

        # Prüfen, ob Kapazität > 400
        adjusted_storage_content = det_heat_storage_content + difference
        adjusted_storage_content.name = f"{scenario_name}_adjusted_storage_content"

        exceeds_capacity = adjusted_storage_content > 400
        additional_cost = exceeds_capacity.astype(float) * 10  # 10 wenn >400

        # Anzahl der Überschreitungen zählen
        exceed_count = exceeds_capacity.sum()
        if exceed_count > 0:
            print(f"Scenario {scenario_name} on {date_str}: Storage content limit (400) exceeded {exceed_count} time(s).")

        # Kosten pro Zeitschritt
        cost = difference.abs() * 0.01 + additional_cost
        cost.name = f"{scenario_name}_cost"

        total_cost = cost.sum()
        probability = probabilities.get(scenario_name, 0)
        weighted_cost = total_cost * probability

        weighted_total_cost += weighted_cost
        total_costs[scenario_name] = total_cost

    if len(total_costs) == 0:
        print(f"No solvable scenarios for date {date_str}.")
        return None, None

    total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])
    print(f"Total Costs for date {date_str}:")
    display(total_costs_df)

    print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

    return total_costs_df, weighted_total_cost

In [11]:
# Input paths
input_path_det_ts = INPUT_PATH_D  # Path to deterministic weighted time series
input_path_hd = INPUT_PATH_HD     # Path to heat demand scenarios

# Dictionary to store total costs for each date
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute costs and weighted total cost
    total_costs_df, weighted_total_cost = compute_costs_from_differences_special_case(
        date_str=date_str,
        period=period,
        input_path_det_ts=input_path_det_ts,
        input_path_hd=input_path_hd
    )

    if weighted_total_cost is not None:
        # Load deterministic objective value
        det_obj_value = load_weighted_deterministic_objective_value(date_str, period, INPUT_PATH_D_OBJ)
        if det_obj_value is not None:
            # det_obj_value is a DataFrame with one value
            det_obj_value = det_obj_value['ObjectiveValue'].iloc[0]
            print(f"Deterministic Objective Value for date {date_str}: {det_obj_value}")

            # Compute total cost
            total_cost = det_obj_value + weighted_total_cost

            # Store the result
            results.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Total Cost': total_cost
            })

            print(f"Total Cost for date {date_str}: {total_cost:.6f}")
        else:
            print(f"Could not load deterministic objective value for date {date_str}.")
    else:
        print(f"Could not compute weighted total cost for date {date_str}.")

Processing date: 20230316
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230316_to_20230316_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.338281,320.0,1.0,37.218589,117.039587,68.0,...,13.661719,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,134.504272,320.0,1.0,37.218589,117.039587,68.0,...,1.495728,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,197.239009,320.0,1.0,37.218589,117.039587,68.0,...,51.560072,248.799081,37.218589,38.890017,68.0,68.0,112.799081,104.464598,117.039587,0.000000
3,4,0.1543,0.251,0.105,331.596286,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,331.596286,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,21.596286
4,5,0.1543,0.251,0.105,231.966560,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,231.966560,37.218589,38.890017,68.0,68.0,95.966560,88.512341,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Scenario Scenario1 on 20230316: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario2 on 20230316: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario3 on 20230316: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario5 on 20230316: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario7 on 20230316: Storage content limit (400) exceeded 2 time(s).
Scenario Scenario9 on 20230316: Storage content limit (400) exceeded 2 time(s).
Total Costs for date 20230316:

     Scenario  Total Cost
0   Scenario1   13.220186
1   Scenario2   13.225086
2   Scenario3   14.317285
3   Scenario4    2.564928
4   Scenario5   13.652522
5   Scenario6    3.123079
6   Scenario7   23.916078
7   Scenario8    3.328031
8   Scenario9   23.130369
9  Scenario10    3.441913

Weighted Total Cost for date 20230316: 9.063622
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230316_to_20230316_day_obj.csv

   ObjectiveValue
0     -340.552087

Deterministic Objective Value for date 20230316: -340.5520873670532
Total Cost for date 20230316: -331.488465

Processing date: 20230328
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230328_to_20230328_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.480784,320.0,1.0,37.218589,117.039587,68.0,...,13.519216,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,155.139147,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,155.139147,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,19.139147
2,3,0.1543,0.251,0.105,342.366250,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,342.366250,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,32.366250
3,4,0.1543,0.251,0.105,209.640859,320.0,1.0,37.218589,117.039587,68.0,...,11.559141,221.200000,37.218589,38.890017,68.0,68.0,85.200000,78.308824,117.039587,0.000000
4,5,0.1543,0.251,0.105,250.364746,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,250.364746,37.218589,38.890017,68.0,68.0,114.364746,105.948385,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Total Costs for date 20230328:

     Scenario  Total Cost
0   Scenario1    4.223864
1   Scenario2    3.563382
2   Scenario3    3.294136
3   Scenario4    3.687437
4   Scenario5    3.141531
5   Scenario6    3.460423
6   Scenario7    2.543064
7   Scenario8    3.480057
8   Scenario9    3.415828
9  Scenario10    2.533174

Weighted Total Cost for date 20230328: 3.304737
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230328_to_20230328_day_obj.csv

   ObjectiveValue
0     -350.027092

Deterministic Objective Value for date 20230328: -350.0270923839986
Total Cost for date 20230328: -346.722356

Processing date: 20230403
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230403_to_20230403_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,109.681178,320.0,1.0,37.218589,117.039587,68.0,...,26.318822,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,129.868257,320.0,1.0,37.218589,117.039587,68.0,...,6.131743,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,318.075668,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,318.075668,37.218589,38.890017,68.0,68.0,174.0,162.464986,117.039587,8.075668
3,4,0.1543,0.251,0.105,174.754284,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,174.754284,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,38.754284
4,5,0.1543,0.251,0.105,205.485095,320.0,1.0,37.218589,117.039587,68.0,...,15.714905,221.200000,37.218589,38.890017,68.0,68.0,85.2,78.308824,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Total Costs for date 20230403:

     Scenario  Total Cost
0   Scenario1    3.420299
1   Scenario2    3.556115
2   Scenario3    3.103604
3   Scenario4    4.376863
4   Scenario5    4.490219
5   Scenario6    3.511845
6   Scenario7    3.788047
7   Scenario8    3.602868
8   Scenario9    2.718333
9  Scenario10    3.491377

Weighted Total Cost for date 20230403: 3.436851
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230403_to_20230403_day_obj.csv

   ObjectiveValue
0     -360.722641

Deterministic Objective Value for date 20230403: -360.7226413406327
Total Cost for date 20230403: -357.285790

Processing date: 20230409
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230409_to_20230409_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,114.125280,320.0,1.0,37.218589,117.039587,68.0,...,21.874720,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,131.676456,320.0,1.0,37.218589,117.039587,68.0,...,4.323544,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,321.959866,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,321.959866,37.218589,38.890017,68.0,68.0,174.0,162.464986,117.039587,11.959866
3,4,0.1543,0.251,0.105,183.594859,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,183.594859,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,47.594859
4,5,0.1543,0.251,0.105,179.251707,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,179.251707,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,43.251707

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Total Costs for date 20230409:

     Scenario  Total Cost
0   Scenario1    4.166008
1   Scenario2    3.425088
2   Scenario3    3.477175
3   Scenario4    3.180209
4   Scenario5    3.616938
5   Scenario6    4.024472
6   Scenario7    3.756576
7   Scenario8    3.289749
8   Scenario9    4.177738
9  Scenario10    3.711194

Weighted Total Cost for date 20230409: 3.634292
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230409_to_20230409_day_obj.csv

   ObjectiveValue
0     -377.107976

Deterministic Objective Value for date 20230409: -377.1079759928216
Total Cost for date 20230409: -373.473684

Processing date: 20230410
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230410_to_20230410_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,81.183802,320.0,-0.0,0.000000,0.000000,0.00000,...,0.000000,81.183802,0.000000,38.890017,0.00000,68.0,0.0,0.000000,0.000000,13.183802
1,2,0.1543,0.251,0.105,108.073174,320.0,1.0,35.443388,113.244403,66.36333,...,26.290157,134.363330,35.443388,38.890017,66.36333,68.0,0.0,0.000000,113.244403,0.000000
2,3,0.1543,0.251,0.105,272.470956,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,272.470956,37.218589,38.890017,68.00000,68.0,85.2,78.308824,117.039587,51.270956
3,4,0.1543,0.251,0.105,150.267401,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,150.267401,37.218589,38.890017,68.00000,68.0,0.0,0.000000,117.039587,14.267401
4,5,0.1543,0.251,0.105,172.161546,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,172.161546,37.218589,38.890017,68.00000,68.0,0.0,0.000000,117.039587,36.161546

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Total Costs for date 20230410:

     Scenario  Total Cost
0   Scenario1    2.888495
1   Scenario2    3.254471
2   Scenario3    3.775163
3   Scenario4    2.895091
4   Scenario5    3.615743
5   Scenario6    3.911344
6   Scenario7    3.326393
7   Scenario8    3.973948
8   Scenario9    4.802631
9  Scenario10    2.881535

Weighted Total Cost for date 20230410: 3.359936
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230410_to_20230410_day_obj.csv

   ObjectiveValue
0     -318.557684

Deterministic Objective Value for date 20230410: -318.55768443111793
Total Cost for date 20230410: -315.197748

Processing date: 20230501
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230501_to_20230501_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,57.794192,320.0,0.0,0.000000,0.000000,0.000000,...,10.205808,68.000000,0.000000,38.890017,0.000000,68.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,86.012196,320.0,0.0,0.000000,0.000000,0.000000,...,0.000000,86.012196,0.000000,38.890017,0.000000,68.0,0.0,0.0,0.000000,18.012196
2,3,0.1543,0.251,0.105,236.796742,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,236.796742,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,100.796742
3,4,0.1543,0.251,0.105,125.212512,320.0,1.0,30.999419,103.743685,62.266154,...,5.053642,130.266154,30.999419,38.890017,62.266154,68.0,0.0,0.0,103.743685,0.000000
4,5,0.1543,0.251,0.105,136.139252,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,136.139252,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,0.139252

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Scenario Scenario2 not solvable for date 20230501 (discharge limit exceeded).
Scenario Scenario7 not solvable for date 20230501 (discharge limit exceeded).
Scenario Scenario10 not solvable for date 20230501 (discharge limit exceeded).
Total Costs for date 20230501:

    Scenario  Total Cost
0  Scenario1    3.740017
1  Scenario3    3.925893
2  Scenario4    4.026071
3  Scenario5    3.149413
4  Scenario6    2.843856
5  Scenario8    3.972381
6  Scenario9    3.560782

Weighted Total Cost for date 20230501: 2.268072
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230501_to_20230501_day_obj.csv

   ObjectiveValue
0     -278.219128

Deterministic Objective Value for date 20230501: -278.21912763832245
Total Cost for date 20230501: -275.951056

Processing date: 20230515
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230515_to_20230515_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,28.841828,320.0,0.0,0.0,0.0,0.0,...,39.158172,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,48.280144,320.0,0.0,0.0,0.0,0.0,...,19.719856,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,143.475056,320.0,-0.0,0.0,0.0,0.0,...,0.000000,143.475056,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,75.475056
3,4,0.1543,0.251,0.105,60.227853,320.0,0.0,0.0,0.0,0.0,...,0.000000,60.227853,0.0,30.270197,0.0,60.227853,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,89.954385,320.0,-0.0,0.0,0.0,0.0,...,0.000000,89.954385,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,21.954385

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Scenario Scenario7 not solvable for date 20230515 (discharge limit exceeded).
Scenario Scenario9 not solvable for date 20230515 (discharge limit exceeded).
Total Costs for date 20230515:

     Scenario  Total Cost
0   Scenario1    3.038888
1   Scenario2    3.872958
2   Scenario3    3.226087
3   Scenario4    2.745381
4   Scenario5    2.877674
5   Scenario6    2.519456
6   Scenario8    4.675732
7  Scenario10    3.327792

Weighted Total Cost for date 20230515: 2.689285
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230515_to_20230515_day_obj.csv

   ObjectiveValue
0     -173.719482

Deterministic Objective Value for date 20230515: -173.71948176261049
Total Cost for date 20230515: -171.030197

Processing date: 20230619
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230619_to_20230619_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,29.804550,320.0,0.0,0.0,0.0,0.0,...,0.000000,29.804550,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,29.804550
1,2,0.1543,0.251,0.105,38.549741,320.0,0.0,0.0,0.0,0.0,...,22.780547,61.330288,0.0,31.492870,0.0,61.330288,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,117.370956,320.0,0.0,0.0,0.0,0.0,...,0.000000,117.370956,0.0,38.890014,0.0,67.999998,0.0,0.0,0.0,49.370959
3,4,0.1543,0.251,0.105,43.145885,320.0,0.0,0.0,0.0,0.0,...,18.594470,61.740355,0.0,31.947661,0.0,61.740355,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,74.806673,320.0,0.0,0.0,0.0,0.0,...,0.000000,74.806673,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,6.806675

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Scenario Scenario1 on 20230619: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario5 on 20230619: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario7 on 20230619: Storage content limit (400) exceeded 1 time(s).
Total Costs for date 20230619:

     Scenario  Total Cost
0   Scenario1   13.587282
1   Scenario2    3.089308
2   Scenario3    2.914700
3   Scenario4    3.753167
4   Scenario5   14.207412
5   Scenario6    3.429589
6   Scenario7   13.759954
7   Scenario8    4.127842
8   Scenario9    3.475324
9  Scenario10    2.836354

Weighted Total Cost for date 20230619: 6.978782
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230619_to_20230619_day_obj.csv

   ObjectiveValue
0     -116.828601

Deterministic Objective Value for date 20230619: -116.82860121565987
Total Cost for date 20230619: -109.849819

Processing date: 20230622
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230622_to_20230622_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,24.097578,320.0,0.0,0.0,0.0,0.0,...,0.000000,24.097578,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,24.097578
1,2,0.1543,0.251,0.105,36.011310,320.0,0.0,0.0,0.0,0.0,...,28.901701,64.913011,0.0,35.466344,0.0,64.913011,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,133.824740,320.0,0.0,0.0,0.0,0.0,...,0.000000,133.824740,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,65.824742
3,4,0.1543,0.251,0.105,57.532691,320.0,0.0,0.0,0.0,0.0,...,8.028079,65.560771,0.0,36.184752,0.0,65.560771,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,72.660173,320.0,0.0,0.0,0.0,0.0,...,0.000000,72.660173,0.0,38.890015,0.0,67.999999,0.0,0.0,0.0,4.660174

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Scenario Scenario1 on 20230622: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario2 on 20230622: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario4 on 20230622: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario5 on 20230622: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario8 on 20230622: Storage content limit (400) exceeded 1 time(s).
Total Costs for date 20230622:

     Scenario  Total Cost
0   Scenario1   14.049016
1   Scenario2   13.978707
2   Scenario3    3.781022
3   Scenario4   12.942249
4   Scenario5   14.116247
5   Scenario6    3.676352
6   Scenario7    3.785345
7   Scenario8   13.014552
8   Scenario9    3.967569
9  Scenario10    3.918435

Weighted Total Cost for date 20230622: 9.265815
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230622_to_20230622_day_obj.csv

   ObjectiveValue
0     -118.809832

Deterministic Objective Value for date 20230622: -118.8098321984717
Total Cost for date 20230622: -109.544017

Processing date: 20230626
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230626_to_20230626_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,5.559557,320.0,0.0,0.0,0.0,0.0,...,0.000000,5.559557,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.559557
1,2,0.1543,0.251,0.105,49.347106,320.0,0.0,0.0,0.0,0.0,...,12.997814,62.344920,0.0,32.618164,0.0,62.344920,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,95.483014,320.0,0.0,0.0,0.0,0.0,...,0.000000,95.483014,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,27.483016
3,4,0.1543,0.251,0.105,56.749592,320.0,0.0,0.0,0.0,0.0,...,6.002151,62.751742,0.0,33.069356,0.0,62.751742,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,49.503750,320.0,0.0,0.0,0.0,0.0,...,13.565499,63.069249,0.0,33.421492,0.0,63.069249,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Scenario Scenario1 on 20230626: Storage content limit (400) exceeded 3 time(s).
Scenario Scenario2 on 20230626: Storage content limit (400) exceeded 2 time(s).
Scenario Scenario3 not solvable for date 20230626 (discharge limit exceeded).
Scenario Scenario8 on 20230626: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario9 on 20230626: Storage content limit (400) exceeded 3 time(s).
Scenario Scenario10 on 20230626: Storage content limit (400) exceeded 3 time(s).
Total Costs for date 20230626:

     Scenario  Total Cost
0   Scenario1   36.491448
1   Scenario2   26.373410
2   Scenario4    5.414318
3   Scenario5    3.314589
4   Scenario6    2.254107
5   Scenario7    6.259954
6   Scenario8   17.313466
7   Scenario9   37.652818
8  Scenario10   36.793851

Weighted Total Cost for date 20230626: 6.174575
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230626_to_20230626_day_obj.csv

   ObjectiveValue
0     -113.980901

Deterministic Objective Value for date 20230626: -113.9809011776631
Total Cost for date 20230626: -107.806326

Processing date: 20230709
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230709_to_20230709_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,30.715569,320.0,0.0,0.0,0.0,0.0,...,0.000000,30.715569,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,30.715569
1,2,0.1543,0.251,0.105,49.297894,320.0,0.0,0.0,0.0,0.0,...,18.702106,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,128.796270,320.0,-0.0,0.0,0.0,0.0,...,0.000000,128.796270,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,60.796270
3,4,0.1543,0.251,0.105,53.728503,320.0,0.0,0.0,0.0,0.0,...,14.271497,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,65.872722,320.0,0.0,0.0,0.0,0.0,...,2.127278,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Scenario Scenario1 on 20230709: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario3 on 20230709: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario4 not solvable for date 20230709 (discharge limit exceeded).
Scenario Scenario9 on 20230709: Storage content limit (400) exceeded 1 time(s).
Total Costs for date 20230709:

     Scenario  Total Cost
0   Scenario1   13.121064
1   Scenario2    3.762912
2   Scenario3   14.513215
3   Scenario5    3.401179
4   Scenario6    4.633377
5   Scenario7    3.852795
6   Scenario8    3.185627
7   Scenario9   13.034413
8  Scenario10    3.790671

Weighted Total Cost for date 20230709: 6.837021
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230709_to_20230709_day_obj.csv

   ObjectiveValue
0     -125.360535

Deterministic Objective Value for date 20230709: -125.3605350290181
Total Cost for date 20230709: -118.523514

Processing date: 20230710
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230710_to_20230710_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,25.333756,320.0,0.0,0.0,0.0,0.0,...,0.000000,25.333756,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,25.333756
1,2,0.1543,0.251,0.105,33.171919,320.0,0.0,0.0,0.0,0.0,...,0.000000,33.171919,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,33.171919
2,3,0.1543,0.251,0.105,124.981345,320.0,-0.0,0.0,0.0,0.0,...,0.000000,124.981345,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,56.981345
3,4,0.1543,0.251,0.105,46.764980,320.0,0.0,0.0,0.0,0.0,...,21.235020,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,61.996696,320.0,0.0,0.0,0.0,0.0,...,6.003304,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Scenario Scenario1 on 20230710: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario2 on 20230710: Storage content limit (400) exceeded 2 time(s).
Scenario Scenario3 not solvable for date 20230710 (discharge limit exceeded).
Scenario Scenario9 on 20230710: Storage content limit (400) exceeded 1 time(s).
Scenario Scenario10 on 20230710: Storage content limit (400) exceeded 1 time(s).
Total Costs for date 20230710:

     Scenario  Total Cost
0   Scenario1   12.852600
1   Scenario2   23.922728
2   Scenario4    3.605837
3   Scenario5    3.680253
4   Scenario6    3.037037
5   Scenario7    2.914994
6   Scenario8    2.621812
7   Scenario9   13.167353
8  Scenario10   13.460530

Weighted Total Cost for date 20230710: 7.441555
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230710_to_20230710_day_obj.csv

   ObjectiveValue
0     -135.407346

Deterministic Objective Value for date 20230710: -135.40734603802397
Total Cost for date 20230710: -127.965791

In [12]:

# Create a DataFrame of results
results_df_eev_special = pd.DataFrame(results)
results_df_eev_special['Total Cost'] = results_df_eev_special['Total Cost'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_eev_special)

# Save the EEV results to a CSV file
filename = "eev_special.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_eev_special.to_csv(output_filepath, index=False)

Final Results:

          Date  Total Cost
0   2023-03-16 -331.488465
1   2023-03-28 -346.722356
2   2023-04-03 -357.285790
3   2023-04-09 -373.473684
4   2023-04-10 -315.197748
5   2023-05-01 -275.951056
6   2023-05-15 -171.030197
7   2023-06-19 -109.849819
8   2023-06-22 -109.544017
9   2023-06-26 -107.806326
10  2023-07-09 -118.523514
11  2023-07-10 -127.965791

In [13]:
# Input paths
input_path_det_ts = INPUT_PATH_D  # Path to deterministic weighted time series
input_path_hd = INPUT_PATH_HD     # Path to heat demand scenarios

# Dictionary to store total costs for each date
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute costs and weighted total cost
    total_costs_df, weighted_total_cost = compute_costs_from_differences(
        date_str=date_str,
        period=period,
        input_path_det_ts=input_path_det_ts,
        input_path_hd=input_path_hd
    )

    if weighted_total_cost is not None:
        # Load deterministic objective value
        det_obj_value = load_weighted_deterministic_objective_value(date_str, period, INPUT_PATH_D_OBJ)
        if det_obj_value is not None:
            # det_obj_value is a DataFrame with one value
            det_obj_value = det_obj_value['ObjectiveValue'].iloc[0]
            print(f"Deterministic Objective Value for date {date_str}: {det_obj_value}")

            # Compute total cost
            total_cost = det_obj_value + weighted_total_cost

            # Store the result
            results.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Total Cost': total_cost
            })

            print(f"Total Cost for date {date_str}: {total_cost:.6f}")
        else:
            print(f"Could not load deterministic objective value for date {date_str}.")
    else:
        print(f"Could not compute weighted total cost for date {date_str}.")

Processing date: 20230316
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230316_to_20230316_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.338281,320.0,1.0,37.218589,117.039587,68.0,...,13.661719,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,134.504272,320.0,1.0,37.218589,117.039587,68.0,...,1.495728,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,197.239009,320.0,1.0,37.218589,117.039587,68.0,...,51.560072,248.799081,37.218589,38.890017,68.0,68.0,112.799081,104.464598,117.039587,0.000000
3,4,0.1543,0.251,0.105,331.596286,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,331.596286,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,21.596286
4,5,0.1543,0.251,0.105,231.966560,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,231.966560,37.218589,38.890017,68.0,68.0,95.966560,88.512341,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Total Costs for date 20230316:

     Scenario  Total Cost
0   Scenario1    3.220186
1   Scenario2    3.225086
2   Scenario3    4.317285
3   Scenario4    2.564928
4   Scenario5    3.652522
5   Scenario6    3.123079
6   Scenario7    3.916078
7   Scenario8    3.328031
8   Scenario9    3.130369
9  Scenario10    3.441913

Weighted Total Cost for date 20230316: 3.282309
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230316_to_20230316_day_obj.csv

   ObjectiveValue
0     -340.552087

Deterministic Objective Value for date 20230316: -340.5520873670532
Total Cost for date 20230316: -337.269778

Processing date: 20230328
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230328_to_20230328_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.480784,320.0,1.0,37.218589,117.039587,68.0,...,13.519216,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,155.139147,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,155.139147,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,19.139147
2,3,0.1543,0.251,0.105,342.366250,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,342.366250,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,32.366250
3,4,0.1543,0.251,0.105,209.640859,320.0,1.0,37.218589,117.039587,68.0,...,11.559141,221.200000,37.218589,38.890017,68.0,68.0,85.200000,78.308824,117.039587,0.000000
4,5,0.1543,0.251,0.105,250.364746,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,250.364746,37.218589,38.890017,68.0,68.0,114.364746,105.948385,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Total Costs for date 20230328:

     Scenario  Total Cost
0   Scenario1    4.223864
1   Scenario2    3.563382
2   Scenario3    3.294136
3   Scenario4    3.687437
4   Scenario5    3.141531
5   Scenario6    3.460423
6   Scenario7    2.543064
7   Scenario8    3.480057
8   Scenario9    3.415828
9  Scenario10    2.533174

Weighted Total Cost for date 20230328: 3.304737
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230328_to_20230328_day_obj.csv

   ObjectiveValue
0     -350.027092

Deterministic Objective Value for date 20230328: -350.0270923839986
Total Cost for date 20230328: -346.722356

Processing date: 20230403
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230403_to_20230403_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,109.681178,320.0,1.0,37.218589,117.039587,68.0,...,26.318822,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,129.868257,320.0,1.0,37.218589,117.039587,68.0,...,6.131743,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,318.075668,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,318.075668,37.218589,38.890017,68.0,68.0,174.0,162.464986,117.039587,8.075668
3,4,0.1543,0.251,0.105,174.754284,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,174.754284,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,38.754284
4,5,0.1543,0.251,0.105,205.485095,320.0,1.0,37.218589,117.039587,68.0,...,15.714905,221.200000,37.218589,38.890017,68.0,68.0,85.2,78.308824,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Total Costs for date 20230403:

     Scenario  Total Cost
0   Scenario1    3.420299
1   Scenario2    3.556115
2   Scenario3    3.103604
3   Scenario4    4.376863
4   Scenario5    4.490219
5   Scenario6    3.511845
6   Scenario7    3.788047
7   Scenario8    3.602868
8   Scenario9    2.718333
9  Scenario10    3.491377

Weighted Total Cost for date 20230403: 3.436851
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230403_to_20230403_day_obj.csv

   ObjectiveValue
0     -360.722641

Deterministic Objective Value for date 20230403: -360.7226413406327
Total Cost for date 20230403: -357.285790

Processing date: 20230409
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230409_to_20230409_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,114.125280,320.0,1.0,37.218589,117.039587,68.0,...,21.874720,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,131.676456,320.0,1.0,37.218589,117.039587,68.0,...,4.323544,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,321.959866,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,321.959866,37.218589,38.890017,68.0,68.0,174.0,162.464986,117.039587,11.959866
3,4,0.1543,0.251,0.105,183.594859,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,183.594859,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,47.594859
4,5,0.1543,0.251,0.105,179.251707,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,179.251707,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,43.251707

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Total Costs for date 20230409:

     Scenario  Total Cost
0   Scenario1    4.166008
1   Scenario2    3.425088
2   Scenario3    3.477175
3   Scenario4    3.180209
4   Scenario5    3.616938
5   Scenario6    4.024472
6   Scenario7    3.756576
7   Scenario8    3.289749
8   Scenario9    4.177738
9  Scenario10    3.711194

Weighted Total Cost for date 20230409: 3.634292
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230409_to_20230409_day_obj.csv

   ObjectiveValue
0     -377.107976

Deterministic Objective Value for date 20230409: -377.1079759928216
Total Cost for date 20230409: -373.473684

Processing date: 20230410
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230410_to_20230410_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,81.183802,320.0,-0.0,0.000000,0.000000,0.00000,...,0.000000,81.183802,0.000000,38.890017,0.00000,68.0,0.0,0.000000,0.000000,13.183802
1,2,0.1543,0.251,0.105,108.073174,320.0,1.0,35.443388,113.244403,66.36333,...,26.290157,134.363330,35.443388,38.890017,66.36333,68.0,0.0,0.000000,113.244403,0.000000
2,3,0.1543,0.251,0.105,272.470956,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,272.470956,37.218589,38.890017,68.00000,68.0,85.2,78.308824,117.039587,51.270956
3,4,0.1543,0.251,0.105,150.267401,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,150.267401,37.218589,38.890017,68.00000,68.0,0.0,0.000000,117.039587,14.267401
4,5,0.1543,0.251,0.105,172.161546,320.0,1.0,37.218589,117.039587,68.00000,...,0.000000,172.161546,37.218589,38.890017,68.00000,68.0,0.0,0.000000,117.039587,36.161546

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Total Costs for date 20230410:

     Scenario  Total Cost
0   Scenario1    2.888495
1   Scenario2    3.254471
2   Scenario3    3.775163
3   Scenario4    2.895091
4   Scenario5    3.615743
5   Scenario6    3.911344
6   Scenario7    3.326393
7   Scenario8    3.973948
8   Scenario9    4.802631
9  Scenario10    2.881535

Weighted Total Cost for date 20230410: 3.359936
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230410_to_20230410_day_obj.csv

   ObjectiveValue
0     -318.557684

Deterministic Objective Value for date 20230410: -318.55768443111793
Total Cost for date 20230410: -315.197748

Processing date: 20230501
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230501_to_20230501_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,57.794192,320.0,0.0,0.000000,0.000000,0.000000,...,10.205808,68.000000,0.000000,38.890017,0.000000,68.0,0.0,0.0,0.000000,0.000000
1,2,0.1543,0.251,0.105,86.012196,320.0,0.0,0.000000,0.000000,0.000000,...,0.000000,86.012196,0.000000,38.890017,0.000000,68.0,0.0,0.0,0.000000,18.012196
2,3,0.1543,0.251,0.105,236.796742,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,236.796742,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,100.796742
3,4,0.1543,0.251,0.105,125.212512,320.0,1.0,30.999419,103.743685,62.266154,...,5.053642,130.266154,30.999419,38.890017,62.266154,68.0,0.0,0.0,103.743685,0.000000
4,5,0.1543,0.251,0.105,136.139252,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,136.139252,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,0.139252

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Total Costs for date 20230501:

     Scenario  Total Cost
0   Scenario1    3.740017
1   Scenario2    3.757002
2   Scenario3    3.925893
3   Scenario4    4.026071
4   Scenario5    3.149413
5   Scenario6    2.843856
6   Scenario7    3.728211
7   Scenario8    3.972381
8   Scenario9    3.560782
9  Scenario10    3.088058

Weighted Total Cost for date 20230501: 3.533910
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230501_to_20230501_day_obj.csv

   ObjectiveValue
0     -278.219128

Deterministic Objective Value for date 20230501: -278.21912763832245
Total Cost for date 20230501: -274.685218

Processing date: 20230515
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230515_to_20230515_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,28.841828,320.0,0.0,0.0,0.0,0.0,...,39.158172,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,48.280144,320.0,0.0,0.0,0.0,0.0,...,19.719856,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,143.475056,320.0,-0.0,0.0,0.0,0.0,...,0.000000,143.475056,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,75.475056
3,4,0.1543,0.251,0.105,60.227853,320.0,0.0,0.0,0.0,0.0,...,0.000000,60.227853,0.0,30.270197,0.0,60.227853,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,89.954385,320.0,-0.0,0.0,0.0,0.0,...,0.000000,89.954385,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,21.954385

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Total Costs for date 20230515:

     Scenario  Total Cost
0   Scenario1    3.038888
1   Scenario2    3.872958
2   Scenario3    3.226087
3   Scenario4    2.745381
4   Scenario5    2.877674
5   Scenario6    2.519456
6   Scenario7    3.396390
7   Scenario8    4.675732
8   Scenario9    3.938013
9  Scenario10    3.327792

Weighted Total Cost for date 20230515: 3.209410
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230515_to_20230515_day_obj.csv

   ObjectiveValue
0     -173.719482

Deterministic Objective Value for date 20230515: -173.71948176261049
Total Cost for date 20230515: -170.510072

Processing date: 20230619
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230619_to_20230619_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,29.804550,320.0,0.0,0.0,0.0,0.0,...,0.000000,29.804550,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,29.804550
1,2,0.1543,0.251,0.105,38.549741,320.0,0.0,0.0,0.0,0.0,...,22.780547,61.330288,0.0,31.492870,0.0,61.330288,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,117.370956,320.0,0.0,0.0,0.0,0.0,...,0.000000,117.370956,0.0,38.890014,0.0,67.999998,0.0,0.0,0.0,49.370959
3,4,0.1543,0.251,0.105,43.145885,320.0,0.0,0.0,0.0,0.0,...,18.594470,61.740355,0.0,31.947661,0.0,61.740355,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,74.806673,320.0,0.0,0.0,0.0,0.0,...,0.000000,74.806673,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,6.806675

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Total Costs for date 20230619:

     Scenario  Total Cost
0   Scenario1    3.587282
1   Scenario2    3.089308
2   Scenario3    2.914700
3   Scenario4    3.753167
4   Scenario5    4.207412
5   Scenario6    3.429589
6   Scenario7    3.759954
7   Scenario8    4.127842
8   Scenario9    3.475324
9  Scenario10    2.836354

Weighted Total Cost for date 20230619: 3.459328
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230619_to_20230619_day_obj.csv

   ObjectiveValue
0     -116.828601

Deterministic Objective Value for date 20230619: -116.82860121565987
Total Cost for date 20230619: -113.369274

Processing date: 20230622
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230622_to_20230622_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,24.097578,320.0,0.0,0.0,0.0,0.0,...,0.000000,24.097578,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,24.097578
1,2,0.1543,0.251,0.105,36.011310,320.0,0.0,0.0,0.0,0.0,...,28.901701,64.913011,0.0,35.466344,0.0,64.913011,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,133.824740,320.0,0.0,0.0,0.0,0.0,...,0.000000,133.824740,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,65.824742
3,4,0.1543,0.251,0.105,57.532691,320.0,0.0,0.0,0.0,0.0,...,8.028079,65.560771,0.0,36.184752,0.0,65.560771,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,72.660173,320.0,0.0,0.0,0.0,0.0,...,0.000000,72.660173,0.0,38.890015,0.0,67.999999,0.0,0.0,0.0,4.660174

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Total Costs for date 20230622:

     Scenario  Total Cost
0   Scenario1    4.049016
1   Scenario2    3.978707
2   Scenario3    3.781022
3   Scenario4    2.942249
4   Scenario5    4.116247
5   Scenario6    3.676352
6   Scenario7    3.785345
7   Scenario8    3.014552
8   Scenario9    3.967569
9  Scenario10    3.918435

Weighted Total Cost for date 20230622: 3.659441
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230622_to_20230622_day_obj.csv

   ObjectiveValue
0     -118.809832

Deterministic Objective Value for date 20230622: -118.8098321984717
Total Cost for date 20230622: -115.150391

Processing date: 20230626
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230626_to_20230626_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,5.559557,320.0,0.0,0.0,0.0,0.0,...,0.000000,5.559557,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.559557
1,2,0.1543,0.251,0.105,49.347106,320.0,0.0,0.0,0.0,0.0,...,12.997814,62.344920,0.0,32.618164,0.0,62.344920,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,95.483014,320.0,0.0,0.0,0.0,0.0,...,0.000000,95.483014,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,27.483016
3,4,0.1543,0.251,0.105,56.749592,320.0,0.0,0.0,0.0,0.0,...,6.002151,62.751742,0.0,33.069356,0.0,62.751742,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,49.503750,320.0,0.0,0.0,0.0,0.0,...,13.565499,63.069249,0.0,33.421492,0.0,63.069249,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Total Costs for date 20230626:

     Scenario  Total Cost
0   Scenario1    6.491448
1   Scenario2    6.373410
2   Scenario3    8.635586
3   Scenario4    5.414318
4   Scenario5    3.314589
5   Scenario6    2.254107
6   Scenario7    6.259954
7   Scenario8    7.313466
8   Scenario9    7.652818
9  Scenario10    6.793851

Weighted Total Cost for date 20230626: 3.194379
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230626_to_20230626_day_obj.csv

   ObjectiveValue
0     -113.980901

Deterministic Objective Value for date 20230626: -113.9809011776631
Total Cost for date 20230626: -110.786522

Processing date: 20230709
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230709_to_20230709_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,30.715569,320.0,0.0,0.0,0.0,0.0,...,0.000000,30.715569,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,30.715569
1,2,0.1543,0.251,0.105,49.297894,320.0,0.0,0.0,0.0,0.0,...,18.702106,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,128.796270,320.0,-0.0,0.0,0.0,0.0,...,0.000000,128.796270,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,60.796270
3,4,0.1543,0.251,0.105,53.728503,320.0,0.0,0.0,0.0,0.0,...,14.271497,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,65.872722,320.0,0.0,0.0,0.0,0.0,...,2.127278,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Total Costs for date 20230709:

     Scenario  Total Cost
0   Scenario1    3.121064
1   Scenario2    3.762912
2   Scenario3    4.513215
3   Scenario4    3.531560
4   Scenario5    3.401179
5   Scenario6    4.633377
6   Scenario7    3.852795
7   Scenario8    3.185627
8   Scenario9    3.034413
9  Scenario10    3.790671

Weighted Total Cost for date 20230709: 3.689916
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230709_to_20230709_day_obj.csv

   ObjectiveValue
0     -125.360535

Deterministic Objective Value for date 20230709: -125.3605350290181
Total Cost for date 20230709: -121.670619

Processing date: 20230710
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230710_to_20230710_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,25.333756,320.0,0.0,0.0,0.0,0.0,...,0.000000,25.333756,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,25.333756
1,2,0.1543,0.251,0.105,33.171919,320.0,0.0,0.0,0.0,0.0,...,0.000000,33.171919,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,33.171919
2,3,0.1543,0.251,0.105,124.981345,320.0,-0.0,0.0,0.0,0.0,...,0.000000,124.981345,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,56.981345
3,4,0.1543,0.251,0.105,46.764980,320.0,0.0,0.0,0.0,0.0,...,21.235020,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,61.996696,320.0,0.0,0.0,0.0,0.0,...,6.003304,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Total Costs for date 20230710:

     Scenario  Total Cost
0   Scenario1    2.852600
1   Scenario2    3.922728
2   Scenario3    3.420707
3   Scenario4    3.605837
4   Scenario5    3.680253
5   Scenario6    3.037037
6   Scenario7    2.914994
7   Scenario8    2.621812
8   Scenario9    3.167353
9  Scenario10    3.460530

Weighted Total Cost for date 20230710: 3.224069
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230710_to_20230710_day_obj.csv

   ObjectiveValue
0     -135.407346

Deterministic Objective Value for date 20230710: -135.40734603802397
Total Cost for date 20230710: -132.183277

## EEV

In [14]:
# Create a DataFrame of results
results_df_eev = pd.DataFrame(results)
results_df_eev['Total Cost'] = results_df_eev['Total Cost'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_eev)

Final Results:

          Date  Total Cost
0   2023-03-16 -337.269778
1   2023-03-28 -346.722356
2   2023-04-03 -357.285790
3   2023-04-09 -373.473684
4   2023-04-10 -315.197748
5   2023-05-01 -274.685218
6   2023-05-15 -170.510072
7   2023-06-19 -113.369274
8   2023-06-22 -115.150391
9   2023-06-26 -110.786522
10  2023-07-09 -121.670619
11  2023-07-10 -132.183277

In [15]:
def compute_weighted_stochastic_objective_value(date_str: str, period: str, input_path_s: str, input_path_hd: str) -> float:
    """
    Compute the weighted stochastic objective value for a specific date.
    """
    # Load stochastic objective values
    sto_obj_values_df = load_stochastic_objective_values(date_str, period, input_path_s)
    if sto_obj_values_df.empty:
        print(f"No stochastic objective values data available for date {date_str}.")
        return None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None

    # Clean up column names if necessary
    # Sometimes the first column might have a stray ':' character
    sto_obj_values_df.columns = [col.strip(':') for col in sto_obj_values_df.columns]

    # Merge sto_obj_values_df with probabilities
    sto_obj_values_df['Probability'] = sto_obj_values_df['Scenario'].map(probabilities)

    # Check for missing probabilities
    if sto_obj_values_df['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(sto_obj_values_df[sto_obj_values_df['Probability'].isnull()])
        return None

    # Compute weighted objective value
    sto_obj_values_df['WeightedObjective'] = sto_obj_values_df['ObjectiveValue'] * sto_obj_values_df['Probability']

    # Display intermediate calculations
    print("Intermediate Calculations:")
    display(sto_obj_values_df)

    # Sum the weighted objectives
    weighted_objective_value = sto_obj_values_df['WeightedObjective'].sum()

    return weighted_objective_value

In [16]:
def compute_weighted_stochastic_objective_special_value(date_str: str, period: str, input_path_s: str, input_path_hd: str, special_case: str) -> float:
    """
    Compute the weighted stochastic objective value for a specific date.
    """
    # Load stochastic objective values
    sto_obj_values_df = load_stochastic_objective_special_values(date_str, period, input_path_s, special_case)
    if sto_obj_values_df.empty:
        print(f"No stochastic objective values data available for date {date_str}.")
        return None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None

    # Clean up column names if necessary
    # Sometimes the first column might have a stray ':' character
    sto_obj_values_df.columns = [col.strip(':') for col in sto_obj_values_df.columns]

    # Merge sto_obj_values_df with probabilities
    sto_obj_values_df['Probability'] = sto_obj_values_df['Scenario'].map(probabilities)

    # Check for missing probabilities
    if sto_obj_values_df['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(sto_obj_values_df[sto_obj_values_df['Probability'].isnull()])
        return None

    # Compute weighted objective value
    sto_obj_values_df['WeightedObjective'] = sto_obj_values_df['ObjectiveValue'] * sto_obj_values_df['Probability']

    # Display intermediate calculations
    print("Intermediate Calculations:")
    display(sto_obj_values_df)

    # Sum the weighted objectives
    weighted_objective_value = sto_obj_values_df['WeightedObjective'].sum()

    return weighted_objective_value

In [17]:
# Input paths
input_path_s_obj = INPUT_PATH_S_OBJ  # Path to stochastic objective values
input_path_hd = INPUT_PATH_HD  # Path to heat demand scenarios (probabilities)

# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute weighted stochastic objective value
    weighted_sto_obj_value = compute_weighted_stochastic_objective_value(
        date_str=date_str,
        period=period,
        input_path_s=input_path_s_obj,
        input_path_hd=input_path_hd
    )

    if weighted_sto_obj_value is not None:
        # Store the result
        results.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Weighted Stochastic Objective Value': weighted_sto_obj_value
        })
        print(f"Weighted Stochastic Objective Value for date {date_str}: {weighted_sto_obj_value:.6f}")
    else:
        print(f"Could not compute weighted stochastic objective value for date {date_str}.")

Processing date: 20230316
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230316_to_20230316_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -326.915809     0.093211         -30.471995
1   Scenario2     -327.040740     0.041917         -13.708444
2   Scenario3     -325.951884     0.073168         -23.849111
3   Scenario4     -327.274089     0.164225         -53.746681
4   Scenario5     -326.848278     0.096919         -31.677880
5   Scenario6     -326.980714     0.165247         -54.032743
6   Scenario7     -326.691768     0.048252         -15.763669
7   Scenario8     -326.885557     0.114138         -37.310148
8   Scenario9     -326.915483     0.088206         -28.835980
9  Scenario10     -326.848067     0.114716         -37.494821

Weighted Stochastic Objective Value for date 20230316: -326.891473

Processing date: 20230328
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230328_to_20230328_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -339.124442     0.057758         -19.587297
1   Scenario2     -340.432339     0.126084         -42.923029
2   Scenario3     -340.055679     0.074060         -25.184358
3   Scenario4     -339.474604     0.137439         -46.656889
4   Scenario5     -339.882296     0.181896         -61.823087
5   Scenario6     -340.267599     0.073522         -25.017144
6   Scenario7     -340.798173     0.100274         -34.173173
7   Scenario8     -339.836103     0.057625         -19.583008
8   Scenario9     -339.352259     0.107217         -36.384223
9  Scenario10     -340.063089     0.084127         -28.608362

Weighted Stochastic Objective Value for date 20230328: -339.940569

Processing date: 20230403
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230403_to_20230403_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -346.024684     0.050894         -17.610411
1   Scenario2     -346.303412     0.110215         -38.167751
2   Scenario3     -345.556709     0.121587         -42.015152
3   Scenario4     -346.062974     0.057770         -19.992172
4   Scenario5     -344.706014     0.067584         -23.296499
5   Scenario6     -346.763046     0.134609         -46.677595
6   Scenario7     -345.186910     0.114209         -39.423598
7   Scenario8     -346.160160     0.059725         -20.674315
8   Scenario9     -346.531409     0.223599         -77.484054
9  Scenario10     -346.075212     0.059808         -20.698174

Weighted Stochastic Objective Value for date 20230403: -346.039721

Processing date: 20230409
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230409_to_20230409_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -364.063659     0.064652         -23.537299
1   Scenario2     -363.897362     0.190680         -69.387804
2   Scenario3     -363.946931     0.129189         -47.017986
3   Scenario4     -364.847491     0.109657         -40.008187
4   Scenario5     -364.467013     0.067537         -24.615116
5   Scenario6     -364.722196     0.095297         -34.756794
6   Scenario7     -363.984598     0.078145         -28.443566
7   Scenario8     -364.878300     0.084789         -30.937540
8   Scenario9     -365.061334     0.097324         -35.529171
9  Scenario10     -364.436321     0.082731         -30.150181

Weighted Stochastic Objective Value for date 20230409: -364.383643

Processing date: 20230410
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230410_to_20230410_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -342.622049     0.070209         -24.055284
1   Scenario2     -342.157389     0.207275         -70.920584
2   Scenario3     -341.771396     0.083898         -28.673779
3   Scenario4     -342.926284     0.204527         -70.137791
4   Scenario5     -342.617957     0.071263         -24.415857
5   Scenario6     -341.753916     0.059850         -20.454078
6   Scenario7     -342.995458     0.105758         -36.274566
7   Scenario8     -343.007574     0.054947         -18.847179
8   Scenario9     -342.509822     0.053011         -18.156698
9  Scenario10     -342.747223     0.089262         -30.594426

Weighted Stochastic Objective Value for date 20230410: -342.530242

Processing date: 20230501
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230501_to_20230501_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -298.608925     0.190239         -56.807021
1   Scenario2     -297.621761     0.057934         -17.242421
2   Scenario3     -298.629550     0.048213         -14.397879
3   Scenario4     -300.020082     0.078855         -23.658154
4   Scenario5     -298.601228     0.121309         -36.222876
5   Scenario6     -300.427111     0.054560         -16.391332
6   Scenario7     -298.461360     0.134399         -40.112828
7   Scenario8     -299.069199     0.057428         -17.174956
8   Scenario9     -298.991181     0.079893         -23.887286
9  Scenario10     -298.838736     0.177170         -52.945374

Weighted Stochastic Objective Value for date 20230501: -298.840128

Processing date: 20230515
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230515_to_20230515_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -196.063759     0.066917         -13.119992
1   Scenario2     -195.410035     0.093079         -18.188590
2   Scenario3     -195.545257     0.119735         -23.413582
3   Scenario4     -196.127913     0.156098         -30.615256
4   Scenario5     -196.595561     0.060302         -11.855147
5   Scenario6     -196.588900     0.214441         -42.156812
6   Scenario7     -195.487313     0.097663         -19.091922
7   Scenario8     -195.373658     0.087456         -17.086596
8   Scenario9     -195.265549     0.047847          -9.342899
9  Scenario10     -195.474561     0.056461         -11.036617

Weighted Stochastic Objective Value for date 20230515: -195.907414

Processing date: 20230619
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230619_to_20230619_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -149.295886     0.147722         -22.054259
1   Scenario2     -150.800857     0.149388         -22.527887
2   Scenario3     -151.045021     0.070626         -10.667698
3   Scenario4     -149.514160     0.051094          -7.639274
4   Scenario5     -150.066775     0.105200         -15.787031
5   Scenario6     -151.282596     0.035835          -5.421169
6   Scenario7     -149.340647     0.099024         -14.788251
7   Scenario8     -150.136391     0.080709         -12.117432
8   Scenario9     -149.891249     0.094985         -14.237407
9  Scenario10     -151.972271     0.165417         -25.138820

Weighted Stochastic Objective Value for date 20230619: -150.379228

Processing date: 20230622
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230622_to_20230622_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -152.985438     0.135874         -20.786733
1   Scenario2     -154.684293     0.082486         -12.759267
2   Scenario3     -153.007062     0.127544         -19.515131
3   Scenario4     -155.017446     0.194525         -30.154815
4   Scenario5     -152.902033     0.081249         -12.423208
5   Scenario6     -154.473036     0.108861         -16.816108
6   Scenario7     -153.811093     0.059450          -9.144133
7   Scenario8     -154.176445     0.066503         -10.253172
8   Scenario9     -154.205687     0.081728         -12.602868
9  Scenario10     -153.550561     0.061779          -9.486268

Weighted Stochastic Objective Value for date 20230622: -153.941702

Processing date: 20230626
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230626_to_20230626_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -143.330094     0.008036          -1.151826
1   Scenario2     -144.553375     0.001415          -0.204554
2   Scenario3     -143.704032     0.000252          -0.036212
3   Scenario4     -144.688999     0.031910          -4.617037
4   Scenario5     -145.948823     0.359087         -52.408355
5   Scenario6     -145.298565     0.507279         -73.706900
6   Scenario7     -144.011632     0.001421          -0.204625
7   Scenario8     -143.780641     0.000250          -0.035974
8   Scenario9     -143.237551     0.000016          -0.002254
9  Scenario10     -144.470651     0.090334         -13.050570

Weighted Stochastic Objective Value for date 20230626: -145.418309

Processing date: 20230709
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230709_to_20230709_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -153.263132     0.063022          -9.658976
1   Scenario2     -152.232274     0.083171         -12.661328
2   Scenario3     -151.903239     0.133864         -20.334321
3   Scenario4     -151.941713     0.077075         -11.710919
4   Scenario5     -152.881513     0.077908         -11.910673
5   Scenario6     -151.522232     0.121064         -18.343904
6   Scenario7     -151.365279     0.078744         -11.919158
7   Scenario8     -152.986755     0.165071         -25.253662
8   Scenario9     -151.975862     0.145044         -22.043211
9  Scenario10     -152.860716     0.055037          -8.412937

Weighted Stochastic Objective Value for date 20230709: -152.249089

Processing date: 20230710
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230710_to_20230710_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -152.079868     0.157475         -23.948835
1   Scenario2     -150.898947     0.055415          -8.362112
2   Scenario3     -151.771827     0.134182         -20.365075
3   Scenario4     -150.457646     0.115740         -17.413980
4   Scenario5     -150.811872     0.069091         -10.419779
5   Scenario6     -151.196893     0.091832         -13.884716
6   Scenario7     -151.380801     0.110580         -16.739698
7   Scenario8     -151.829379     0.066341         -10.072561
8   Scenario9     -151.392273     0.130086         -19.694007
9  Scenario10     -150.347923     0.069256         -10.412566

Weighted Stochastic Objective Value for date 20230710: -151.313329

In [18]:
# Create a DataFrame of results
results_df_rp = pd.DataFrame(results)
results_df_rp['Weighted Stochastic Objective Value'] = results_df_rp['Weighted Stochastic Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_rp)

Final Results:

          Date  Weighted Stochastic Objective Value
0   2023-03-16                          -326.891473
1   2023-03-28                          -339.940569
2   2023-04-03                          -346.039721
3   2023-04-09                          -364.383643
4   2023-04-10                          -342.530242
5   2023-05-01                          -298.840128
6   2023-05-15                          -195.907414
7   2023-06-19                          -150.379228
8   2023-06-22                          -153.941702
9   2023-06-26                          -145.418309
10  2023-07-09                          -152.249089
11  2023-07-10                          -151.313329

## Special Case RP

In [19]:
# Input paths
input_path_s_obj = INPUT_PATH_S_OBJ  # Path to stochastic objective values
input_path_hd = INPUT_PATH_HD  # Path to heat demand scenarios (probabilities)

# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute weighted stochastic objective value
    weighted_sto_obj_special_value = compute_weighted_stochastic_objective_special_value(
        date_str=date_str,
        period=period,
        input_path_s=input_path_s_obj,
        input_path_hd=input_path_hd,
        special_case=special_case
    )

    if weighted_sto_obj_special_value is not None:
        # Store the result
        results.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Weighted Stochastic Objective Value': weighted_sto_obj_special_value
        })
        print(f"Weighted Stochastic Objective Value for date {date_str} and case {special_case}: {weighted_sto_obj_special_value:.6f}")
    else:
        print(f"Could not compute weighted stochastic objective value for date {date_str}.")

Processing date: 20230316
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230316_to_20230316_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -326.963588     0.093211         -30.476448
1   Scenario2     -327.088519     0.041917         -13.710447
2   Scenario3     -325.999662     0.073168         -23.852607
3   Scenario4     -327.321868     0.164225         -53.754528
4   Scenario5     -326.896057     0.096919         -31.682511
5   Scenario6     -327.028493     0.165247         -54.040638
6   Scenario7     -326.739547     0.048252         -15.765975
7   Scenario8     -326.933335     0.114138         -37.315601
8   Scenario9     -326.963262     0.088206         -28.840195
9  Scenario10     -326.895846     0.114716         -37.500302

Weighted Stochastic Objective Value for date 20230316 and case USE_EXT_COST_10: -326.939252

Processing date: 20230328
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230328_to_20230328_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -339.113540     0.057758         -19.586667
1   Scenario2     -340.421437     0.126084         -42.921654
2   Scenario3     -340.044778     0.074060         -25.183550
3   Scenario4     -339.463702     0.137439         -46.655390
4   Scenario5     -339.871395     0.181896         -61.821104
5   Scenario6     -340.256698     0.073522         -25.016342
6   Scenario7     -340.787272     0.100274         -34.172080
7   Scenario8     -339.825201     0.057625         -19.582379
8   Scenario9     -339.341357     0.107217         -36.383055
9  Scenario10     -340.052187     0.084127         -28.607445

Weighted Stochastic Objective Value for date 20230328 and case USE_EXT_COST_10: -339.929667

Processing date: 20230403
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230403_to_20230403_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -346.301026     0.050894         -17.624475
1   Scenario2     -346.579754     0.110215         -38.198208
2   Scenario3     -345.833051     0.121587         -42.048751
3   Scenario4     -346.339316     0.057770         -20.008137
4   Scenario5     -344.982356     0.067584         -23.315175
5   Scenario6     -347.039388     0.134609         -46.714793
6   Scenario7     -345.463252     0.114209         -39.455159
7   Scenario8     -346.436502     0.059725         -20.690820
8   Scenario9     -346.807751     0.223599         -77.545844
9  Scenario10     -346.351554     0.059808         -20.714702

Weighted Stochastic Objective Value for date 20230403 and case USE_EXT_COST_10: -346.316063

Processing date: 20230409
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230409_to_20230409_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -364.648894     0.064652         -23.575136
1   Scenario2     -364.482597     0.190680         -69.499396
2   Scenario3     -364.532165     0.129189         -47.093592
3   Scenario4     -365.432725     0.109657         -40.072362
4   Scenario5     -365.052247     0.067537         -24.654641
5   Scenario6     -365.307431     0.095297         -34.812565
6   Scenario7     -364.569833     0.078145         -28.489299
7   Scenario8     -365.463535     0.084789         -30.987161
8   Scenario9     -365.646568     0.097324         -35.586128
9  Scenario10     -365.021555     0.082731         -30.198598

Weighted Stochastic Objective Value for date 20230409 and case USE_EXT_COST_10: -364.968877

Processing date: 20230410
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230410_to_20230410_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -335.773134     0.070209         -23.574426
1   Scenario2     -335.308474     0.207275         -69.500977
2   Scenario3     -334.922480     0.083898         -28.099172
3   Scenario4     -336.077369     0.204527         -68.737000
4   Scenario5     -335.769042     0.071263         -23.927786
5   Scenario6     -334.905001     0.059850         -20.044168
6   Scenario7     -336.146543     0.105758         -35.550237
7   Scenario8     -336.158658     0.054947         -18.470853
8   Scenario9     -335.660907     0.053011         -17.793632
9  Scenario10     -335.898308     0.089262         -29.983076

Weighted Stochastic Objective Value for date 20230410 and case USE_EXT_COST_10: -335.681327

Processing date: 20230501
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230501_to_20230501_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -295.797873     0.190239         -56.272249
1   Scenario2     -294.810709     0.057934         -17.079566
2   Scenario3     -295.818498     0.048213         -14.262349
3   Scenario4     -297.209030     0.078855         -23.436488
4   Scenario5     -295.790176     0.121309         -35.881872
5   Scenario6     -297.616059     0.054560         -16.237961
6   Scenario7     -295.650308     0.134399         -39.735026
7   Scenario8     -296.258147     0.057428         -17.013523
8   Scenario9     -296.180129     0.079893         -23.662703
9  Scenario10     -296.027684     0.177170         -52.447339

Weighted Stochastic Objective Value for date 20230501 and case USE_EXT_COST_10: -296.029076

Processing date: 20230515
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230515_to_20230515_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -203.481789     0.066917         -13.616384
1   Scenario2     -202.828065     0.093079         -18.879054
2   Scenario3     -202.963287     0.119735         -24.301779
3   Scenario4     -203.545943     0.156098         -31.773199
4   Scenario5     -204.013591     0.060302         -12.302471
5   Scenario6     -204.006931     0.214441         -43.747545
6   Scenario7     -202.905344     0.097663         -19.816391
7   Scenario8     -202.791688     0.087456         -17.735347
8   Scenario9     -202.683580     0.047847          -9.697830
9  Scenario10     -202.892592     0.056461         -11.455444

Weighted Stochastic Objective Value for date 20230515 and case USE_EXT_COST_10: -203.325444

Processing date: 20230619
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230619_to_20230619_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -153.951851     0.147722         -22.742047
1   Scenario2     -155.456823     0.149388         -23.223434
2   Scenario3     -155.700987     0.070626         -10.996530
3   Scenario4     -154.170126     0.051094          -7.877165
4   Scenario5     -154.722740     0.105200         -16.276839
5   Scenario6     -155.938562     0.035835          -5.588014
6   Scenario7     -153.996612     0.099024         -15.249302
7   Scenario8     -154.792357     0.080709         -12.493212
8   Scenario9     -154.547215     0.094985         -14.679654
9  Scenario10     -156.628237     0.165417         -25.908996

Weighted Stochastic Objective Value for date 20230619 and case USE_EXT_COST_10: -155.035194

Processing date: 20230622
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230622_to_20230622_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -143.027609     0.135874         -19.433723
1   Scenario2     -144.726464     0.082486         -11.937887
2   Scenario3     -143.049233     0.127544         -18.245070
3   Scenario4     -145.059616     0.194525         -28.217765
4   Scenario5     -142.944204     0.081249         -11.614140
5   Scenario6     -144.515207     0.108861         -15.732087
6   Scenario7     -143.853264     0.059450          -8.552136
7   Scenario8     -144.218616     0.066503          -9.590948
8   Scenario9     -144.247858     0.081728         -11.789038
9  Scenario10     -143.592732     0.061779          -8.871079

Weighted Stochastic Objective Value for date 20230622 and case USE_EXT_COST_10: -143.983872

Processing date: 20230626
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230626_to_20230626_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -147.554137     0.008036          -1.185772
1   Scenario2     -148.777417     0.001415          -0.210532
2   Scenario3     -147.928075     0.000252          -0.037276
3   Scenario4     -148.913042     0.031910          -4.751826
4   Scenario5     -150.172866     0.359087         -53.925155
5   Scenario6     -149.522608     0.507279         -75.849668
6   Scenario7     -148.235675     0.001421          -0.210627
7   Scenario8     -148.004684     0.000250          -0.037031
8   Scenario9     -147.461593     0.000016          -0.002321
9  Scenario10     -148.694694     0.090334         -13.432143

Weighted Stochastic Objective Value for date 20230626 and case USE_EXT_COST_10: -149.642351

Processing date: 20230709
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230709_to_20230709_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -157.947030     0.063022          -9.954165
1   Scenario2     -156.916171     0.083171         -13.050892
2   Scenario3     -156.587137     0.133864         -20.961325
3   Scenario4     -156.625610     0.077075         -12.071931
4   Scenario5     -157.565410     0.077908         -12.275585
5   Scenario6     -156.206130     0.121064         -18.910956
6   Scenario7     -156.049176     0.078744         -12.287988
7   Scenario8     -157.670653     0.165071         -26.026837
8   Scenario9     -156.659760     0.145044         -22.722583
9  Scenario10     -157.544614     0.055037          -8.670723

Weighted Stochastic Objective Value for date 20230709 and case USE_EXT_COST_10: -156.932986

Processing date: 20230710
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230710_to_20230710_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -141.670376     0.157475         -22.309596
1   Scenario2     -140.489454     0.055415          -7.785266
2   Scenario3     -141.362335     0.134182         -18.968307
3   Scenario4     -140.048153     0.115740         -16.209184
4   Scenario5     -140.402380     0.069091          -9.700575
5   Scenario6     -140.787401     0.091832         -12.928791
6   Scenario7     -140.971308     0.110580         -15.588616
7   Scenario8     -141.419887     0.066341          -9.381982
8   Scenario9     -140.982780     0.130086         -18.339878
9  Scenario10     -139.938431     0.069256          -9.691641

Weighted Stochastic Objective Value for date 20230710 and case USE_EXT_COST_10: -140.903837

In [20]:
# Create a DataFrame of results
results_df_rp_special = pd.DataFrame(results)
results_df_rp_special['Weighted Stochastic Objective Value'] = results_df_rp_special['Weighted Stochastic Objective Value'].round(2)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_rp_special)

filename = "rp_extension.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)
results_df_rp_special.to_csv(output_filepath, index=False)

Final Results:

          Date  Weighted Stochastic Objective Value
0   2023-03-16                              -326.94
1   2023-03-28                              -339.93
2   2023-04-03                              -346.32
3   2023-04-09                              -364.97
4   2023-04-10                              -335.68
5   2023-05-01                              -296.03
6   2023-05-15                              -203.33
7   2023-06-19                              -155.04
8   2023-06-22                              -143.98
9   2023-06-26                              -149.64
10  2023-07-09                              -156.93
11  2023-07-10                              -140.90

In [21]:
# Save the EEV results to a CSV file
filename = "eev.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_eev.to_csv(output_filepath, index=False)


# Save the WS results to a CSV file
filename = "ws.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df.to_csv(output_filepath, index=False)


# Save the RP results to a CSV file
filename = "rp.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_rp.to_csv(output_filepath, index=False)

In [22]:
# Merge the dataframes on 'Date'
merged_df = pd.merge(results_df, results_df_rp, on='Date')
# Calculate EVPI
merged_df['EVPI'] = merged_df['Weighted Stochastic Objective Value'] - merged_df['Weighted Objective Value']

# Rename columns
merged_df.rename(columns={
    'Weighted Objective Value': 'WS',
    'Weighted Stochastic Objective Value': 'RP'
}, inplace=True)
# Create the results DataFrame with 'Date' and 'EVPI'
results_df_evpi = merged_df[['Date', 'EVPI']]

# Round the values in merged_df to two decimal places
merged_df = merged_df.round(2)

# Display the results
print(results_df_evpi)

          Date       EVPI
0   2023-03-16  13.549266
1   2023-03-28   8.743799
2   2023-04-03  14.356358
3   2023-04-09  12.216250
4   2023-04-10 -27.598869
5   2023-05-01 -18.384282
6   2023-05-15 -24.730392
7   2023-06-19 -28.473667
8   2023-06-22 -36.313906
9   2023-06-26 -28.324875
10  2023-07-09 -21.094100
11  2023-07-10 -22.374905

In [23]:
# Save the EVPI results to a CSV file
filename = "evpi.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_evpi.to_csv(output_filepath, index=False)

# Save the all results to a CSV file
filename = "all.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

merged_df.to_csv(output_filepath, index=False)

In [24]:
def collect_actual_objective_values(dates_to_process: List[datetime], period: str, input_path: str) -> pd.DataFrame:
    """
    Collect the actual deterministic objective values for a list of dates.

    Parameters:
    - dates_to_process: List of datetime objects representing the dates to process.
    - period: The period string used in the filenames (e.g., 'day', 'week').
    - input_path: The path where the objective value CSV files are located.

    Returns:
    - A pandas DataFrame with columns 'Date' and 'Actual Value'.
    """
    import os
    import pandas as pd
    from datetime import datetime

    actual_values = []

    for date in dates_to_process:
        date_str = date.strftime('%Y%m%d')
        # Use your existing function to load the data
        data = load_actual_deterministic_objective_values(date_str, period, input_path)
        if not data.empty:
            # Assuming the CSV has columns 'Scenario' and 'ObjectiveValue'
            actual_row = data[data['Scenario'] == 'actual']
            if not actual_row.empty:
                objective_value = actual_row['ObjectiveValue'].iloc[0]
                actual_values.append({
                    'Date': date.strftime('%Y-%m-%d'),
                    'Actual Value': objective_value
                })
            else:
                print(f"No 'actual' scenario found in data for date {date_str}")
        else:
            print(f"Data not available for date {date_str}")

    # Create a DataFrame from the results
    actual_values_df = pd.DataFrame(actual_values)
    # Sort by date
    actual_values_df = actual_values_df.sort_values('Date').reset_index(drop=True)
    return actual_values_df

In [25]:
input_path = INPUT_PATH_D_OBJ_ACT  # Path to actual deterministic objective values

actual_values_df = collect_actual_objective_values(dates_to_process, period, input_path)

# Display the DataFrame
print("\nActual Objective Values:")
print(actual_values_df)

# Optionally, write the DataFrame to a CSV file
filename = "actual_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
actual_values_df.to_csv(output_filepath, index=False)
print(f"\nActual objective values have been written to {output_filepath}")

Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230316_to_20230316_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230328_to_20230328_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230403_to_20230403_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230409_to_20230409_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230410_to_20230410_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230501_to_20230501_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230515_to_20230515_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230619_to_20230619_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230622_to_20230622_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230626_to_20230626_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230709_to_20230709_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230710_to_20230710_day_obj.csv

Actual Objective Values:
          Date  Actual Value
0   2023-03-16   -352.781139
1   2023-03-28   -374.784139
2   2023-04-03   -364.106098
3   2023-04-09   -322.579601
4   2023-04-10   -280.504629
5   2023-05-01   -279.596185
6   2023-05-15   -199.716782
7   2023-06-19   -137.972437
8   2023-06-22   -127.862323
9   2023-06-26   -130.942140
10  2023-07-09   -141.528603
11  2023-07-10   -123.345036

Actual objective values have been written to ../data/postprocessing/actual_objective_values.csv

In [26]:
def collect_objective_values(dates_to_process: List[datetime], period: str, input_path: str) -> pd.DataFrame:
    """
    Collect the actual deterministic objective values for a list of dates.

    Parameters:
    - dates_to_process: List of datetime objects representing the dates to process.
    - period: The period string used in the filenames (e.g., 'day', 'week').
    - input_path: The path where the objective value CSV files are located.

    Returns:
    - A pandas DataFrame with columns 'Date' and 'Actual Value'.
    """
    import os
    import pandas as pd
    from datetime import datetime

    values = []

    for date in dates_to_process:
        date_str = date.strftime('%Y%m%d')
        # Use your existing function to load the data
        data = load_deterministic_objective_values(date_str, period, input_path)
        if not data.empty:
            if 'ObjectiveValue' in data.columns:
                objective_value = data['ObjectiveValue'].iloc[0]
                values.append({
                    'Date': date.strftime('%Y-%m-%d'),
                    'Objective Value': objective_value
                })
            else:
                print(f"Die Spalte 'ObjectiveValue' wurde in der Datei {filename} nicht gefunden.")
        else:
            print(f"Datei {filename} existiert nicht im Pfad {input_path}.")
            
            
           
    # Create a DataFrame from the results
    values_df = pd.DataFrame(values)
    # Sort by date
    values_df = values_df.sort_values('Date').reset_index(drop=True)
    return values_df

In [27]:
input_path = INPUT_PATH_D_OBJ  # Ersetzen Sie dies durch den tatsächlichen Pfad

# Aufrufen der Funktion
objective_values_df = collect_objective_values(dates_to_process, period, input_path)

# Anzeigen der Ergebnisse
print(objective_values_df)

# Optionally, write the DataFrame to a CSV file
filename = "deterministic_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
objective_values_df.to_csv(output_filepath, index=False)
print(f"\nObjective values have been written to {output_filepath}")

Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230316_to_20230316_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230328_to_20230328_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230403_to_20230403_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230409_to_20230409_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230410_to_20230410_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230501_to_20230501_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230515_to_20230515_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230619_to_20230619_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230622_to_20230622_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230626_to_20230626_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230709_to_20230709_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230710_to_20230710_day_obj.csv
          Date  Objective Value
0   2023-03-16      -329.306237
1   2023-03-28      -344.329441
2   2023-04-03      -351.203800
3   2023-04-09      -368.695160
4   2023-04-10      -354.234231
5   2023-05-01      -302.867703
6   2023-05-15      -209.333701
7   2023-06-19      -159.791448
8   2023-06-22      -149.004337
9   2023-06-26      -155.336986
10  2023-07-09      -163.506346
11  2023-07-10      -146.806823

Objective values have been written to ../data/postprocessing/deterministic_objective_values.csv

In [28]:
# Merge the first two DataFrames on 'Date'
merged_df = pd.merge(objective_values_df, results_df_rp, on='Date', how='outer')
# Merge the result with the third DataFrame
merged_df = pd.merge(merged_df, actual_values_df, on='Date', how='outer')

# Rename columns
merged_df.rename(columns={
    'Objective Value': 'DM Objective Value',
    'Weighted Stochastic Objective Value': 'SM Objective Value',
    'Actual Value': 'Actual Objective Value'
}, inplace=True)

merged_df = merged_df.round(2)

# Display the merged DataFrame
print("Merged DataFrame:")
print(merged_df)

# Optionally, write the DataFrame to a CSV file
filename = "all_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
merged_df.to_csv(output_filepath, index=False)
print(f"\nObjective values have been written to {output_filepath}")

Merged DataFrame:
          Date  DM Objective Value  SM Objective Value  Actual Objective Value
0   2023-03-16             -329.31             -326.89                 -352.78
1   2023-03-28             -344.33             -339.94                 -374.78
2   2023-04-03             -351.20             -346.04                 -364.11
3   2023-04-09             -368.70             -364.38                 -322.58
4   2023-04-10             -354.23             -342.53                 -280.50
5   2023-05-01             -302.87             -298.84                 -279.60
6   2023-05-15             -209.33             -195.91                 -199.72
7   2023-06-19             -159.79             -150.38                 -137.97
8   2023-06-22             -149.00             -153.94                 -127.86
9   2023-06-26             -155.34             -145.42                 -130.94
10  2023-07-09             -163.51             -152.25                 -141.53
11  2023-07-10             -146.81             -151.31                 -123.35

Objective values have been written to ../data/postprocessing/all_objective_values.csv