In [1]:
import os
import json
import pandas as pd
from datetime import datetime
from typing import List, Dict, Tuple

In [ ]:
# Load configuration from config.json
with open('../models/config.json', 'r') as f:
    config = json.load(f)

postprocess = config['postprocessing']

# Output and input paths from configuration
OUTPUT_PATH = postprocess['output_path']
INPUT_PATH_S = postprocess['input_path_s']
INPUT_PATH_D = postprocess['input_path_d']

# New Input paths
INPUT_PATH_WS = postprocess['input_path_ws']
INPUT_PATH_HD = postprocess['input_path_hd']
INPUT_PATH_D_OBJ = postprocess['input_path_d_obj']
INPUT_PATH_S_OBJ = postprocess['input_path_s_obj']
INPUT_PATH_D_OBJ_ACT = postprocess['input_path_d_obj_act']


# Display the loaded paths
print("Loaded paths:")
print(f"OUTPUT_PATH: {OUTPUT_PATH}")
print(f"INPUT_PATH_S: {INPUT_PATH_S}")
print(f"INPUT_PATH_D: {INPUT_PATH_D}")
print(f"INPUT_PATH_WS: {INPUT_PATH_WS}")
print(f"INPUT_PATH_HD: {INPUT_PATH_HD}")

special_case = 'USE_EXT_COST_10'

Loaded paths:
OUTPUT_PATH: ../data/postprocessing/
INPUT_PATH_S: ../data/output/stochastic/timeseries/
INPUT_PATH_D: ../data/output/deterministic/timeseries/
INPUT_PATH_WS: ../data/output/deterministic/cases/scenarios/
INPUT_PATH_HD: ../data/input/demands/

## Filename Generations Functions

In [3]:
def get_ws_solution_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the Wait and See solution objective values CSV file.
    """
    filename = f"d_scenarios_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_probabilities_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the probabilities JSON file.
    """
    filename = f"reduced_heat_demand_scenarios_{start_date}_to_{end_date}_{period}.json"
    return filename

def get_weighted_deterministic_ts_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted time series CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_ts.csv"
    return filename


def get_stochastic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the stochastic objective values CSV file.
    """
    filename = f"s_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_stochastic_objective_values_special_filename(start_date: str, end_date: str, period: str, special_case: str) -> str:
    """
    Generate the filename for the stochastic objective values CSV file.
    """
    filename = f"s_{start_date}_to_{end_date}_{period}_{special_case}_obj.csv"
    return filename

def get_actual_deterministic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the actual deterministic objective values CSV file.
    """
    filename = f"d_actual_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def get_deterministic_objective_values_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the actual deterministic objective values CSV file.
    """
    filename = f"d_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

## Data Loading Functions

In [4]:
def load_ws_solution_data(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the Wait and See solution objective values for a specific date.
    """
    filename = get_ws_solution_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded Wait and See solution data from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_probabilities(date_str: str, period: str, input_path: str) -> Dict[str, float]:
    """
    Load probabilities from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: Probability}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded probabilities from {filepath}")
        # Extract probabilities
        probabilities = {}
        for scenario_name, scenario_data in data.items():
            probabilities[scenario_name] = scenario_data.get('Probability', 0)
        return probabilities
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    
def load_weighted_deterministic_ts(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted time series data for a specific date.
    """
    filename = get_weighted_deterministic_ts_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic weighted time series data from {filepath}")
        # Display the first few rows
        display(data.head())
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_scenario_heat_demands(date_str: str, period: str, input_path: str) -> Dict[str, pd.Series]:
    """
    Load scenario heat demands from the JSON file for a specific date and period.
    Returns a dictionary {ScenarioName: pd.Series of heat demands}
    """
    filename = get_probabilities_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        print(f"Loaded scenario heat demands from {filepath}")
        # For each scenario, create a pandas Series with time steps and heat demands
        scenario_heat_demands = {}
        for scenario_name, scenario_data in data.items():
            # Remove 'Probability' key and adjust time steps to zero-based indexing
            heat_demand_data = {int(k) - 1: v for k, v in scenario_data.items() if k != 'Probability'}
            # Convert to Series and sort by time step
            heat_demand_series = pd.Series(heat_demand_data).sort_index()
            scenario_heat_demands[scenario_name] = heat_demand_series
        return scenario_heat_demands
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return {}
    

def get_weighted_deterministic_objective_value_filename(start_date: str, end_date: str, period: str) -> str:
    """
    Generate the filename for the deterministic weighted objective value CSV file.
    """
    filename = f"d_weighted_{start_date}_to_{end_date}_{period}_obj.csv"
    return filename

def load_weighted_deterministic_objective_value(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the deterministic weighted objective value for a specific date.
    """
    filename = get_weighted_deterministic_objective_value_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded deterministic objective value from {filepath}")
        # Display the data
        display(data)
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return None
    
def load_stochastic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the stochastic objective values for a specific date.
    """
    filename = get_stochastic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded stochastic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()
    
def load_stochastic_objective_special_values(date_str: str, period: str, input_path: str, special_case: str) -> pd.DataFrame:
    """
    Load the stochastic objective values for a specific date.
    """
    filename = get_stochastic_objective_values_special_filename(date_str, date_str, period, special_case)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded stochastic objective special case values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

def load_actual_deterministic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the actual deterministic objective values for a specific date.
    """
    filename = get_actual_deterministic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded actual deterministic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()
    
def load_deterministic_objective_values(date_str: str, period: str, input_path: str) -> pd.DataFrame:
    """
    Load the actual deterministic objective values for a specific date.
    """
    filename = get_deterministic_objective_values_filename(date_str, date_str, period)
    filepath = os.path.join(input_path, filename)
    try:
        data = pd.read_csv(filepath)
        print(f"Loaded actual deterministic objective values from {filepath}")
        return data
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

# Calculations

In [5]:
# List of dates to process
dates_to_process = [
    datetime(2023, 3, 16),
    datetime(2023, 3, 28),
    datetime(2023, 4, 3),
    datetime(2023, 4, 9),
    datetime(2023, 4, 10),
    datetime(2023, 5, 1),
    datetime(2023, 5, 15),
    datetime(2023, 6, 19),
    datetime(2023, 6, 22),
    datetime(2023, 6, 26),
    datetime(2023, 7, 9),
    datetime(2023, 7, 10),
    # Add mo
]

# Period for the analysis
period = 'day'

## Compute weighted Wait-and-See Solution

In [6]:
# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")
    
    # Load Wait and See solution data
    ws_data = load_ws_solution_data(date_str, period, INPUT_PATH_WS)
    if ws_data.empty:
        print(f"No Wait and See solution data available for date {date_str}.")
        continue
    
    # Display the loaded Wait and See solution data
    print("Wait and See Objective Values:")
    display(ws_data)
    
    # Load probabilities
    probabilities = load_probabilities(date_str, period, INPUT_PATH_HD)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        continue
    
    # Display the probabilities
    print("Probabilities:")
    probabilities_df = pd.DataFrame.from_dict(probabilities, orient='index', columns=['Probability'])
    display(probabilities_df)
    
    # Merge ws_data with probabilities
    ws_data['Probability'] = ws_data['Scenario'].map(probabilities)
    
    # Check for missing probabilities
    if ws_data['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(ws_data[ws_data['Probability'].isnull()])
        continue
    
    # Compute weighted objective value
    ws_data['WeightedObjective'] = ws_data['ObjectiveValue'] * ws_data['Probability']
    
    # Print intermediate calculations
    print("Intermediate Calculations:")
    display(ws_data)
    
    # Sum the weighted objectives
    weighted_objective_value = ws_data['WeightedObjective'].sum()
    
    # Store the result
    results.append({
        'Date': date.strftime('%Y-%m-%d'),
        'Weighted Objective Value': weighted_objective_value
    })

Processing date: 20230316
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230316_to_20230316_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -345.092638
1   Scenario2     -340.315156
2   Scenario3     -339.452650
3   Scenario4     -337.705625
4   Scenario5     -339.418949
5   Scenario6     -339.215562
6   Scenario7     -339.293524
7   Scenario8     -339.744750
8   Scenario9     -347.346345
9  Scenario10     -335.743155

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Probabilities:

            Probability
Scenario1      0.093211
Scenario2      0.041917
Scenario3      0.073168
Scenario4      0.164225
Scenario5      0.096919
Scenario6      0.165247
Scenario7      0.048252
Scenario8      0.114138
Scenario9      0.088206
Scenario10     0.114716

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -345.092638     0.093211         -32.166266
1   Scenario2     -340.315156     0.041917         -14.264863
2   Scenario3     -339.452650     0.073168         -24.836930
3   Scenario4     -337.705625     0.164225         -55.459803
4   Scenario5     -339.418949     0.096919         -32.896220
5   Scenario6     -339.215562     0.165247         -56.054521
6   Scenario7     -339.293524     0.048252         -16.371734
7   Scenario8     -339.744750     0.114138         -38.777874
8   Scenario9     -347.346345     0.088206         -30.638109
9  Scenario10     -335.743155     0.114716         -38.515233

Processing date: 20230328
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230328_to_20230328_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -348.217208
1   Scenario2     -339.763952
2   Scenario3     -344.931428
3   Scenario4     -348.728609
4   Scenario5     -353.666847
5   Scenario6     -352.016270
6   Scenario7     -353.112826
7   Scenario8     -342.557379
8   Scenario9     -346.298394
9  Scenario10     -350.895200

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Probabilities:

            Probability
Scenario1      0.057758
Scenario2      0.126084
Scenario3      0.074060
Scenario4      0.137439
Scenario5      0.181896
Scenario6      0.073522
Scenario7      0.100274
Scenario8      0.057625
Scenario9      0.107217
Scenario10     0.084127

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -348.217208     0.057758         -20.112481
1   Scenario2     -339.763952     0.126084         -42.838756
2   Scenario3     -344.931428     0.074060         -25.545453
3   Scenario4     -348.728609     0.137439         -47.928745
4   Scenario5     -353.666847     0.181896         -64.330435
5   Scenario6     -352.016270     0.073522         -25.880929
6   Scenario7     -353.112826     0.100274         -35.408012
7   Scenario8     -342.557379     0.057625         -19.739821
8   Scenario9     -346.298394     0.107217         -37.128965
9  Scenario10     -350.895200     0.084127         -29.519631

Processing date: 20230403
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230403_to_20230403_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -360.625862
1   Scenario2     -355.682640
2   Scenario3     -363.042545
3   Scenario4     -355.281784
4   Scenario5     -364.471240
5   Scenario6     -355.440566
6   Scenario7     -365.019201
7   Scenario8     -358.707594
8   Scenario9     -360.403287
9  Scenario10     -358.790317

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Probabilities:

            Probability
Scenario1      0.050894
Scenario2      0.110215
Scenario3      0.121587
Scenario4      0.057770
Scenario5      0.067584
Scenario6      0.134609
Scenario7      0.114209
Scenario8      0.059725
Scenario9      0.223599
Scenario10     0.059808

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -360.625862     0.050894         -18.353516
1   Scenario2     -355.682640     0.110215         -39.201481
2   Scenario3     -363.042545     0.121587         -44.141199
3   Scenario4     -355.281784     0.057770         -20.524746
4   Scenario5     -364.471240     0.067584         -24.632306
5   Scenario6     -355.440566     0.134609         -47.845671
6   Scenario7     -365.019201     0.114209         -41.688632
7   Scenario8     -358.707594     0.059725         -21.423707
8   Scenario9     -360.403287     0.223599         -80.585791
9  Scenario10     -358.790317     0.059808         -21.458643

Processing date: 20230409
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230409_to_20230409_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -371.043886
1   Scenario2     -374.363244
2   Scenario3     -378.465572
3   Scenario4     -379.656366
4   Scenario5     -375.797862
5   Scenario6     -372.755610
6   Scenario7     -377.024852
7   Scenario8     -374.426683
8   Scenario9     -375.066565
9  Scenario10     -374.428382

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Probabilities:

            Probability
Scenario1      0.064652
Scenario2      0.190680
Scenario3      0.129189
Scenario4      0.109657
Scenario5      0.067537
Scenario6      0.095297
Scenario7      0.078145
Scenario8      0.084789
Scenario9      0.097324
Scenario10     0.082731

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -371.043886     0.064652         -23.988582
1   Scenario2     -374.363244     0.190680         -71.383434
2   Scenario3     -378.465572     0.129189         -48.893636
3   Scenario4     -379.656366     0.109657         -41.632088
4   Scenario5     -375.797862     0.067537         -25.380371
5   Scenario6     -372.755610     0.095297         -35.522351
6   Scenario7     -377.024852     0.078145         -29.462596
7   Scenario8     -374.426683     0.084789         -31.747134
8   Scenario9     -375.066565     0.097324         -36.502918
9  Scenario10     -374.428382     0.082731         -30.976834

Processing date: 20230410
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230410_to_20230410_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -317.760989
1   Scenario2     -298.556718
2   Scenario3     -324.581503
3   Scenario4     -331.446847
4   Scenario5     -322.806147
5   Scenario6     -316.759589
6   Scenario7     -331.067566
7   Scenario8     -334.874476
8   Scenario9     -319.157866
9  Scenario10     -323.907412

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Probabilities:

            Probability
Scenario1      0.070209
Scenario2      0.207275
Scenario3      0.083898
Scenario4      0.204527
Scenario5      0.071263
Scenario6      0.059850
Scenario7      0.105758
Scenario8      0.054947
Scenario9      0.053011
Scenario10     0.089262

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -317.760989     0.070209         -22.309805
1   Scenario2     -298.556718     0.207275         -61.883266
2   Scenario3     -324.581503     0.083898         -27.231589
3   Scenario4     -331.446847     0.204527         -67.789932
4   Scenario5     -322.806147     0.071263         -23.004016
5   Scenario6     -316.759589     0.059850         -18.958160
6   Scenario7     -331.067566     0.105758         -35.013094
7   Scenario8     -334.874476     0.054947         -18.400291
8   Scenario9     -319.157866     0.053011         -16.918794
9  Scenario10     -323.907412     0.089262         -28.912740

Processing date: 20230501
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230501_to_20230501_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -299.743267
1   Scenario2     -261.593318
2   Scenario3     -290.400806
3   Scenario4     -300.210464
4   Scenario5     -275.117894
5   Scenario6     -306.360970
6   Scenario7     -282.985616
7   Scenario8     -278.776152
8   Scenario9     -283.984663
9  Scenario10     -287.281060

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Probabilities:

            Probability
Scenario1      0.190239
Scenario2      0.057934
Scenario3      0.048213
Scenario4      0.078855
Scenario5      0.121309
Scenario6      0.054560
Scenario7      0.134399
Scenario8      0.057428
Scenario9      0.079893
Scenario10     0.177170

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -299.743267     0.190239         -57.022817
1   Scenario2     -261.593318     0.057934         -15.155149
2   Scenario3     -290.400806     0.048213         -14.001145
3   Scenario4     -300.210464     0.078855         -23.673167
4   Scenario5     -275.117894     0.121309         -33.374148
5   Scenario6     -306.360970     0.054560         -16.715084
6   Scenario7     -282.985616     0.134399         -38.032908
7   Scenario8     -278.776152     0.057428         -16.009566
8   Scenario9     -283.984663     0.079893         -22.688371
9  Scenario10     -287.281060     0.177170         -50.897696

Processing date: 20230515
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230515_to_20230515_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -180.606301
1   Scenario2     -180.897978
2   Scenario3     -170.991294
3   Scenario4     -179.313985
4   Scenario5     -184.356487
5   Scenario6     -168.564552
6   Scenario7     -186.360723
7   Scenario8     -179.266618
8   Scenario9     -187.706726
9  Scenario10     -165.576341

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Probabilities:

            Probability
Scenario1      0.066917
Scenario2      0.093079
Scenario3      0.119735
Scenario4      0.156098
Scenario5      0.060302
Scenario6      0.214441
Scenario7      0.097663
Scenario8      0.087456
Scenario9      0.047847
Scenario10     0.056461

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -180.606301     0.066917         -12.085626
1   Scenario2     -180.897978     0.093079         -16.837821
2   Scenario3     -170.991294     0.119735         -20.473617
3   Scenario4     -179.313985     0.156098         -27.990629
4   Scenario5     -184.356487     0.060302         -11.117104
5   Scenario6     -168.564552     0.214441         -36.147230
6   Scenario7     -186.360723     0.097663         -18.200590
7   Scenario8     -179.266618     0.087456         -15.677939
8   Scenario9     -187.706726     0.047847          -8.981231
9  Scenario10     -165.576341     0.056461          -9.348545

Processing date: 20230619
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230619_to_20230619_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -115.369656
1   Scenario2     -133.863229
2   Scenario3     -126.681170
3   Scenario4     -123.322952
4   Scenario5     -108.504484
5   Scenario6     -142.127827
6   Scenario7     -121.472670
7   Scenario8     -131.539814
8   Scenario9     -138.063460
9  Scenario10     -139.949756

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Probabilities:

            Probability
Scenario1      0.147722
Scenario2      0.149388
Scenario3      0.070626
Scenario4      0.051094
Scenario5      0.105200
Scenario6      0.035835
Scenario7      0.099024
Scenario8      0.080709
Scenario9      0.094985
Scenario10     0.165417

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -115.369656     0.147722         -17.042615
1   Scenario2     -133.863229     0.149388         -19.997604
2   Scenario3     -126.681170     0.070626          -8.946978
3   Scenario4     -123.322952     0.051094          -6.301060
4   Scenario5     -108.504484     0.105200         -11.414676
5   Scenario6     -142.127827     0.035835          -5.093111
6   Scenario7     -121.472670     0.099024         -12.028663
7   Scenario8     -131.539814     0.080709         -10.616512
8   Scenario9     -138.063460     0.094985         -13.113946
9  Scenario10     -139.949756     0.165417         -23.150090

Processing date: 20230622
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230622_to_20230622_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -119.796406
1   Scenario2     -114.035678
2   Scenario3     -115.581016
3   Scenario4     -139.125770
4   Scenario5     -120.081186
5   Scenario6     -122.377904
6   Scenario7     -129.539280
7   Scenario8     -117.677932
8   Scenario9     -141.506905
9  Scenario10     -135.171819

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Probabilities:

            Probability
Scenario1      0.135874
Scenario2      0.082486
Scenario3      0.127544
Scenario4      0.194525
Scenario5      0.081249
Scenario6      0.108861
Scenario7      0.059450
Scenario8      0.066503
Scenario9      0.081728
Scenario10     0.061779

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -119.796406     0.135874         -16.277208
1   Scenario2     -114.035678     0.082486          -9.406331
2   Scenario3     -115.581016     0.127544         -14.741664
3   Scenario4     -139.125770     0.194525         -27.063482
4   Scenario5     -120.081186     0.081249          -9.756532
5   Scenario6     -122.377904     0.108861         -13.322196
6   Scenario7     -129.539280     0.059450          -7.701163
7   Scenario8     -117.677932     0.066503          -7.825917
8   Scenario9     -141.506905     0.081728         -11.565026
9  Scenario10     -135.171819     0.061779          -8.350840

Processing date: 20230626
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230626_to_20230626_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1      -76.948964
1   Scenario2     -108.812935
2   Scenario3     -162.160731
3   Scenario4     -158.234862
4   Scenario5     -141.015046
5   Scenario6     -112.258415
6   Scenario7     -132.190307
7   Scenario8     -124.485728
8   Scenario9     -137.967120
9  Scenario10     -119.016164

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Probabilities:

            Probability
Scenario1      0.008036
Scenario2      0.001415
Scenario3      0.000252
Scenario4      0.031910
Scenario5      0.359087
Scenario6      0.507279
Scenario7      0.001421
Scenario8      0.000250
Scenario9      0.000016
Scenario10     0.090334

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1      -76.948964     0.008036          -0.618376
1   Scenario2     -108.812935     0.001415          -0.153979
2   Scenario3     -162.160731     0.000252          -0.040863
3   Scenario4     -158.234862     0.031910          -5.049286
4   Scenario5     -141.015046     0.359087         -50.636699
5   Scenario6     -112.258415     0.507279         -56.946328
6   Scenario7     -132.190307     0.001421          -0.187829
7   Scenario8     -124.485728     0.000250          -0.031147
8   Scenario9     -137.967120     0.000016          -0.002171
9  Scenario10     -119.016164     0.090334         -10.751171

Processing date: 20230709
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230709_to_20230709_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -130.005096
1   Scenario2     -151.590908
2   Scenario3     -139.661680
3   Scenario4     -149.238079
4   Scenario5     -142.588191
5   Scenario6     -132.300855
6   Scenario7     -116.471928
7   Scenario8     -134.607663
8   Scenario9     -131.305841
9  Scenario10     -140.293120

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Probabilities:

            Probability
Scenario1      0.063022
Scenario2      0.083171
Scenario3      0.133864
Scenario4      0.077075
Scenario5      0.077908
Scenario6      0.121064
Scenario7      0.078744
Scenario8      0.165071
Scenario9      0.145044
Scenario10     0.055037

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -130.005096     0.063022          -8.193204
1   Scenario2     -151.590908     0.083171         -12.607984
2   Scenario3     -139.661680     0.133864         -18.695621
3   Scenario4     -149.238079     0.077075         -11.502537
4   Scenario5     -142.588191     0.077908         -11.108742
5   Scenario6     -132.300855     0.121064         -16.016885
6   Scenario7     -116.471928     0.078744          -9.171504
7   Scenario8     -134.607663     0.165071         -22.219809
8   Scenario9     -131.305841     0.145044         -19.045145
9  Scenario10     -140.293120     0.055037          -7.721259

Processing date: 20230710
Loaded Wait and See solution data from ../data/output/deterministic/cases/scenarios/d_scenarios_20230710_to_20230710_day_obj.csv
Wait and See Objective Values:

     Scenario  ObjectiveValue
0   Scenario1     -124.799953
1   Scenario2      -99.909010
2   Scenario3     -156.889541
3   Scenario4     -125.736980
4   Scenario5     -135.947097
5   Scenario6     -141.546969
6   Scenario7     -141.796380
7   Scenario8     -155.875290
8   Scenario9     -125.029847
9  Scenario10     -132.774851

Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Probabilities:

            Probability
Scenario1      0.157475
Scenario2      0.055415
Scenario3      0.134182
Scenario4      0.115740
Scenario5      0.069091
Scenario6      0.091832
Scenario7      0.110580
Scenario8      0.066341
Scenario9      0.130086
Scenario10     0.069256

Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -124.799953     0.157475         -19.652920
1   Scenario2      -99.909010     0.055415          -5.536489
2   Scenario3     -156.889541     0.134182         -21.051782
3   Scenario4     -125.736980     0.115740         -14.552808
4   Scenario5     -135.947097     0.069091          -9.392754
5   Scenario6     -141.546969     0.091832         -12.998544
6   Scenario7     -141.796380     0.110580         -15.679852
7   Scenario8     -155.875290     0.066341         -10.340972
8   Scenario9     -125.029847     0.130086         -16.264626
9  Scenario10     -132.774851     0.069256          -9.195517

#### Final Results Wait-and-See Solution

In [7]:
# Create a DataFrame of results
results_df = pd.DataFrame(results)
results_df['Weighted Objective Value'] = results_df['Weighted Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df)

Final Results:

          Date  Weighted Objective Value
0   2023-03-16               -339.981554
1   2023-03-28               -348.433229
2   2023-04-03               -359.855693
3   2023-04-09               -375.489945
4   2023-04-10               -320.421686
5   2023-05-01               -287.570051
6   2023-05-15               -176.860330
7   2023-06-19               -127.705254
8   2023-06-22               -126.010359
9   2023-06-26               -124.417849
10  2023-07-09               -136.282690
11  2023-07-10               -134.666263

## Compute Heat Demand Difference for the calculation of EEV

In [8]:
def compute_costs_from_differences(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
    """
    Compute the differences and costs between deterministic and scenario heat demands for a specific date.
    Returns:
        - total_costs_df: DataFrame containing total costs per scenario.
        - weighted_total_cost: The total weighted cost for the date.
    """
    # Load deterministic weighted time series data
    det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
    if det_ts_data.empty:
        print(f"No deterministic weighted time series data available for date {date_str}.")
        return None, None

    # Extract the deterministic heat demand
    det_heat_demand = det_ts_data['heat_demand']
    det_heat_demand.name = 'deterministic_heat_demand'

    # Load scenario heat demands
    scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
    if not scenario_heat_demands:
        print(f"No scenario heat demands available for date {date_str}.")
        return None, None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None, None

    # Create a DataFrame to store costs
    costs_df = pd.DataFrame({
        't': det_ts_data['t'],
        'deterministic_heat_demand': det_heat_demand
    })

    total_costs = {}
    weighted_total_cost = 0.0

    # For each scenario, compute differences, costs, and total costs
    for scenario_name, scenario_hd_series in scenario_heat_demands.items():
        # Align scenario_hd_series with det_heat_demand
        scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
        scenario_hd_series.name = f"{scenario_name}_heat_demand"

        # Compute difference
        difference = det_heat_demand - scenario_hd_series
        difference.name = f"{scenario_name}_difference"

        # Compute cost per time step
        cost = difference.abs() * 0.01
        cost.name = f"{scenario_name}_cost"

        # Sum costs over time steps
        total_cost = cost.sum()

        # Get probability for the scenario
        probability = probabilities.get(scenario_name, 0)

        # Compute weighted cost
        weighted_cost = total_cost * probability

        # Add to total weighted cost
        weighted_total_cost += weighted_cost

        # Store total cost per scenario
        total_costs[scenario_name] = total_cost

        # Optionally, add to costs_df for detailed output
        costs_df[f"{scenario_name}_cost"] = cost.values

    # Create DataFrame for total costs per scenario
    total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])

    # Display total costs per scenario
    print(f"Total Costs for date {date_str}:")
    display(total_costs_df)

    print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

    return total_costs_df, weighted_total_cost

In [9]:
def compute_costs_from_differences_special_case(date_str: str, period: str, input_path_det_ts: str, input_path_hd: str):
    """
    Compute the differences and costs between deterministic and scenario heat demands for a specific date,
    including additional costs when heat storage content exceeds a threshold.
    Returns:
        - total_costs_df: DataFrame containing total costs per scenario.
        - weighted_total_cost: The total weighted cost for the date.
    """
    # Load deterministic weighted time series data
    det_ts_data = load_weighted_deterministic_ts(date_str, period, input_path_det_ts)
    if det_ts_data.empty:
        print(f"No deterministic weighted time series data available for date {date_str}.")
        return None, None

    # Extract the deterministic heat demand
    det_heat_demand = det_ts_data['heat_demand']
    det_heat_demand.name = 'deterministic_heat_demand'

    # Extract the deterministic heat storage content
    if 'heat_storage1.heat_capacity' in det_ts_data.columns:
        det_heat_storage_content = det_ts_data['heat_storage1.heat_capacity']
    else:
        print(f"Heat storage content data not available in deterministic time series data for date {date_str}.")
        return None, None
    det_heat_storage_content.name = 'heat_storage1.heat_capacity'

    # Load scenario heat demands
    scenario_heat_demands = load_scenario_heat_demands(date_str, period, input_path_hd)
    if not scenario_heat_demands:
        print(f"No scenario heat demands available for date {date_str}.")
        return None, None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None, None

    # Create a DataFrame to store costs
    costs_df = pd.DataFrame({
        't': det_ts_data['t'],
        'deterministic_heat_demand': det_heat_demand,
        'deterministic_heat_storage_content': det_heat_storage_content,
    })

    total_costs = {}
    weighted_total_cost = 0.0

    # For each scenario, compute differences, costs, and total costs
    for scenario_name, scenario_hd_series in scenario_heat_demands.items():
        # Align scenario_hd_series with det_heat_demand
        scenario_hd_series = scenario_hd_series.reindex(det_heat_demand.index)
        scenario_hd_series.name = f"{scenario_name}_heat_demand"

        # Compute difference
        difference = det_heat_demand - scenario_hd_series
        difference.name = f"{scenario_name}_difference"

        # Compute adjusted storage content
        adjusted_storage_content = det_heat_storage_content + difference
        adjusted_storage_content.name = f"{scenario_name}_adjusted_storage_content"

        # Check if adjusted storage content exceeds 400
        exceeds_capacity = adjusted_storage_content > 400
        additional_cost = exceeds_capacity.astype(float) * 10  # 10 if exceeds, 0 otherwise

        # Compute cost per time step
        cost = difference.abs() * 0.01 + additional_cost
        cost.name = f"{scenario_name}_cost"

        # Sum costs over time steps
        total_cost = cost.sum()

        # Get probability for the scenario
        probability = probabilities.get(scenario_name, 0)

        # Compute weighted cost
        weighted_cost = total_cost * probability

        # Add to total weighted cost
        weighted_total_cost += weighted_cost

        # Store total cost per scenario
        total_costs[scenario_name] = total_cost

        # Optionally, add to costs_df for detailed output
        # costs_df[f"{scenario_name}_cost"] = cost.values

    # Create DataFrame for total costs per scenario
    total_costs_df = pd.DataFrame(list(total_costs.items()), columns=['Scenario', 'Total Cost'])

    # Display total costs per scenario
    print(f"Total Costs for date {date_str}:")
    display(total_costs_df)

    print(f"Weighted Total Cost for date {date_str}: {weighted_total_cost:.6f}")

    return total_costs_df, weighted_total_cost

In [10]:
# Input paths
input_path_det_ts = INPUT_PATH_D  # Path to deterministic weighted time series
input_path_hd = INPUT_PATH_HD     # Path to heat demand scenarios

# Dictionary to store total costs for each date
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute costs and weighted total cost
    total_costs_df, weighted_total_cost = compute_costs_from_differences_special_case(
        date_str=date_str,
        period=period,
        input_path_det_ts=input_path_det_ts,
        input_path_hd=input_path_hd
    )

    if weighted_total_cost is not None:
        # Load deterministic objective value
        det_obj_value = load_weighted_deterministic_objective_value(date_str, period, INPUT_PATH_D_OBJ)
        if det_obj_value is not None:
            # det_obj_value is a DataFrame with one value
            det_obj_value = det_obj_value['ObjectiveValue'].iloc[0]
            print(f"Deterministic Objective Value for date {date_str}: {det_obj_value}")

            # Compute total cost
            total_cost = det_obj_value + weighted_total_cost

            # Store the result
            results.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Total Cost': total_cost
            })

            print(f"Total Cost for date {date_str}: {total_cost:.6f}")
        else:
            print(f"Could not load deterministic objective value for date {date_str}.")
    else:
        print(f"Could not compute weighted total cost for date {date_str}.")

Processing date: 20230316
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230316_to_20230316_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.338281,320.0,1.0,37.218589,117.039587,68.0,...,13.661719,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,134.504272,320.0,1.0,37.218589,117.039587,68.0,...,1.495728,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,197.239009,320.0,1.0,37.218589,117.039587,68.0,...,61.182393,258.421402,37.218589,38.890017,68.0,68.0,122.421402,113.583715,117.039587,0.000000
3,4,0.1543,0.251,0.105,331.596286,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,331.596286,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,21.596286
4,5,0.1543,0.251,0.105,231.966560,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,231.966560,37.218589,38.890017,68.0,68.0,95.966560,88.512341,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Total Costs for date 20230316:

     Scenario  Total Cost
0   Scenario1   13.220186
1   Scenario2   23.225086
2   Scenario3   14.317285
3   Scenario4    2.564928
4   Scenario5   23.652522
5   Scenario6   13.123079
6   Scenario7   33.916078
7   Scenario8   23.328031
8   Scenario9   43.130369
9  Scenario10   13.441913

Weighted Total Cost for date 20230316: 17.781033
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230316_to_20230316_day_obj.csv

   ObjectiveValue
0     -339.783605

Deterministic Objective Value for date 20230316: -339.7836046033506
Total Cost for date 20230316: -322.002572

Processing date: 20230328
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230328_to_20230328_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.480784,320.0,1.0,37.218589,117.039587,68.0,...,13.519216,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,155.139147,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,155.139147,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,19.139147
2,3,0.1543,0.251,0.105,342.366250,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,342.366250,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,32.366250
3,4,0.1543,0.251,0.105,209.640859,320.0,1.0,37.218589,117.039587,68.0,...,11.559141,221.200000,37.218589,38.890017,68.0,68.0,85.200000,78.308824,117.039587,0.000000
4,5,0.1543,0.251,0.105,250.364746,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,250.364746,37.218589,38.890017,68.0,68.0,114.364746,105.948385,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Total Costs for date 20230328:

     Scenario  Total Cost
0   Scenario1    4.223864
1   Scenario2    3.563382
2   Scenario3    3.294136
3   Scenario4    3.687437
4   Scenario5    3.141531
5   Scenario6    3.460423
6   Scenario7    2.543064
7   Scenario8    3.480057
8   Scenario9    3.415828
9  Scenario10    2.533174

Weighted Total Cost for date 20230328: 3.304737
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230328_to_20230328_day_obj.csv

   ObjectiveValue
0     -349.266626

Deterministic Objective Value for date 20230328: -349.26662556174364
Total Cost for date 20230328: -345.961889

Processing date: 20230403
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230403_to_20230403_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,109.681178,320.0,1.0,37.218589,117.039587,68.0,...,26.318822,136.000000,37.218589,38.890017,68.0,68.0,0.00000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,129.868257,320.0,1.0,37.218589,117.039587,68.0,...,6.131743,136.000000,37.218589,38.890017,68.0,68.0,0.00000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,318.075668,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,318.075668,37.218589,38.890017,68.0,68.0,135.37339,125.858373,117.039587,46.702278
3,4,0.1543,0.251,0.105,174.754284,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,174.754284,37.218589,38.890017,68.0,68.0,0.00000,0.000000,117.039587,38.754284
4,5,0.1543,0.251,0.105,205.485095,320.0,1.0,37.218589,117.039587,68.0,...,15.714905,221.200000,37.218589,38.890017,68.0,68.0,85.20000,78.308824,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Total Costs for date 20230403:

     Scenario  Total Cost
0   Scenario1    3.420299
1   Scenario2    3.556115
2   Scenario3    3.103604
3   Scenario4    4.376863
4   Scenario5    4.490219
5   Scenario6    3.511845
6   Scenario7    3.788047
7   Scenario8    3.602868
8   Scenario9    2.718333
9  Scenario10    3.491377

Weighted Total Cost for date 20230403: 3.436851
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230403_to_20230403_day_obj.csv

   ObjectiveValue
0       -359.6264

Deterministic Objective Value for date 20230403: -359.6263996398779
Total Cost for date 20230403: -356.189548

Processing date: 20230409
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230409_to_20230409_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,114.125280,320.0,1.0,37.218589,117.039587,68.0,...,21.874720,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,131.676456,320.0,1.0,37.218589,117.039587,68.0,...,4.323544,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,321.959866,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,321.959866,37.218589,38.890017,68.0,68.0,174.0,162.464986,117.039587,11.959866
3,4,0.1543,0.251,0.105,183.594859,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,183.594859,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,47.594859
4,5,0.1543,0.251,0.105,179.251707,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,179.251707,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,43.251707

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Total Costs for date 20230409:

     Scenario  Total Cost
0   Scenario1    4.166008
1   Scenario2    3.425088
2   Scenario3    3.477175
3   Scenario4    3.180209
4   Scenario5    3.616938
5   Scenario6    4.024472
6   Scenario7    3.756576
7   Scenario8    3.289749
8   Scenario9    4.177738
9  Scenario10    3.711194

Weighted Total Cost for date 20230409: 3.634292
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230409_to_20230409_day_obj.csv

   ObjectiveValue
0     -375.877505

Deterministic Objective Value for date 20230409: -375.8775053109762
Total Cost for date 20230409: -372.243213

Processing date: 20230410
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230410_to_20230410_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,81.183802,320.0,1.0,37.218589,117.039587,68.000000,...,54.816198,136.000000,37.218589,38.890017,68.000000,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,108.073174,320.0,1.0,34.243389,110.678936,65.256975,...,25.183802,133.256975,34.243389,38.890017,65.256975,68.0,0.0,0.000000,110.678936,0.000000
2,3,0.1543,0.251,0.105,272.470956,320.0,1.0,37.218589,117.039587,68.000000,...,0.000000,272.470956,37.218589,38.890017,68.000000,68.0,85.2,78.308824,117.039587,51.270956
3,4,0.1543,0.251,0.105,150.267401,320.0,1.0,37.218589,117.039587,68.000000,...,0.000000,150.267401,37.218589,38.890017,68.000000,68.0,0.0,0.000000,117.039587,14.267401
4,5,0.1543,0.251,0.105,172.161546,320.0,1.0,37.218589,117.039587,68.000000,...,0.000000,172.161546,37.218589,38.890017,68.000000,68.0,0.0,0.000000,117.039587,36.161546

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Total Costs for date 20230410:

     Scenario  Total Cost
0   Scenario1   12.888495
1   Scenario2   13.254471
2   Scenario3   13.775163
3   Scenario4    2.895091
4   Scenario5    3.615743
5   Scenario6   13.911344
6   Scenario7    3.326393
7   Scenario8   13.973948
8   Scenario9    4.802631
9  Scenario10    2.881535

Weighted Total Cost for date 20230410: 8.121725
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230410_to_20230410_day_obj.csv

   ObjectiveValue
0      -321.39439

Deterministic Objective Value for date 20230410: -321.3943901148056
Total Cost for date 20230410: -313.272666

Processing date: 20230501
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230501_to_20230501_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,57.794192,320.0,1.0,37.218589,117.039587,68.000000,...,78.205808,136.000000,37.218589,38.890017,68.000000,68.0,0.0,0.0,117.039587,0.000000
1,2,0.1543,0.251,0.105,86.012196,320.0,0.0,0.000000,0.000000,0.000000,...,0.000000,86.012196,0.000000,38.890017,0.000000,68.0,0.0,0.0,0.000000,18.012196
2,3,0.1543,0.251,0.105,236.796742,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,236.796742,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,100.796742
3,4,0.1543,0.251,0.105,125.212512,320.0,1.0,31.443576,104.693245,62.675651,...,5.463139,130.675651,31.443576,38.890017,62.675651,68.0,0.0,0.0,104.693245,0.000000
4,5,0.1543,0.251,0.105,136.139252,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,136.139252,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,0.139252

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Total Costs for date 20230501:

     Scenario  Total Cost
0   Scenario1    3.740017
1   Scenario2   23.757002
2   Scenario3    3.925893
3   Scenario4    4.026071
4   Scenario5   13.149413
5   Scenario6    2.843856
6   Scenario7   13.728211
7   Scenario8   13.972381
8   Scenario9   13.560782
9  Scenario10   33.088058

Weighted Total Cost for date 20230501: 13.937984
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230501_to_20230501_day_obj.csv

   ObjectiveValue
0     -288.520676

Deterministic Objective Value for date 20230501: -288.5206763385128
Total Cost for date 20230501: -274.582693

Processing date: 20230515
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230515_to_20230515_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,28.841828,320.0,0.0,0.0,0.0,0.0,...,39.158172,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,48.280144,320.0,0.0,0.0,0.0,0.0,...,19.719856,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,143.475056,320.0,0.0,0.0,0.0,0.0,...,0.000000,143.475056,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,75.475056
3,4,0.1543,0.251,0.105,60.227853,320.0,0.0,0.0,0.0,0.0,...,7.772147,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,89.954385,320.0,-0.0,0.0,0.0,0.0,...,0.000000,89.954385,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,21.954385

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Total Costs for date 20230515:

     Scenario  Total Cost
0   Scenario1    3.038888
1   Scenario2    3.872958
2   Scenario3    3.226087
3   Scenario4    2.745381
4   Scenario5    2.877674
5   Scenario6    2.519456
6   Scenario7    3.396390
7   Scenario8    4.675732
8   Scenario9    3.938013
9  Scenario10    3.327792

Weighted Total Cost for date 20230515: 3.209410
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230515_to_20230515_day_obj.csv

   ObjectiveValue
0     -172.401567

Deterministic Objective Value for date 20230515: -172.40156724825275
Total Cost for date 20230515: -169.192157

Processing date: 20230619
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230619_to_20230619_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,29.804550,320.0,0.0,0.0,0.0,0.0,...,38.068020,67.872570,0.0,38.748689,0.0,67.872570,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,38.549741,320.0,0.0,0.0,0.0,0.0,...,24.169996,62.719737,0.0,33.033860,0.0,62.719737,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,117.370956,320.0,0.0,0.0,0.0,0.0,...,0.000000,117.370956,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,49.370958
3,4,0.1543,0.251,0.105,43.145885,320.0,0.0,0.0,0.0,0.0,...,20.149139,63.295024,0.0,33.671891,0.0,63.295024,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,74.806673,320.0,0.0,0.0,0.0,0.0,...,0.000000,74.806673,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,6.806674

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Total Costs for date 20230619:

     Scenario  Total Cost
0   Scenario1   13.587282
1   Scenario2    3.089308
2   Scenario3    2.914700
3   Scenario4   13.753167
4   Scenario5   14.207412
5   Scenario6    3.429589
6   Scenario7   13.759954
7   Scenario8   14.127842
8   Scenario9   33.475324
9  Scenario10    2.836354

Weighted Total Cost for date 20230619: 11.146364
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230619_to_20230619_day_obj.csv

   ObjectiveValue
0     -129.668179

Deterministic Objective Value for date 20230619: -129.6681786588939
Total Cost for date 20230619: -118.521814

Processing date: 20230622
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230622_to_20230622_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,24.097578,320.0,0.0,0.0,0.0,0.0,...,43.902422,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,36.011310,320.0,0.0,0.0,0.0,0.0,...,31.988690,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,133.824740,320.0,-0.0,0.0,0.0,0.0,...,0.000000,133.824740,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,65.824740
3,4,0.1543,0.251,0.105,57.532691,320.0,0.0,0.0,0.0,0.0,...,0.467309,58.000000,0.0,27.799363,0.0,58.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,72.660173,320.0,-0.0,0.0,0.0,0.0,...,0.000000,72.660173,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,4.660173

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Total Costs for date 20230622:

     Scenario  Total Cost
0   Scenario1   34.049016
1   Scenario2   13.978707
2   Scenario3   23.781022
3   Scenario4   12.942249
4   Scenario5    4.116247
5   Scenario6    3.676352
6   Scenario7   13.785345
7   Scenario8    3.014552
8   Scenario9    3.967569
9  Scenario10    3.918435

Weighted Total Cost for date 20230622: 13.651155
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230622_to_20230622_day_obj.csv

   ObjectiveValue
0     -119.012785

Deterministic Objective Value for date 20230622: -119.01278485419869
Total Cost for date 20230622: -105.361630

Processing date: 20230626
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230626_to_20230626_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,5.559557,320.0,-0.0,0.0,0.0,0.0,...,62.440443,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,49.347106,320.0,0.0,0.0,0.0,0.0,...,17.559557,66.906664,0.0,37.677435,0.0,66.906664,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,95.483014,320.0,-0.0,0.0,0.0,0.0,...,0.000000,95.483014,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,27.483014
3,4,0.1543,0.251,0.105,56.749592,320.0,0.0,0.0,0.0,0.0,...,11.250408,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,49.503750,320.0,0.0,0.0,0.0,0.0,...,8.496250,58.000000,0.0,27.799363,0.0,58.000000,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Total Costs for date 20230626:

     Scenario  Total Cost
0   Scenario1   96.491448
1   Scenario2   76.373410
2   Scenario3   58.635586
3   Scenario4   45.414318
4   Scenario5   23.314589
5   Scenario6   12.254107
6   Scenario7   46.259954
7   Scenario8   67.313466
8   Scenario9   67.652818
9  Scenario10   56.793851

Weighted Total Cost for date 20230626: 22.149704
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230626_to_20230626_day_obj.csv

   ObjectiveValue
0     -119.838483

Deterministic Objective Value for date 20230626: -119.83848330050344
Total Cost for date 20230626: -97.688779

Processing date: 20230709
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230709_to_20230709_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,30.715569,320.0,0.0,0.0,0.0,0.0,...,37.284430,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,49.297894,320.0,0.0,0.0,0.0,0.0,...,15.331142,64.629036,0.0,35.151397,0.0,64.629036,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,128.796270,320.0,0.0,0.0,0.0,0.0,...,0.000000,128.796270,0.0,38.890015,0.0,67.999999,0.0,0.0,0.0,60.796271
3,4,0.1543,0.251,0.105,53.728503,320.0,0.0,0.0,0.0,0.0,...,11.237261,64.965764,0.0,35.524851,0.0,64.965764,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,65.872722,320.0,0.0,0.0,0.0,0.0,...,1.443554,67.316275,0.0,38.131721,0.0,67.316275,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Total Costs for date 20230709:

     Scenario  Total Cost
0   Scenario1   13.121064
1   Scenario2   23.762912
2   Scenario3   14.513215
3   Scenario4    3.531560
4   Scenario5    3.401179
5   Scenario6   24.633377
6   Scenario7   13.852795
7   Scenario8    3.185627
8   Scenario9   33.034413
9  Scenario10   13.790671

Weighted Total Cost for date 20230709: 15.432613
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230709_to_20230709_day_obj.csv

   ObjectiveValue
0     -137.752149

Deterministic Objective Value for date 20230709: -137.75214852433396
Total Cost for date 20230709: -122.319535

Processing date: 20230710
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230710_to_20230710_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,25.333756,320.0,0.0,0.0,0.0,0.0,...,42.666244,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,33.171919,320.0,0.0,0.0,0.0,0.0,...,0.000000,33.171919,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,33.171919
2,3,0.1543,0.251,0.105,124.981345,320.0,0.0,0.0,0.0,0.0,...,0.000000,124.981345,0.0,38.890015,0.0,67.999999,0.0,0.0,0.0,56.981346
3,4,0.1543,0.251,0.105,46.764980,320.0,0.0,0.0,0.0,0.0,...,18.017075,64.782055,0.0,35.321106,0.0,64.782055,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,61.996696,320.0,0.0,0.0,0.0,0.0,...,3.915168,65.911864,0.0,36.574138,0.0,65.911864,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Total Costs for date 20230710:

     Scenario  Total Cost
0   Scenario1    2.852600
1   Scenario2    3.922728
2   Scenario3    3.420707
3   Scenario4    3.605837
4   Scenario5    3.680253
5   Scenario6    3.037037
6   Scenario7    2.914994
7   Scenario8    2.621812
8   Scenario9   13.167353
9  Scenario10   13.460530

Weighted Total Cost for date 20230710: 5.217493
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230710_to_20230710_day_obj.csv

   ObjectiveValue
0     -134.913504

Deterministic Objective Value for date 20230710: -134.91350375977672
Total Cost for date 20230710: -129.696011

In [11]:

# Create a DataFrame of results
results_df_eev_special = pd.DataFrame(results)
results_df_eev_special['Total Cost'] = results_df_eev_special['Total Cost'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_eev_special)

# Save the EEV results to a CSV file
filename = "eev_special.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_eev_special.to_csv(output_filepath, index=False)

Final Results:

          Date  Total Cost
0   2023-03-16 -322.002572
1   2023-03-28 -345.961889
2   2023-04-03 -356.189548
3   2023-04-09 -372.243213
4   2023-04-10 -313.272666
5   2023-05-01 -274.582693
6   2023-05-15 -169.192157
7   2023-06-19 -118.521814
8   2023-06-22 -105.361630
9   2023-06-26  -97.688779
10  2023-07-09 -122.319535
11  2023-07-10 -129.696011

In [12]:
# Input paths
input_path_det_ts = INPUT_PATH_D  # Path to deterministic weighted time series
input_path_hd = INPUT_PATH_HD     # Path to heat demand scenarios

# Dictionary to store total costs for each date
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute costs and weighted total cost
    total_costs_df, weighted_total_cost = compute_costs_from_differences(
        date_str=date_str,
        period=period,
        input_path_det_ts=input_path_det_ts,
        input_path_hd=input_path_hd
    )

    if weighted_total_cost is not None:
        # Load deterministic objective value
        det_obj_value = load_weighted_deterministic_objective_value(date_str, period, INPUT_PATH_D_OBJ)
        if det_obj_value is not None:
            # det_obj_value is a DataFrame with one value
            det_obj_value = det_obj_value['ObjectiveValue'].iloc[0]
            print(f"Deterministic Objective Value for date {date_str}: {det_obj_value}")

            # Compute total cost
            total_cost = det_obj_value + weighted_total_cost

            # Store the result
            results.append({
                'Date': date.strftime('%Y-%m-%d'),
                'Total Cost': total_cost
            })

            print(f"Total Cost for date {date_str}: {total_cost:.6f}")
        else:
            print(f"Could not load deterministic objective value for date {date_str}.")
    else:
        print(f"Could not compute weighted total cost for date {date_str}.")

Processing date: 20230316
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230316_to_20230316_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.338281,320.0,1.0,37.218589,117.039587,68.0,...,13.661719,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,134.504272,320.0,1.0,37.218589,117.039587,68.0,...,1.495728,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,197.239009,320.0,1.0,37.218589,117.039587,68.0,...,61.182393,258.421402,37.218589,38.890017,68.0,68.0,122.421402,113.583715,117.039587,0.000000
3,4,0.1543,0.251,0.105,331.596286,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,331.596286,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,21.596286
4,5,0.1543,0.251,0.105,231.966560,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,231.966560,37.218589,38.890017,68.0,68.0,95.966560,88.512341,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Total Costs for date 20230316:

     Scenario  Total Cost
0   Scenario1    3.220186
1   Scenario2    3.225086
2   Scenario3    4.317285
3   Scenario4    2.564928
4   Scenario5    3.652522
5   Scenario6    3.123079
6   Scenario7    3.916078
7   Scenario8    3.328031
8   Scenario9    3.130369
9  Scenario10    3.441913

Weighted Total Cost for date 20230316: 3.282309
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230316_to_20230316_day_obj.csv

   ObjectiveValue
0     -339.783605

Deterministic Objective Value for date 20230316: -339.7836046033506
Total Cost for date 20230316: -336.501295

Processing date: 20230328
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230328_to_20230328_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,122.480784,320.0,1.0,37.218589,117.039587,68.0,...,13.519216,136.000000,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,155.139147,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,155.139147,37.218589,38.890017,68.0,68.0,0.000000,0.000000,117.039587,19.139147
2,3,0.1543,0.251,0.105,342.366250,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,342.366250,37.218589,38.890017,68.0,68.0,174.000000,162.464986,117.039587,32.366250
3,4,0.1543,0.251,0.105,209.640859,320.0,1.0,37.218589,117.039587,68.0,...,11.559141,221.200000,37.218589,38.890017,68.0,68.0,85.200000,78.308824,117.039587,0.000000
4,5,0.1543,0.251,0.105,250.364746,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,250.364746,37.218589,38.890017,68.0,68.0,114.364746,105.948385,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Total Costs for date 20230328:

     Scenario  Total Cost
0   Scenario1    4.223864
1   Scenario2    3.563382
2   Scenario3    3.294136
3   Scenario4    3.687437
4   Scenario5    3.141531
5   Scenario6    3.460423
6   Scenario7    2.543064
7   Scenario8    3.480057
8   Scenario9    3.415828
9  Scenario10    2.533174

Weighted Total Cost for date 20230328: 3.304737
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230328_to_20230328_day_obj.csv

   ObjectiveValue
0     -349.266626

Deterministic Objective Value for date 20230328: -349.26662556174364
Total Cost for date 20230328: -345.961889

Processing date: 20230403
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230403_to_20230403_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,109.681178,320.0,1.0,37.218589,117.039587,68.0,...,26.318822,136.000000,37.218589,38.890017,68.0,68.0,0.00000,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,129.868257,320.0,1.0,37.218589,117.039587,68.0,...,6.131743,136.000000,37.218589,38.890017,68.0,68.0,0.00000,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,318.075668,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,318.075668,37.218589,38.890017,68.0,68.0,135.37339,125.858373,117.039587,46.702278
3,4,0.1543,0.251,0.105,174.754284,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,174.754284,37.218589,38.890017,68.0,68.0,0.00000,0.000000,117.039587,38.754284
4,5,0.1543,0.251,0.105,205.485095,320.0,1.0,37.218589,117.039587,68.0,...,15.714905,221.200000,37.218589,38.890017,68.0,68.0,85.20000,78.308824,117.039587,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Total Costs for date 20230403:

     Scenario  Total Cost
0   Scenario1    3.420299
1   Scenario2    3.556115
2   Scenario3    3.103604
3   Scenario4    4.376863
4   Scenario5    4.490219
5   Scenario6    3.511845
6   Scenario7    3.788047
7   Scenario8    3.602868
8   Scenario9    2.718333
9  Scenario10    3.491377

Weighted Total Cost for date 20230403: 3.436851
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230403_to_20230403_day_obj.csv

   ObjectiveValue
0       -359.6264

Deterministic Objective Value for date 20230403: -359.6263996398779
Total Cost for date 20230403: -356.189548

Processing date: 20230409
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230409_to_20230409_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,114.125280,320.0,1.0,37.218589,117.039587,68.0,...,21.874720,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,131.676456,320.0,1.0,37.218589,117.039587,68.0,...,4.323544,136.000000,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,0.000000
2,3,0.1543,0.251,0.105,321.959866,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,321.959866,37.218589,38.890017,68.0,68.0,174.0,162.464986,117.039587,11.959866
3,4,0.1543,0.251,0.105,183.594859,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,183.594859,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,47.594859
4,5,0.1543,0.251,0.105,179.251707,320.0,1.0,37.218589,117.039587,68.0,...,0.000000,179.251707,37.218589,38.890017,68.0,68.0,0.0,0.000000,117.039587,43.251707

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Total Costs for date 20230409:

     Scenario  Total Cost
0   Scenario1    4.166008
1   Scenario2    3.425088
2   Scenario3    3.477175
3   Scenario4    3.180209
4   Scenario5    3.616938
5   Scenario6    4.024472
6   Scenario7    3.756576
7   Scenario8    3.289749
8   Scenario9    4.177738
9  Scenario10    3.711194

Weighted Total Cost for date 20230409: 3.634292
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230409_to_20230409_day_obj.csv

   ObjectiveValue
0     -375.877505

Deterministic Objective Value for date 20230409: -375.8775053109762
Total Cost for date 20230409: -372.243213

Processing date: 20230410
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230410_to_20230410_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,81.183802,320.0,1.0,37.218589,117.039587,68.000000,...,54.816198,136.000000,37.218589,38.890017,68.000000,68.0,0.0,0.000000,117.039587,0.000000
1,2,0.1543,0.251,0.105,108.073174,320.0,1.0,34.243389,110.678936,65.256975,...,25.183802,133.256975,34.243389,38.890017,65.256975,68.0,0.0,0.000000,110.678936,0.000000
2,3,0.1543,0.251,0.105,272.470956,320.0,1.0,37.218589,117.039587,68.000000,...,0.000000,272.470956,37.218589,38.890017,68.000000,68.0,85.2,78.308824,117.039587,51.270956
3,4,0.1543,0.251,0.105,150.267401,320.0,1.0,37.218589,117.039587,68.000000,...,0.000000,150.267401,37.218589,38.890017,68.000000,68.0,0.0,0.000000,117.039587,14.267401
4,5,0.1543,0.251,0.105,172.161546,320.0,1.0,37.218589,117.039587,68.000000,...,0.000000,172.161546,37.218589,38.890017,68.000000,68.0,0.0,0.000000,117.039587,36.161546

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Total Costs for date 20230410:

     Scenario  Total Cost
0   Scenario1    2.888495
1   Scenario2    3.254471
2   Scenario3    3.775163
3   Scenario4    2.895091
4   Scenario5    3.615743
5   Scenario6    3.911344
6   Scenario7    3.326393
7   Scenario8    3.973948
8   Scenario9    4.802631
9  Scenario10    2.881535

Weighted Total Cost for date 20230410: 3.359936
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230410_to_20230410_day_obj.csv

   ObjectiveValue
0      -321.39439

Deterministic Objective Value for date 20230410: -321.3943901148056
Total Cost for date 20230410: -318.034454

Processing date: 20230501
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230501_to_20230501_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,57.794192,320.0,1.0,37.218589,117.039587,68.000000,...,78.205808,136.000000,37.218589,38.890017,68.000000,68.0,0.0,0.0,117.039587,0.000000
1,2,0.1543,0.251,0.105,86.012196,320.0,0.0,0.000000,0.000000,0.000000,...,0.000000,86.012196,0.000000,38.890017,0.000000,68.0,0.0,0.0,0.000000,18.012196
2,3,0.1543,0.251,0.105,236.796742,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,236.796742,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,100.796742
3,4,0.1543,0.251,0.105,125.212512,320.0,1.0,31.443576,104.693245,62.675651,...,5.463139,130.675651,31.443576,38.890017,62.675651,68.0,0.0,0.0,104.693245,0.000000
4,5,0.1543,0.251,0.105,136.139252,320.0,1.0,37.218588,117.039586,68.000000,...,0.000000,136.139252,37.218588,38.890017,68.000000,68.0,0.0,0.0,117.039586,0.139252

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Total Costs for date 20230501:

     Scenario  Total Cost
0   Scenario1    3.740017
1   Scenario2    3.757002
2   Scenario3    3.925893
3   Scenario4    4.026071
4   Scenario5    3.149413
5   Scenario6    2.843856
6   Scenario7    3.728211
7   Scenario8    3.972381
8   Scenario9    3.560782
9  Scenario10    3.088058

Weighted Total Cost for date 20230501: 3.533910
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230501_to_20230501_day_obj.csv

   ObjectiveValue
0     -288.520676

Deterministic Objective Value for date 20230501: -288.5206763385128
Total Cost for date 20230501: -284.986767

Processing date: 20230515
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230515_to_20230515_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,28.841828,320.0,0.0,0.0,0.0,0.0,...,39.158172,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,48.280144,320.0,0.0,0.0,0.0,0.0,...,19.719856,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,143.475056,320.0,0.0,0.0,0.0,0.0,...,0.000000,143.475056,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,75.475056
3,4,0.1543,0.251,0.105,60.227853,320.0,0.0,0.0,0.0,0.0,...,7.772147,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,89.954385,320.0,-0.0,0.0,0.0,0.0,...,0.000000,89.954385,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,21.954385

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Total Costs for date 20230515:

     Scenario  Total Cost
0   Scenario1    3.038888
1   Scenario2    3.872958
2   Scenario3    3.226087
3   Scenario4    2.745381
4   Scenario5    2.877674
5   Scenario6    2.519456
6   Scenario7    3.396390
7   Scenario8    4.675732
8   Scenario9    3.938013
9  Scenario10    3.327792

Weighted Total Cost for date 20230515: 3.209410
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230515_to_20230515_day_obj.csv

   ObjectiveValue
0     -172.401567

Deterministic Objective Value for date 20230515: -172.40156724825275
Total Cost for date 20230515: -169.192157

Processing date: 20230619
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230619_to_20230619_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,29.804550,320.0,0.0,0.0,0.0,0.0,...,38.068020,67.872570,0.0,38.748689,0.0,67.872570,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,38.549741,320.0,0.0,0.0,0.0,0.0,...,24.169996,62.719737,0.0,33.033860,0.0,62.719737,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,117.370956,320.0,0.0,0.0,0.0,0.0,...,0.000000,117.370956,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,49.370958
3,4,0.1543,0.251,0.105,43.145885,320.0,0.0,0.0,0.0,0.0,...,20.149139,63.295024,0.0,33.671891,0.0,63.295024,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,74.806673,320.0,0.0,0.0,0.0,0.0,...,0.000000,74.806673,0.0,38.890015,0.0,67.999998,0.0,0.0,0.0,6.806674

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Total Costs for date 20230619:

     Scenario  Total Cost
0   Scenario1    3.587282
1   Scenario2    3.089308
2   Scenario3    2.914700
3   Scenario4    3.753167
4   Scenario5    4.207412
5   Scenario6    3.429589
6   Scenario7    3.759954
7   Scenario8    4.127842
8   Scenario9    3.475324
9  Scenario10    2.836354

Weighted Total Cost for date 20230619: 3.459328
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230619_to_20230619_day_obj.csv

   ObjectiveValue
0     -129.668179

Deterministic Objective Value for date 20230619: -129.6681786588939
Total Cost for date 20230619: -126.208851

Processing date: 20230622
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230622_to_20230622_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,24.097578,320.0,0.0,0.0,0.0,0.0,...,43.902422,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,36.011310,320.0,0.0,0.0,0.0,0.0,...,31.988690,68.000000,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,133.824740,320.0,-0.0,0.0,0.0,0.0,...,0.000000,133.824740,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,65.824740
3,4,0.1543,0.251,0.105,57.532691,320.0,0.0,0.0,0.0,0.0,...,0.467309,58.000000,0.0,27.799363,0.0,58.0,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,72.660173,320.0,-0.0,0.0,0.0,0.0,...,0.000000,72.660173,0.0,38.890017,0.0,68.0,0.0,0.0,0.0,4.660173

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Total Costs for date 20230622:

     Scenario  Total Cost
0   Scenario1    4.049016
1   Scenario2    3.978707
2   Scenario3    3.781022
3   Scenario4    2.942249
4   Scenario5    4.116247
5   Scenario6    3.676352
6   Scenario7    3.785345
7   Scenario8    3.014552
8   Scenario9    3.967569
9  Scenario10    3.918435

Weighted Total Cost for date 20230622: 3.659441
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230622_to_20230622_day_obj.csv

   ObjectiveValue
0     -119.012785

Deterministic Objective Value for date 20230622: -119.01278485419869
Total Cost for date 20230622: -115.353344

Processing date: 20230626
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230626_to_20230626_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,5.559557,320.0,-0.0,0.0,0.0,0.0,...,62.440443,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,49.347106,320.0,0.0,0.0,0.0,0.0,...,17.559557,66.906664,0.0,37.677435,0.0,66.906664,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,95.483014,320.0,-0.0,0.0,0.0,0.0,...,0.000000,95.483014,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,27.483014
3,4,0.1543,0.251,0.105,56.749592,320.0,0.0,0.0,0.0,0.0,...,11.250408,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,49.503750,320.0,0.0,0.0,0.0,0.0,...,8.496250,58.000000,0.0,27.799363,0.0,58.000000,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Total Costs for date 20230626:

     Scenario  Total Cost
0   Scenario1    6.491448
1   Scenario2    6.373410
2   Scenario3    8.635586
3   Scenario4    5.414318
4   Scenario5    3.314589
5   Scenario6    2.254107
6   Scenario7    6.259954
7   Scenario8    7.313466
8   Scenario9    7.652818
9  Scenario10    6.793851

Weighted Total Cost for date 20230626: 3.194379
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230626_to_20230626_day_obj.csv

   ObjectiveValue
0     -119.838483

Deterministic Objective Value for date 20230626: -119.83848330050344
Total Cost for date 20230626: -116.644104

Processing date: 20230709
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230709_to_20230709_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,30.715569,320.0,0.0,0.0,0.0,0.0,...,37.284430,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,49.297894,320.0,0.0,0.0,0.0,0.0,...,15.331142,64.629036,0.0,35.151397,0.0,64.629036,0.0,0.0,0.0,0.000000
2,3,0.1543,0.251,0.105,128.796270,320.0,0.0,0.0,0.0,0.0,...,0.000000,128.796270,0.0,38.890015,0.0,67.999999,0.0,0.0,0.0,60.796271
3,4,0.1543,0.251,0.105,53.728503,320.0,0.0,0.0,0.0,0.0,...,11.237261,64.965764,0.0,35.524851,0.0,64.965764,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,65.872722,320.0,0.0,0.0,0.0,0.0,...,1.443554,67.316275,0.0,38.131721,0.0,67.316275,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Total Costs for date 20230709:

     Scenario  Total Cost
0   Scenario1    3.121064
1   Scenario2    3.762912
2   Scenario3    4.513215
3   Scenario4    3.531560
4   Scenario5    3.401179
5   Scenario6    4.633377
6   Scenario7    3.852795
7   Scenario8    3.185627
8   Scenario9    3.034413
9  Scenario10    3.790671

Weighted Total Cost for date 20230709: 3.689916
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230709_to_20230709_day_obj.csv

   ObjectiveValue
0     -137.752149

Deterministic Objective Value for date 20230709: -137.75214852433396
Total Cost for date 20230709: -134.062232

Processing date: 20230710
Loaded deterministic weighted time series data from ../data/output/deterministic/timeseries/d_weighted_20230710_to_20230710_day_ts.csv

,t,GAS_PRICE,POWER_PRICE,HEAT_PRICE,heat_demand,heat_storage1.initial_soc,chp1.bin,chp1.power,chp1.gas,chp1.heat,...,heat_grid.heat_supply,heat_grid.heat_feedin,arc01_expanded.power,arc02_expanded.power,arc03_expanded.heat,arc04_expanded.heat,arc05_expanded.heat,arc06_expanded.gas,arc07_expanded.gas,arc08_expanded.heat
0,1,0.1543,0.251,0.105,25.333756,320.0,0.0,0.0,0.0,0.0,...,42.666244,68.000000,0.0,38.890017,0.0,68.000000,0.0,0.0,0.0,0.000000
1,2,0.1543,0.251,0.105,33.171919,320.0,0.0,0.0,0.0,0.0,...,0.000000,33.171919,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,33.171919
2,3,0.1543,0.251,0.105,124.981345,320.0,0.0,0.0,0.0,0.0,...,0.000000,124.981345,0.0,38.890015,0.0,67.999999,0.0,0.0,0.0,56.981346
3,4,0.1543,0.251,0.105,46.764980,320.0,0.0,0.0,0.0,0.0,...,18.017075,64.782055,0.0,35.321106,0.0,64.782055,0.0,0.0,0.0,0.000000
4,5,0.1543,0.251,0.105,61.996696,320.0,0.0,0.0,0.0,0.0,...,3.915168,65.911864,0.0,36.574138,0.0,65.911864,0.0,0.0,0.0,0.000000

Loaded scenario heat demands from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Total Costs for date 20230710:

     Scenario  Total Cost
0   Scenario1    2.852600
1   Scenario2    3.922728
2   Scenario3    3.420707
3   Scenario4    3.605837
4   Scenario5    3.680253
5   Scenario6    3.037037
6   Scenario7    2.914994
7   Scenario8    2.621812
8   Scenario9    3.167353
9  Scenario10    3.460530

Weighted Total Cost for date 20230710: 3.224069
Loaded deterministic objective value from ../data/output/deterministic/objectives/d_weighted_20230710_to_20230710_day_obj.csv

   ObjectiveValue
0     -134.913504

Deterministic Objective Value for date 20230710: -134.91350375977672
Total Cost for date 20230710: -131.689435

## EEV

In [13]:
# Create a DataFrame of results
results_df_eev = pd.DataFrame(results)
results_df_eev['Total Cost'] = results_df_eev['Total Cost'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_eev)

Final Results:

          Date  Total Cost
0   2023-03-16 -336.501295
1   2023-03-28 -345.961889
2   2023-04-03 -356.189548
3   2023-04-09 -372.243213
4   2023-04-10 -318.034454
5   2023-05-01 -284.986767
6   2023-05-15 -169.192157
7   2023-06-19 -126.208851
8   2023-06-22 -115.353344
9   2023-06-26 -116.644104
10  2023-07-09 -134.062232
11  2023-07-10 -131.689435

In [14]:
def compute_weighted_stochastic_objective_value(date_str: str, period: str, input_path_s: str, input_path_hd: str) -> float:
    """
    Compute the weighted stochastic objective value for a specific date.
    """
    # Load stochastic objective values
    sto_obj_values_df = load_stochastic_objective_values(date_str, period, input_path_s)
    if sto_obj_values_df.empty:
        print(f"No stochastic objective values data available for date {date_str}.")
        return None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None

    # Clean up column names if necessary
    # Sometimes the first column might have a stray ':' character
    sto_obj_values_df.columns = [col.strip(':') for col in sto_obj_values_df.columns]

    # Merge sto_obj_values_df with probabilities
    sto_obj_values_df['Probability'] = sto_obj_values_df['Scenario'].map(probabilities)

    # Check for missing probabilities
    if sto_obj_values_df['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(sto_obj_values_df[sto_obj_values_df['Probability'].isnull()])
        return None

    # Compute weighted objective value
    sto_obj_values_df['WeightedObjective'] = sto_obj_values_df['ObjectiveValue'] * sto_obj_values_df['Probability']

    # Display intermediate calculations
    print("Intermediate Calculations:")
    display(sto_obj_values_df)

    # Sum the weighted objectives
    weighted_objective_value = sto_obj_values_df['WeightedObjective'].sum()

    return weighted_objective_value

In [15]:
def compute_weighted_stochastic_objective_special_value(date_str: str, period: str, input_path_s: str, input_path_hd: str, special_case: str) -> float:
    """
    Compute the weighted stochastic objective value for a specific date.
    """
    # Load stochastic objective values
    sto_obj_values_df = load_stochastic_objective_special_values(date_str, period, input_path_s, special_case)
    if sto_obj_values_df.empty:
        print(f"No stochastic objective values data available for date {date_str}.")
        return None

    # Load probabilities
    probabilities = load_probabilities(date_str, period, input_path_hd)
    if not probabilities:
        print(f"No probabilities data available for date {date_str}.")
        return None

    # Clean up column names if necessary
    # Sometimes the first column might have a stray ':' character
    sto_obj_values_df.columns = [col.strip(':') for col in sto_obj_values_df.columns]

    # Merge sto_obj_values_df with probabilities
    sto_obj_values_df['Probability'] = sto_obj_values_df['Scenario'].map(probabilities)

    # Check for missing probabilities
    if sto_obj_values_df['Probability'].isnull().any():
        print("Some scenarios do not have associated probabilities.")
        display(sto_obj_values_df[sto_obj_values_df['Probability'].isnull()])
        return None

    # Compute weighted objective value
    sto_obj_values_df['WeightedObjective'] = sto_obj_values_df['ObjectiveValue'] * sto_obj_values_df['Probability']

    # Display intermediate calculations
    print("Intermediate Calculations:")
    display(sto_obj_values_df)

    # Sum the weighted objectives
    weighted_objective_value = sto_obj_values_df['WeightedObjective'].sum()

    return weighted_objective_value

In [16]:
# Input paths
input_path_s_obj = INPUT_PATH_S_OBJ  # Path to stochastic objective values
input_path_hd = INPUT_PATH_HD  # Path to heat demand scenarios (probabilities)

# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute weighted stochastic objective value
    weighted_sto_obj_value = compute_weighted_stochastic_objective_value(
        date_str=date_str,
        period=period,
        input_path_s=input_path_s_obj,
        input_path_hd=input_path_hd
    )

    if weighted_sto_obj_value is not None:
        # Store the result
        results.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Weighted Stochastic Objective Value': weighted_sto_obj_value
        })
        print(f"Weighted Stochastic Objective Value for date {date_str}: {weighted_sto_obj_value:.6f}")
    else:
        print(f"Could not compute weighted stochastic objective value for date {date_str}.")

Processing date: 20230316
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230316_to_20230316_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -326.915809     0.093211         -30.471995
1   Scenario2     -327.040740     0.041917         -13.708444
2   Scenario3     -325.951884     0.073168         -23.849111
3   Scenario4     -327.274089     0.164225         -53.746681
4   Scenario5     -326.848278     0.096919         -31.677880
5   Scenario6     -326.980714     0.165247         -54.032743
6   Scenario7     -326.691768     0.048252         -15.763669
7   Scenario8     -326.885557     0.114138         -37.310148
8   Scenario9     -326.915483     0.088206         -28.835980
9  Scenario10     -326.848067     0.114716         -37.494821

Weighted Stochastic Objective Value for date 20230316: -326.891473

Processing date: 20230328
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230328_to_20230328_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -339.124442     0.057758         -19.587297
1   Scenario2     -340.432339     0.126084         -42.923029
2   Scenario3     -340.055679     0.074060         -25.184358
3   Scenario4     -339.474604     0.137439         -46.656889
4   Scenario5     -339.882296     0.181896         -61.823087
5   Scenario6     -340.267599     0.073522         -25.017144
6   Scenario7     -340.798173     0.100274         -34.173173
7   Scenario8     -339.836103     0.057625         -19.583008
8   Scenario9     -339.352259     0.107217         -36.384223
9  Scenario10     -340.063089     0.084127         -28.608362

Weighted Stochastic Objective Value for date 20230328: -339.940569

Processing date: 20230403
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230403_to_20230403_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -346.024684     0.050894         -17.610411
1   Scenario2     -346.303412     0.110215         -38.167751
2   Scenario3     -345.556709     0.121587         -42.015152
3   Scenario4     -346.062974     0.057770         -19.992172
4   Scenario5     -344.706014     0.067584         -23.296499
5   Scenario6     -346.763046     0.134609         -46.677595
6   Scenario7     -345.186910     0.114209         -39.423598
7   Scenario8     -346.160160     0.059725         -20.674315
8   Scenario9     -346.531409     0.223599         -77.484054
9  Scenario10     -346.075212     0.059808         -20.698174

Weighted Stochastic Objective Value for date 20230403: -346.039721

Processing date: 20230409
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230409_to_20230409_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -364.063659     0.064652         -23.537299
1   Scenario2     -363.897362     0.190680         -69.387804
2   Scenario3     -363.946931     0.129189         -47.017986
3   Scenario4     -364.847491     0.109657         -40.008187
4   Scenario5     -364.467013     0.067537         -24.615116
5   Scenario6     -364.722196     0.095297         -34.756794
6   Scenario7     -363.984598     0.078145         -28.443566
7   Scenario8     -364.878300     0.084789         -30.937540
8   Scenario9     -365.061334     0.097324         -35.529171
9  Scenario10     -364.436321     0.082731         -30.150181

Weighted Stochastic Objective Value for date 20230409: -364.383643

Processing date: 20230410
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230410_to_20230410_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -342.622049     0.070209         -24.055284
1   Scenario2     -342.157389     0.207275         -70.920584
2   Scenario3     -341.771396     0.083898         -28.673779
3   Scenario4     -342.926284     0.204527         -70.137791
4   Scenario5     -342.617957     0.071263         -24.415857
5   Scenario6     -341.753916     0.059850         -20.454078
6   Scenario7     -342.995458     0.105758         -36.274566
7   Scenario8     -343.007574     0.054947         -18.847179
8   Scenario9     -342.509822     0.053011         -18.156698
9  Scenario10     -342.747223     0.089262         -30.594426

Weighted Stochastic Objective Value for date 20230410: -342.530242

Processing date: 20230501
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230501_to_20230501_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -298.608925     0.190239         -56.807021
1   Scenario2     -297.621761     0.057934         -17.242421
2   Scenario3     -298.629550     0.048213         -14.397879
3   Scenario4     -300.020082     0.078855         -23.658154
4   Scenario5     -298.601228     0.121309         -36.222876
5   Scenario6     -300.427111     0.054560         -16.391332
6   Scenario7     -298.461360     0.134399         -40.112828
7   Scenario8     -299.069199     0.057428         -17.174956
8   Scenario9     -298.991181     0.079893         -23.887286
9  Scenario10     -298.838736     0.177170         -52.945374

Weighted Stochastic Objective Value for date 20230501: -298.840128

Processing date: 20230515
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230515_to_20230515_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -196.063759     0.066917         -13.119992
1   Scenario2     -195.410035     0.093079         -18.188590
2   Scenario3     -195.545257     0.119735         -23.413582
3   Scenario4     -196.127913     0.156098         -30.615256
4   Scenario5     -196.595561     0.060302         -11.855147
5   Scenario6     -196.588900     0.214441         -42.156812
6   Scenario7     -195.487313     0.097663         -19.091922
7   Scenario8     -195.373658     0.087456         -17.086596
8   Scenario9     -195.265549     0.047847          -9.342899
9  Scenario10     -195.474561     0.056461         -11.036617

Weighted Stochastic Objective Value for date 20230515: -195.907414

Processing date: 20230619
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230619_to_20230619_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -149.295886     0.147722         -22.054259
1   Scenario2     -150.800857     0.149388         -22.527887
2   Scenario3     -151.045021     0.070626         -10.667698
3   Scenario4     -149.514160     0.051094          -7.639274
4   Scenario5     -150.066775     0.105200         -15.787031
5   Scenario6     -151.282596     0.035835          -5.421169
6   Scenario7     -149.340647     0.099024         -14.788251
7   Scenario8     -150.136391     0.080709         -12.117432
8   Scenario9     -149.891249     0.094985         -14.237407
9  Scenario10     -151.972271     0.165417         -25.138820

Weighted Stochastic Objective Value for date 20230619: -150.379228

Processing date: 20230622
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230622_to_20230622_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -152.985438     0.135874         -20.786733
1   Scenario2     -154.684293     0.082486         -12.759267
2   Scenario3     -153.007062     0.127544         -19.515131
3   Scenario4     -155.017446     0.194525         -30.154815
4   Scenario5     -152.902033     0.081249         -12.423208
5   Scenario6     -154.473036     0.108861         -16.816108
6   Scenario7     -153.811093     0.059450          -9.144133
7   Scenario8     -154.176445     0.066503         -10.253172
8   Scenario9     -154.205687     0.081728         -12.602868
9  Scenario10     -153.550561     0.061779          -9.486268

Weighted Stochastic Objective Value for date 20230622: -153.941702

Processing date: 20230626
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230626_to_20230626_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -143.330094     0.008036          -1.151826
1   Scenario2     -144.553375     0.001415          -0.204554
2   Scenario3     -143.704032     0.000252          -0.036212
3   Scenario4     -144.688999     0.031910          -4.617037
4   Scenario5     -145.948823     0.359087         -52.408355
5   Scenario6     -145.298565     0.507279         -73.706900
6   Scenario7     -144.011632     0.001421          -0.204625
7   Scenario8     -143.780641     0.000250          -0.035974
8   Scenario9     -143.237551     0.000016          -0.002254
9  Scenario10     -144.470651     0.090334         -13.050570

Weighted Stochastic Objective Value for date 20230626: -145.418309

Processing date: 20230709
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230709_to_20230709_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -153.263132     0.063022          -9.658976
1   Scenario2     -152.232274     0.083171         -12.661328
2   Scenario3     -151.903239     0.133864         -20.334321
3   Scenario4     -151.941713     0.077075         -11.710919
4   Scenario5     -152.881513     0.077908         -11.910673
5   Scenario6     -151.522232     0.121064         -18.343904
6   Scenario7     -151.365279     0.078744         -11.919158
7   Scenario8     -152.986755     0.165071         -25.253662
8   Scenario9     -151.975862     0.145044         -22.043211
9  Scenario10     -152.860716     0.055037          -8.412937

Weighted Stochastic Objective Value for date 20230709: -152.249089

Processing date: 20230710
Loaded stochastic objective values from ../data/output/stochastic/objectives/s_20230710_to_20230710_day_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -152.079868     0.157475         -23.948835
1   Scenario2     -150.898947     0.055415          -8.362112
2   Scenario3     -151.771827     0.134182         -20.365075
3   Scenario4     -150.457646     0.115740         -17.413980
4   Scenario5     -150.811872     0.069091         -10.419779
5   Scenario6     -151.196893     0.091832         -13.884716
6   Scenario7     -151.380801     0.110580         -16.739698
7   Scenario8     -151.829379     0.066341         -10.072561
8   Scenario9     -151.392273     0.130086         -19.694007
9  Scenario10     -150.347923     0.069256         -10.412566

Weighted Stochastic Objective Value for date 20230710: -151.313329

In [17]:
# Create a DataFrame of results
results_df_rp = pd.DataFrame(results)
results_df_rp['Weighted Stochastic Objective Value'] = results_df_rp['Weighted Stochastic Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_rp)

Final Results:

          Date  Weighted Stochastic Objective Value
0   2023-03-16                          -326.891473
1   2023-03-28                          -339.940569
2   2023-04-03                          -346.039721
3   2023-04-09                          -364.383643
4   2023-04-10                          -342.530242
5   2023-05-01                          -298.840128
6   2023-05-15                          -195.907414
7   2023-06-19                          -150.379228
8   2023-06-22                          -153.941702
9   2023-06-26                          -145.418309
10  2023-07-09                          -152.249089
11  2023-07-10                          -151.313329

## Special Case RP

In [18]:
# Input paths
input_path_s_obj = INPUT_PATH_S_OBJ  # Path to stochastic objective values
input_path_hd = INPUT_PATH_HD  # Path to heat demand scenarios (probabilities)

# Initialize a list to store the results
results = []

for date in dates_to_process:
    date_str = date.strftime('%Y%m%d')
    print(f"\nProcessing date: {date_str}")

    # Compute weighted stochastic objective value
    weighted_sto_obj_special_value = compute_weighted_stochastic_objective_special_value(
        date_str=date_str,
        period=period,
        input_path_s=input_path_s_obj,
        input_path_hd=input_path_hd,
        special_case=special_case
    )

    if weighted_sto_obj_special_value is not None:
        # Store the result
        results.append({
            'Date': date.strftime('%Y-%m-%d'),
            'Weighted Stochastic Objective Value': weighted_sto_obj_special_value
        })
        print(f"Weighted Stochastic Objective Value for date {date_str} and case {special_case}: {weighted_sto_obj_special_value:.6f}")
    else:
        print(f"Could not compute weighted stochastic objective value for date {date_str}.")

Processing date: 20230316
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230316_to_20230316_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230316_to_20230316_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -326.915809     0.093211         -30.471995
1   Scenario2     -327.040740     0.041917         -13.708444
2   Scenario3     -325.951884     0.073168         -23.849111
3   Scenario4     -327.274089     0.164225         -53.746681
4   Scenario5     -326.848278     0.096919         -31.677880
5   Scenario6     -326.980714     0.165247         -54.032743
6   Scenario7     -326.691768     0.048252         -15.763669
7   Scenario8     -326.885557     0.114138         -37.310148
8   Scenario9     -326.915483     0.088206         -28.835980
9  Scenario10     -326.848067     0.114716         -37.494821

Weighted Stochastic Objective Value for date 20230316 and case USE_EXT_COST_10: -326.891473

Processing date: 20230328
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230328_to_20230328_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230328_to_20230328_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -339.124442     0.057758         -19.587297
1   Scenario2     -340.432339     0.126084         -42.923029
2   Scenario3     -340.055679     0.074060         -25.184358
3   Scenario4     -339.474604     0.137439         -46.656889
4   Scenario5     -339.882296     0.181896         -61.823087
5   Scenario6     -340.267599     0.073522         -25.017144
6   Scenario7     -340.798173     0.100274         -34.173173
7   Scenario8     -339.836103     0.057625         -19.583008
8   Scenario9     -339.352259     0.107217         -36.384223
9  Scenario10     -340.063089     0.084127         -28.608362

Weighted Stochastic Objective Value for date 20230328 and case USE_EXT_COST_10: -339.940569

Processing date: 20230403
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230403_to_20230403_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230403_to_20230403_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -345.900465     0.050894         -17.604089
1   Scenario2     -346.179192     0.110215         -38.154060
2   Scenario3     -345.432490     0.121587         -42.000048
3   Scenario4     -345.938755     0.057770         -19.984996
4   Scenario5     -344.581795     0.067584         -23.288104
5   Scenario6     -346.638827     0.134609         -46.660874
6   Scenario7     -345.062691     0.114209         -39.409411
7   Scenario8     -346.035940     0.059725         -20.666896
8   Scenario9     -346.407189     0.223599         -77.456279
9  Scenario10     -345.950993     0.059808         -20.690745

Weighted Stochastic Objective Value for date 20230403 and case USE_EXT_COST_10: -345.915502

Processing date: 20230409
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230409_to_20230409_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230409_to_20230409_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -363.765436     0.064652         -23.518019
1   Scenario2     -363.599139     0.190680         -69.330939
2   Scenario3     -363.648707     0.129189         -46.979459
3   Scenario4     -364.549267     0.109657         -39.975484
4   Scenario5     -364.168789     0.067537         -24.594975
5   Scenario6     -364.423973     0.095297         -34.728374
6   Scenario7     -363.686375     0.078145         -28.420261
7   Scenario8     -364.580077     0.084789         -30.912254
8   Scenario9     -364.763110     0.097324         -35.500146
9  Scenario10     -364.138097     0.082731         -30.125509

Weighted Stochastic Objective Value for date 20230409 and case USE_EXT_COST_10: -364.085419

Processing date: 20230410
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230410_to_20230410_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230410_to_20230410_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -344.556716     0.070209         -24.191116
1   Scenario2     -344.092056     0.207275         -71.321592
2   Scenario3     -343.706063     0.083898         -28.836093
3   Scenario4     -344.860951     0.204527         -70.533483
4   Scenario5     -344.552625     0.071263         -24.553727
5   Scenario6     -343.688584     0.059850         -20.569868
6   Scenario7     -344.930125     0.105758         -36.479173
7   Scenario8     -344.942241     0.054947         -18.953483
8   Scenario9     -344.444490     0.053011         -18.259256
9  Scenario10     -344.681891     0.089262         -30.767119

Weighted Stochastic Objective Value for date 20230410 and case USE_EXT_COST_10: -344.464910

Processing date: 20230501
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230501_to_20230501_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230501_to_20230501_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -293.172956     0.190239         -55.772888
1   Scenario2     -292.185793     0.057934         -16.927494
2   Scenario3     -293.193582     0.048213         -14.135794
3   Scenario4     -294.584114     0.078855         -23.229500
4   Scenario5     -293.165260     0.121309         -35.563447
5   Scenario6     -294.991142     0.054560         -16.094745
6   Scenario7     -293.025392     0.134399         -39.382241
7   Scenario8     -293.633231     0.057428         -16.862779
8   Scenario9     -293.555213     0.079893         -23.452991
9  Scenario10     -293.402767     0.177170         -51.982281

Weighted Stochastic Objective Value for date 20230501 and case USE_EXT_COST_10: -293.404160

Processing date: 20230515
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230515_to_20230515_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230515_to_20230515_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -195.999923     0.066917         -13.115720
1   Scenario2     -195.346200     0.093079         -18.182648
2   Scenario3     -195.481421     0.119735         -23.405939
3   Scenario4     -196.064077     0.156098         -30.605292
4   Scenario5     -196.531725     0.060302         -11.851298
5   Scenario6     -196.525065     0.214441         -42.143123
6   Scenario7     -195.423478     0.097663         -19.085688
7   Scenario8     -195.309822     0.087456         -17.081013
8   Scenario9     -195.201714     0.047847          -9.339844
9  Scenario10     -195.410726     0.056461         -11.033013

Weighted Stochastic Objective Value for date 20230515 and case USE_EXT_COST_10: -195.843578

Processing date: 20230619
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230619_to_20230619_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230619_to_20230619_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -149.271025     0.147722         -22.050587
1   Scenario2     -150.775996     0.149388         -22.524174
2   Scenario3     -151.020160     0.070626         -10.665942
3   Scenario4     -149.489299     0.051094          -7.638003
4   Scenario5     -150.041914     0.105200         -15.784415
5   Scenario6     -151.257735     0.035835          -5.420278
6   Scenario7     -149.315786     0.099024         -14.785789
7   Scenario8     -150.111530     0.080709         -12.115425
8   Scenario9     -149.866388     0.094985         -14.235046
9  Scenario10     -151.947410     0.165417         -25.134707

Weighted Stochastic Objective Value for date 20230619 and case USE_EXT_COST_10: -150.354367

Processing date: 20230622
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230622_to_20230622_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230622_to_20230622_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -152.949529     0.135874         -20.781853
1   Scenario2     -154.648383     0.082486         -12.756305
2   Scenario3     -152.971152     0.127544         -19.510551
3   Scenario4     -154.981536     0.194525         -30.147829
4   Scenario5     -152.866124     0.081249         -12.420290
5   Scenario6     -154.437126     0.108861         -16.812199
6   Scenario7     -153.775184     0.059450          -9.141998
7   Scenario8     -154.140535     0.066503         -10.250784
8   Scenario9     -154.169777     0.081728         -12.599933
9  Scenario10     -153.514651     0.061779          -9.484050

Weighted Stochastic Objective Value for date 20230622 and case USE_EXT_COST_10: -153.905792

Processing date: 20230626
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230626_to_20230626_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230626_to_20230626_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -133.158062     0.008036          -1.070082
1   Scenario2     -144.381342     0.001415          -0.204311
2   Scenario3     -133.532000     0.000252          -0.033649
3   Scenario4     -134.516967     0.031910          -4.292447
4   Scenario5     -145.776791     0.359087         -52.346580
5   Scenario6     -145.126533     0.507279         -73.619632
6   Scenario7     -133.839600     0.001421          -0.190172
7   Scenario8     -143.608609     0.000250          -0.035931
8   Scenario9     -133.065518     0.000016          -0.002094
9  Scenario10     -144.298619     0.090334         -13.035029

Weighted Stochastic Objective Value for date 20230626 and case USE_EXT_COST_10: -144.829928

Processing date: 20230709
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230709_to_20230709_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230709_to_20230709_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -152.287756     0.063022          -9.597506
1   Scenario2     -151.256897     0.083171         -12.580204
2   Scenario3     -150.927863     0.133864         -20.203754
3   Scenario4     -150.966336     0.077075         -11.635742
4   Scenario5     -151.906136     0.077908         -11.834683
5   Scenario6     -150.546856     0.121064         -18.225821
6   Scenario7     -150.389902     0.078744         -11.842353
7   Scenario8     -152.011378     0.165071         -25.092656
8   Scenario9     -151.000485     0.145044         -21.901738
9  Scenario10     -151.885339     0.055037          -8.359255

Weighted Stochastic Objective Value for date 20230709 and case USE_EXT_COST_10: -151.273712

Processing date: 20230710
Loaded stochastic objective special case values from ../data/output/stochastic/objectives/s_20230710_to_20230710_day_USE_EXT_COST_10_obj.csv
Loaded probabilities from ../data/input/demands/reduced_heat_demand_scenarios_20230710_to_20230710_day.json
Intermediate Calculations:

     Scenario  ObjectiveValue  Probability  WeightedObjective
0   Scenario1     -151.863836     0.157475         -23.914815
1   Scenario2     -150.682914     0.055415          -8.350140
2   Scenario3     -151.555794     0.134182         -20.336088
3   Scenario4     -150.241613     0.115740         -17.388976
4   Scenario5     -150.595839     0.069091         -10.404853
5   Scenario6     -140.980860     0.091832         -12.946557
6   Scenario7     -151.164768     0.110580         -16.715809
7   Scenario8     -151.613346     0.066341         -10.058229
8   Scenario9     -151.176240     0.130086         -19.665904
9  Scenario10     -150.131890     0.069256         -10.397604

Weighted Stochastic Objective Value for date 20230710 and case USE_EXT_COST_10: -150.178976

In [19]:
# Create a DataFrame of results
results_df_rp_special = pd.DataFrame(results)
results_df_rp_special['Weighted Stochastic Objective Value'] = results_df_rp_special['Weighted Stochastic Objective Value'].round(6)  # Round for readability

# Display the final results
print("\nFinal Results:")
display(results_df_rp_special)

Final Results:

          Date  Weighted Stochastic Objective Value
0   2023-03-16                          -326.891473
1   2023-03-28                          -339.940569
2   2023-04-03                          -345.915502
3   2023-04-09                          -364.085419
4   2023-04-10                          -344.464910
5   2023-05-01                          -293.404160
6   2023-05-15                          -195.843578
7   2023-06-19                          -150.354367
8   2023-06-22                          -153.905792
9   2023-06-26                          -144.829928
10  2023-07-09                          -151.273712
11  2023-07-10                          -150.178976

In [20]:
# Save the EEV results to a CSV file
filename = "eev.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_eev.to_csv(output_filepath, index=False)


# Save the WS results to a CSV file
filename = "ws.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df.to_csv(output_filepath, index=False)


# Save the RP results to a CSV file
filename = "rp.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_rp.to_csv(output_filepath, index=False)

In [21]:
# Merge the dataframes on 'Date'
merged_df = pd.merge(results_df, results_df_rp, on='Date')
# Calculate EVPI
merged_df['EVPI'] = merged_df['Weighted Stochastic Objective Value'] - merged_df['Weighted Objective Value']

# Rename columns
merged_df.rename(columns={
    'Weighted Objective Value': 'WS',
    'Weighted Stochastic Objective Value': 'RP'
}, inplace=True)
# Create the results DataFrame with 'Date' and 'EVPI'
results_df_evpi = merged_df[['Date', 'EVPI']]

# Round the values in merged_df to two decimal places
merged_df = merged_df.round(2)

# Display the results
print(results_df_evpi)

          Date       EVPI
0   2023-03-16  13.090081
1   2023-03-28   8.492660
2   2023-04-03  13.815972
3   2023-04-09  11.106302
4   2023-04-10 -22.108556
5   2023-05-01 -11.270077
6   2023-05-15 -19.047084
7   2023-06-19 -22.673974
8   2023-06-22 -27.931343
9   2023-06-26 -21.000460
10  2023-07-09 -15.966399
11  2023-07-10 -16.647066

In [22]:
# Save the EVPI results to a CSV file
filename = "evpi.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

results_df_evpi.to_csv(output_filepath, index=False)

# Save the all results to a CSV file
filename = "all.csv"  # Specify your desired filename
output_filepath = os.path.join(OUTPUT_PATH, filename)

merged_df.to_csv(output_filepath, index=False)

In [23]:
def collect_actual_objective_values(dates_to_process: List[datetime], period: str, input_path: str) -> pd.DataFrame:
    """
    Collect the actual deterministic objective values for a list of dates.

    Parameters:
    - dates_to_process: List of datetime objects representing the dates to process.
    - period: The period string used in the filenames (e.g., 'day', 'week').
    - input_path: The path where the objective value CSV files are located.

    Returns:
    - A pandas DataFrame with columns 'Date' and 'Actual Value'.
    """
    import os
    import pandas as pd
    from datetime import datetime

    actual_values = []

    for date in dates_to_process:
        date_str = date.strftime('%Y%m%d')
        # Use your existing function to load the data
        data = load_actual_deterministic_objective_values(date_str, period, input_path)
        if not data.empty:
            # Assuming the CSV has columns 'Scenario' and 'ObjectiveValue'
            actual_row = data[data['Scenario'] == 'actual']
            if not actual_row.empty:
                objective_value = actual_row['ObjectiveValue'].iloc[0]
                actual_values.append({
                    'Date': date.strftime('%Y-%m-%d'),
                    'Actual Value': objective_value
                })
            else:
                print(f"No 'actual' scenario found in data for date {date_str}")
        else:
            print(f"Data not available for date {date_str}")

    # Create a DataFrame from the results
    actual_values_df = pd.DataFrame(actual_values)
    # Sort by date
    actual_values_df = actual_values_df.sort_values('Date').reset_index(drop=True)
    return actual_values_df

In [24]:
input_path = INPUT_PATH_D_OBJ_ACT  # Path to actual deterministic objective values

actual_values_df = collect_actual_objective_values(dates_to_process, period, input_path)

# Display the DataFrame
print("\nActual Objective Values:")
print(actual_values_df)

# Optionally, write the DataFrame to a CSV file
filename = "actual_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
actual_values_df.to_csv(output_filepath, index=False)
print(f"\nActual objective values have been written to {output_filepath}")

Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230316_to_20230316_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230328_to_20230328_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230403_to_20230403_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230409_to_20230409_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230410_to_20230410_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230501_to_20230501_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230515_to_20230515_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230619_to_20230619_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230622_to_20230622_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230626_to_20230626_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230709_to_20230709_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/cases/actual/d_actual_20230710_to_20230710_day_obj.csv

Actual Objective Values:
          Date  Actual Value
0   2023-03-16   -361.987103
1   2023-03-28   -374.830339
2   2023-04-03   -363.361144
3   2023-04-09   -325.200611
4   2023-04-10   -284.105345
5   2023-05-01   -278.937598
6   2023-05-15   -210.556669
7   2023-06-19   -142.044928
8   2023-06-22   -141.280659
9   2023-06-26   -151.591827
10  2023-07-09   -144.739719
11  2023-07-10   -139.454828

Actual objective values have been written to ../data/postprocessing/actual_objective_values.csv

In [25]:
def collect_objective_values(dates_to_process: List[datetime], period: str, input_path: str) -> pd.DataFrame:
    """
    Collect the actual deterministic objective values for a list of dates.

    Parameters:
    - dates_to_process: List of datetime objects representing the dates to process.
    - period: The period string used in the filenames (e.g., 'day', 'week').
    - input_path: The path where the objective value CSV files are located.

    Returns:
    - A pandas DataFrame with columns 'Date' and 'Actual Value'.
    """
    import os
    import pandas as pd
    from datetime import datetime

    values = []

    for date in dates_to_process:
        date_str = date.strftime('%Y%m%d')
        # Use your existing function to load the data
        data = load_deterministic_objective_values(date_str, period, input_path)
        if not data.empty:
            if 'ObjectiveValue' in data.columns:
                objective_value = data['ObjectiveValue'].iloc[0]
                values.append({
                    'Date': date.strftime('%Y-%m-%d'),
                    'Objective Value': objective_value
                })
            else:
                print(f"Die Spalte 'ObjectiveValue' wurde in der Datei {filename} nicht gefunden.")
        else:
            print(f"Datei {filename} existiert nicht im Pfad {input_path}.")
            
            
           
    # Create a DataFrame from the results
    values_df = pd.DataFrame(values)
    # Sort by date
    values_df = values_df.sort_values('Date').reset_index(drop=True)
    return values_df

In [26]:
input_path = INPUT_PATH_D_OBJ  # Ersetzen Sie dies durch den tatschlichen Pfad

# Aufrufen der Funktion
objective_values_df = collect_objective_values(dates_to_process, period, input_path)

# Anzeigen der Ergebnisse
print(objective_values_df)

# Optionally, write the DataFrame to a CSV file
filename = "deterministic_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
objective_values_df.to_csv(output_filepath, index=False)
print(f"\nObjective values have been written to {output_filepath}")

Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230316_to_20230316_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230328_to_20230328_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230403_to_20230403_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230409_to_20230409_day_obj.csv

Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230410_to_20230410_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230501_to_20230501_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230515_to_20230515_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230619_to_20230619_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230622_to_20230622_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230626_to_20230626_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230709_to_20230709_day_obj.csv
Loaded actual deterministic objective values from ../data/output/deterministic/objectives/d_20230710_to_20230710_day_obj.csv
          Date  Objective Value
0   2023-03-16      -331.454548
1   2023-03-28      -344.340342
2   2023-04-03      -350.829289
3   2023-04-09      -369.136508
4   2023-04-10      -351.346479
5   2023-05-01      -319.202618
6   2023-05-15      -204.749587
7   2023-06-19      -156.399839
8   2023-06-22      -159.799643
9   2023-06-26      -151.945301
10  2023-07-09      -159.842714
11  2023-07-10      -157.826941

Objective values have been written to ../data/postprocessing/deterministic_objective_values.csv

In [27]:
# Merge the first two DataFrames on 'Date'
merged_df = pd.merge(objective_values_df, results_df_rp, on='Date', how='outer')
# Merge the result with the third DataFrame
merged_df = pd.merge(merged_df, actual_values_df, on='Date', how='outer')

# Rename columns
merged_df.rename(columns={
    'Objective Value': 'DM Objective Value',
    'Weighted Stochastic Objective Value': 'SM Objective Value',
    'Actual Value': 'Actual Objective Value'
}, inplace=True)

merged_df = merged_df.round(2)

# Display the merged DataFrame
print("Merged DataFrame:")
print(merged_df)

# Optionally, write the DataFrame to a CSV file
filename = "all_objective_values.csv"
output_filepath = os.path.join(OUTPUT_PATH, filename)
merged_df.to_csv(output_filepath, index=False)
print(f"\nObjective values have been written to {output_filepath}")

Merged DataFrame:
          Date  DM Objective Value  SM Objective Value  Actual Objective Value
0   2023-03-16             -331.45             -326.89                 -361.99
1   2023-03-28             -344.34             -339.94                 -374.83
2   2023-04-03             -350.83             -346.04                 -363.36
3   2023-04-09             -369.14             -364.38                 -325.20
4   2023-04-10             -351.35             -342.53                 -284.11
5   2023-05-01             -319.20             -298.84                 -278.94
6   2023-05-15             -204.75             -195.91                 -210.56
7   2023-06-19             -156.40             -150.38                 -142.04
8   2023-06-22             -159.80             -153.94                 -141.28
9   2023-06-26             -151.95             -145.42                 -151.59
10  2023-07-09             -159.84             -152.25                 -144.74
11  2023-07-10             -157.83             -151.31                 -139.45

Objective values have been written to ../data/postprocessing/all_objective_values.csv